.admin-card-info {
  margin-top: 24px;
}

.admin-card-stat {
  margin-bottom: 16px;
}

.badge-pending {
  background-color: @pending-color;
}

.card.course {
  position: unset;
  z-index: 0;
}

.course-search.card {
  padding-top: 6px;
}

.copy-courses-table tbody tr {
  &:hover {
    background-color: @table-hover-bg;
    cursor: pointer;
  }
}

.activity-sidebar {
  .nav {
    padding-bottom: 80px;
  }
}

.activity-sidebar,
.series-sidebar {
  padding: 0;

  @media (min-width: @screen-md-min) {
    .nav {
      width: ~"calc((100vw - (@{container-desktop}) / 12 * 10) / 2)";
      height: ~"calc(100vh - (@{navbar-height} + 20px))";
      overflow-y: auto;

      &.affix-bottom {
        height: ~"calc(100vh - (@{navbar-height} + 120px))";
        position: fixed;
        top: 70px !important;
      }
    }
  }

  @media (min-width: @screen-lg-min) {
    .nav {
      width: ~"calc((100% - (@{container-large-desktop}) / 12 * 10) / 2)";
    }
  }

  .nav > li.header {
    color: @text-secondary;
  }

  .nav > li > a {
    display: block;
    padding: 6px 6px;
    font-size: 13px;
    font-weight: 500;
    color: @text-disabled;
  }

  .nav > li.active > a,
  .nav > li.active > a:hover {
    border-left: 2px solid @primary-800;
    padding-left: 4px;
    color: @text-secondary;
  }

  .nav > li > a:hover {
    border-left: 1px solid @primary-800;
    padding-left: 5px;
    color: @text-secondary;
  }
}
