.question-table {
  col.link {
    width: 40px;
  }

  col.actions {
    width: 80px;
  }

  col.exercise {
    width: 150px;
  }

  col.age {
    width: 150px;
  }

  col.name {
    width: 150px;
  }

  table-layout: fixed;
}
