.question-table {
  col.actions {
    width: 50px;
  }

  col.question {
    min-width: 150px;
  }

  col.age {
    width: 240px;
  }

  col.name {
    width: 120px;
  }

  .selection-row {
    cursor: pointer;

    &:hover {
      background-color: var(--d-table-hover-bg);
    }
  }

  table-layout: fixed;
}

@include media-breakpoint-up(md) {
  .question-table {
    .icon-indent {
      padding-left: 23px;
    }

    col.name {
      width: 170px;
    }
  }
}
