.question-table {
  col.actions {
    width: 80px;
  }

  col.age {
    width: 240px;
  }

  col.name {
    width: 150px;
  }

  td.actions {
    vertical-align: middle;
  }

  .selection-row {
    cursor: pointer;
    &:hover {
      background-color: @table-hover-bg;
    }
  }

  table-layout: fixed;
}
