.score-items-card .panel {
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
}

.score-items-table {
  td.description {
    width: 400px;
    p {
      margin: 0;
    }
  }

  td.visibility {
    width: 20px;
  }

  td.maximum {
    width: 105px;
    padding-right: 20px;
  }

  td.actions {
    width: 77px;
    padding: 3px;
  }

  td.name {
    width: 250px;
  }

  td.wide-description {
    width: 650px;
  }

  .maximum-row {
    font-weight: bold;
  }
}

.selected-score-items {
  display: inline-block;
}

a.option-btn {
  text-decoration: none;
  color: $text-color;
}

.score-item-toolbar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-bottom: 6px;
}

.score-item-toolbar .score-item-toolbar-tools {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.score-item-toolbar .score-item-toolbar-tools .description-text {
  margin-left: 0;
  flex: 1;
}
