.add-activity-action {
  width: 25px;
}

.series-activity-list .exercise {
  height: 40px;
  transition: opacity 0.5s ease-in-out;
}

.series-activity-list .activity.new {
  opacity: 0;
}

.series-activity-list .activity.pending {
  opacity: 0.5;
}

.activity.gu-mirror .actions,
.series-activity-list .activity .actions {
  text-align: right;
}

.series-activity-list .status-icon,
#activities-table-wrapper .status-icon {
  text-align: right;
  color: $on-surface-muted;
}

.deadline-future {
  color: $on-surface-muted;
}

.deadline-passed {
  color: $danger;
}

.deadline-ok {
  color: $success;
}

.submission-status-button {
  a {
    color: $primary;
  }
}

.card.series-overview {
  overflow: visible;
}

.card.series {
  .card-subtitle {
    position: relative;
    margin-bottom: 16px;
  }

  .card-subtitle h4 {
    line-height: 24px;
  }

  .card-subtitle h4 small {
    font-size: 65%;
  }

  .card-subtitle-actions .mdi-format-list-bulleted {
    vertical-align: text-bottom;
  }

  .card-title-icon {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: $gray;

    & > .mdi::before {
      line-height: 24px;
    }

    &.deadline-missed .mdi-alarm-off {
      &::before {
        color: $danger;
      }

      background-color: $content-bg;
      position: absolute;
      top: 24px;
      left: 24px;
      border: 1px solid $content-bg;
    }

    &.deadline-met .mdi-alarm-check {
      &::before {
        color: $success;
      }

      background-color: $content-bg;
      position: absolute;
      top: 24px;
      left: 24px;
      border: 1px solid $content-bg;
    }

    i {
      color: $gray;
      background: $content-bg;
      border-radius: 50%;
      border: 5px solid $content-bg;
    }

    &.wrong {
      background-color: $danger;

      i {
        color: $danger;
      }
    }

    &.started,
    &.completed.deadline-missed {
      background-color: $success;

      i {
        color: $success;
      }
    }

    &.completed:not(.deadline-missed) {
      $red: $red-500;
      $orange: $orange-500;
      $yellow: $yellow-500;
      $green: $green-500;
      $blue: $blue-500;
      $purple: $purple-500;

      $p1: 10%;
      $p2: 25%;
      $p3: 40%;
      $p4: 60%;
      $p5: 75%;
      $p6: 90%;

      background-image:
        linear-gradient(
          -135deg,
          $red-70 $p1,
          $orange-70 $p2,
          $yellow-70 $p3,
          $green-70 $p4,
          $blue-70 $p5,
          $purple-70 $p6
        );

      i {
        font-weight: bolder;
        font-size: 32px;
        background: transparent;
        border: transparent;
        color: white;
      }
    }
  }
}

.card.series-edit {
  overflow: visible;
}

.mdi-alarm.mdi-12::before {
  top: 2px;
}

.table.table-resource td.series-activities-table-labels {
  white-space: normal;
}

.graph-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-title {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.stats-container {
  position: relative; // needed for the correct positioning of the tooltips
}

.graph-info {
  margin-left: 5px;
  color: $on-surface-muted;
}

.svg-icon-btn {
  fill: currentcolor;

  &.rotate {
    transform: rotate(90deg);
  }
}

.d3-tooltip-label {
  font-size: 12px;
  paint-order: stroke;
  stroke: $content-bg;
  stroke-width: 2px;
}
