.add-activity-action {
  width: 25px;
}

.series-activity-list .exercise {
  height: 40px;
  transition: opacity 0.5s ease-in-out;
}

.series-activity-list .activity.new {
  opacity: 0;
}

.series-activity-list .activity.pending {
  opacity: 0.5;
}

.activity.gu-mirror .actions,
.series-activity-list .activity .actions {
  text-align: right;
}

.series-activity-list .status-icon,
#activities-table-wrapper .status-icon {
  text-align: right;
  color: $on-surface-muted;
}

.deadline-future {
  color: $on-surface-muted;
}

.deadline-passed {
  color: $danger;
}

.deadline-ok {
  color: $success;
}

.submission-status-button {
  a {
    color: $primary;
  }
}

.card.series-overview {
  overflow: visible;
}

.card.series {
  .card-subtitle {
    position: relative;
    margin-bottom: 16px;
  }

  .card-subtitle h4 {
    line-height: 24px;
  }

  .card-subtitle h4 small {
    font-size: 65%;
  }

  .card-subtitle-actions .mdi-format-list-bulleted {
    vertical-align: text-bottom;
  }

  .series-icon {
    margin-right: 16px;
  }
}

.series-icon {
  position: relative;
  padding: 0;
  overflow: visible;

  --icon-color: #{$gray};
  --icon-background-color: #{$content-bg};
  --deadline-icon-background-color: #{$content-bg};
  --deadline-icon-color: #{$success};

  #rainbow {
    --red: #{$red-70};
    --orange: #{$orange-70};
    --yellow: #{$yellow-70};
    --green: #{$green-70};
    --blue: #{$blue-70};
    --purple: #{$purple-70};
  }

  &.deadline-missed {
    --deadline-icon-color: #{$danger};
  }

  &.wrong {
    --icon-color: #{$danger};
  }

  &.started,
  &.completed.deadline-missed {
    --icon-color: #{$success};
  }

  &.completed:not(.deadline-missed) {
    --icon-color: #{white};
    --icon-background-color: transparent;

    .outer-circle {
      fill: url("#rainbow");
    }
  }

  .mdi::before {
    line-height: 24px;
  }

  .mdi.mdi-18::before {
    line-height: 18px;
  }
}

.card.series-edit {
  overflow: visible;
}

.mdi-alarm.mdi-12::before {
  top: 2px;
}

.table.table-resource td.series-activities-table-labels {
  white-space: normal;
}

.skeleton-table {
  .sk-p {
    background-image: linear-gradient($skeleton-color 100%, transparent 0);
    width: 116px;
    background-size: 100px 12px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
  }

  .sk-s {
    background-image: linear-gradient($skeleton-color 100%, transparent 0);
    width: 126px;
    background-size: 110px 12px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
  }

  .sk-i {
    background-image: linear-gradient($skeleton-color 100%, transparent 0);
    display: block;
    background-size: 17px 12px;
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      visibility: hidden;
    }
  }
}

.graph-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.graph-title {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.stats-container {
  position: relative; // needed for the correct positioning of the tooltips
}

.graph-info {
  margin-left: 5px;
  color: $on-surface-muted;
}

.svg-icon-btn {
  fill: currentcolor;

  &.rotate {
    transform: rotate(90deg);
  }
}

.d3-tooltip-label {
  font-size: 12px;
  paint-order: stroke;
  stroke: $content-bg;
  stroke-width: 2px;
}
