<%= render partial: 'layouts/searchbar',
            locals: {
            eager: false,
            course_labels: @course_labels,
            institutions: Institution.of_course_by_members(@course),
          } %>
<div id="users-table-wrapper">
  <%= render partial: 'members_table',
              locals: {
              course_memberships: @course_memberships,
              pagination_opts: @pagination_opts,
              confirm: confirm
            } %>
</div>
