<div class="row">
  <div class="col-12 col-md-10 offset-md-1">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <div class="callout callout-info">
          <%= t('.explanation', series: @evaluation.series.name, deadline: l(@evaluation.deadline, format: :submission)) %>
        </div>
        <%= render partial: 'overview', locals: { evaluation: @evaluation, user: current_user } %>
      </div>
    </div>
  </div>
</div>
