<div class="row">
  <div class="offset-md-1 col-md-10 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
      </div>
      <div class="card-supporting-text" id="requests-table-wrapper">
        <%= render partial: 'requests_table', locals: { requests: @requests } %>
      </div>
    </div>
  </div>
</div>
