<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'layouts/searchbar' %>
        <div id="institution-table-wrapper">
          <%= render partial: 'institution_table', locals: {institutions: @institutions, pagination_opts: @pagination_opts} %>
        </div>
      </div>
    </div>
  </div>
</div>
