# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

*               @dodona-edu/review
package.json    @jorg-vr
yarn.lock       @jorg-vr
Gemfile         @jorg-vr
Gemfile.lock    @jorg-vr
