# Ignore GitHub folders.
.github/

# Ignore the git history.
.git/

# Ignore test coverage data.
coverage/

# Ignore exercises.
data/

# Ignore the logs and temporary files.
log/
tmp/

# Ignore the node modules.
node_modules/

# Ignore compiled javascript.
public/packs/