extends:
  - "stylelint-config-standard-scss"
rules:
  color-hex-length: long
  scss/dollar-variable-empty-line-before: null
  scss/at-import-partial-extension: null
  no-descending-specificity: null
  alpha-value-notation: number
  no-invalid-position-at-import-rule: null
  number-max-precision: null
  color-function-notation: legacy
