<%# We don't user user.repository_admin?, otherwise every zeus would show up as admin in the non-admin list %>
<% is_repository_admin = user.repositories.include?(repository) %>
<% if is_repository_admin && show_delete_button %>
  <button type="button" class="btn btn-icon btn-icon-filled d-btn-danger remove-admin">
    <i class="mdi mdi-delete"></i>
  </button>
<% elsif !is_repository_admin %>
  <button type="button" class="btn btn-icon add-admin">
    <i class="mdi mdi-account-plus"></i>
  </button>
<% else %>
  <button type="button" class="btn btn-icon add-admin invisible">
    <i class="mdi mdi-account-plus"></i>
  </button>
<% end %>
