<% is_allowed = course.usable_repositories.include?(repository) %>
<% if is_allowed && show_delete_button %>
  <button type="button" class="btn btn-sm btn-danger remove-course">
    <i class="material-icons md-18">delete</i>
  </button>
<% elsif !is_allowed %>
  <button type="button" class="btn btn-sm add-course">
    <i class="material-icons md-18">add</i>
  </button>
<% end %>
