<%# We don't user user.repository_admin?, otherwise every zeus would show up as admin in the non-admin list %>
<% is_repository_admin = user.repositories.include?(repository) %>
<% if is_repository_admin %>
  <button type="button" data-user_id="<%= user.id %>" data-repository_id="<%= repository.id %>" class="btn btn-sm btn-danger remove-admin">
    <i class="material-icons md-12">close</i>
  </button>
<% else %>
  <button type="button" data-user_id="<%= user.id %>" data-repository_id="<%= repository.id %>" class="btn btn-sm btn-success add-admin">
    <i class="material-icons md-12">add</i>
  </button>
<% end %>
