<% institution_providers.each do |provider| %>
<% institution = provider.institution %>
    <div class="col-sm-6 col-lg-4">
    <div class="option-btn">
        <div class="option-btn-img">
        </div>
        <div class="option-btn-title">
        <h3><%= institution.short_name %><br>
            <small><%= institution.name %></small>
        </h3>
        </div>
        <div><i class="mdi mdi-chevron-right"></i></div>
    </div>
    </div>
<% end %>