.sign-in-wrapper a {
  border-radius: 2px;
  display: block;
}

// sign in page
.sign-in-dialog-wrapper {

  .card {
    flex-grow: 1;
  }
  .login-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 45px;
  }
}

.sign-in-dialog-wrapper h1 {
  line-height: 1;
}

.sign-in-dialog-wrapper h1 small {
  line-height: 2;
  font-size: 50%;
}

.sign-in-dialog-wrapper h2 {
  line-height: 1;
  margin-top: 15px;
  small {
    font-size: 50%;
  }
}

.sign-in-dialog-footer {
  padding: 15px;
  padding-top: 0;
}

.sign-in-dialog-header {
  padding: 15px;
}

a.institution-sign-in {
  color: $text-color;
}

a.institution-sign-in:link,
a.institution-sign-in:visited,
a.institution-sign-in:hover,
a.institution-sign-in:active {
  text-decoration: none;
}

.sign-in-divider .divider {
  margin-top: 45px;
}

input:focus {
  outline: none;
}

#scrollable-dropdown-menu {
  .card {
    margin-bottom: 0;
  }
  margin-bottom: 16px;
  .tt-menu {
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    width: 100%;
  }

  .tt-selectable:hover {
    background-color: lightskyblue;
  }

  .tt-input, .tt-hint {
    border: none;
    font-size: 18px;
    min-height: 42px;
    color: $text-color;
    border-radius: 6px 0 0 6px !important;

  }
}
