.sign-in-wrapper a {
  border-radius: 4px;
  display: block;
}

// sign in page
.sign-in-dialog-wrapper {
  .card {
    flex-grow: 1;
  }

  .login-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 45px;
  }
}

.sign-in-dialog-wrapper h1 {
  line-height: 1;
}

.sign-in-dialog-wrapper h1 small {
  line-height: 2;
  font-size: 50%;
}

.sign-in-dialog-wrapper h2 {
  line-height: 1;
  margin-top: 15px;

  small {
    font-size: 50%;
  }
}

.sign-in-dialog-footer {
  padding: 15px;
  padding-top: 0;
}

.sign-in-dialog-header {
  padding: 15px;
  padding-bottom: 0;
}

a.institution-sign-in {
  color: var(--d-on-surface);
}

a.institution-sign-in:link,
a.institution-sign-in:visited,
a.institution-sign-in:hover,
a.institution-sign-in:active {
  text-decoration: none;
}

.sign-in-divider .divider {
  margin-top: 45px;
}

input:focus {
  outline: none;
}

d-sign-in-search-bar d-datalist-input {
  flex-grow: 1;

  .form-control {
    font-size: 1rem;
    padding: 0.65rem;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
  }

  .dropdown-item {
    font-size: 1rem;
  }

  .dropdown-menu {
    width: 100%;

    a:hover {
      font-size: 1rem;
    }
  }
}
