.cm-editor {
  background: var(--d-code-bg);

  .cm-gutters {
    background: var(--d-surface);
    color: var(--d-on-surface-muted);
    border: none;
    font-size: 12px;
  }

  .cm-content {
    color: var(--d-on-background);
  }

  /* stylelint-disable selector-class-pattern */
  .cm-activeLine, .cm-activeLineGutter {
    // Make the active line indicate transparant, as GitHub does.
    // Otherwise, this interferes with the text selection highlight.
    background: transparent;
  }

  &.cm-focused {
    outline: none !important;
  }

  .cm-selectionBackground {
    background: var(--d-surface-variant) !important;
  }

  .cm-cursor {
    // Sets the color of the cursor.
    border-left: 1.2px solid var(--d-secondary);
  }

  .cm-tooltip {
    background: var(--d-surface) !important;
    border: none;

    @include shadow-z2;

    li[aria-selected] {
      background: var(--d-secondary) !important;
      color: var(--d-on-secondary) !important;
    }
  }
}
