// primary: teal
@primary-100: @blue-100;
@primary-300: @blue-300;
@primary-500: @blue-500;
@primary-700: @blue-700;
@primary-800: @blue-800;
@primary-900: @blue-900;
@primary-A100: @blue-A100;
// accent: pink
@accent-300: @amber-300;
@accent-500: @amber-500;
@accent-700: @amber-700;
@accent-800: @amber-800;
@accent-900: @amber-900;
@accent-A100: @amber-A100;
