// primary: teal
$primary-100: $teal-100;
$primary-300: $teal-300;
$primary-500: $teal-500;
$primary-700: $teal-700;
$primary-800: $teal-800;
$primary-900: $teal-900;
$primary-A100: $teal-A100;

// accent: pink
$accent-300: $pink-300;
$accent-500: $pink-500;
$accent-700: $pink-700;
$accent-800: $pink-800;
$accent-900: $pink-900;
$accent-A100: $pink-A100;
