$red-0: #000000;
$red-10: #410001;
$red-20: #680001;
$red-25: #7e0002;
$red-30: #940002;
$red-35: #aa0108;
$red-40: #bc1714;
$red-50: #e0342a;
$red-60: #ff5445;
$red-70: #ff8978;
$red-80: #ffb4a8;
$red-90: #ffdad3;
$red-95: #ffede9;
$red-98: #fff8f6;
$red-99: #fcfcfc;
$red-100: #ffffff;

$pink-0: #000000;
$pink-10: #400013;
$pink-20: #670024;
$pink-25: #7c002d;
$pink-30: #900036;
$pink-35: #a70040;
$pink-40: #bc0049;
$pink-50: #e61a61;
$pink-60: #ff4c7e;
$pink-70: #ff859f;
$pink-80: #ffb2c0;
$pink-90: #ffd9df;
$pink-95: #ffecee;
$pink-98: #fff8f8;
$pink-99: #fcfcfc;
$pink-100: #ffffff;

$purple-0: #000000;
$purple-10: #350040;
$purple-20: #570068;
$purple-25: #69007c;
$purple-30: #7b0091;
$purple-35: #8c10a1;
$purple-40: #9a25ae;
$purple-50: #b743ca;
$purple-60: #d560e6;
$purple-70: #f27cff;
$purple-80: #fbaaff;
$purple-90: #ffd5ff;
$purple-95: #ffeafd;
$purple-98: #fff7fc;
$purple-99: #fcfcfc;
$purple-100: #ffffff;

$deep-purple-0: #000000;
$deep-purple-10: #25005b;
$deep-purple-20: #3e008e;
$deep-purple-25: #4b159b;
$deep-purple-30: #5727a7;
$deep-purple-35: #6335b3;
$deep-purple-40: #6f43bf;
$deep-purple-50: #895edb;
$deep-purple-60: #a479f7;
$deep-purple-70: #bd99ff;
$deep-purple-80: #d4baff;
$deep-purple-90: #ecdcff;
$deep-purple-95: #f8edff;
$deep-purple-98: #fff7ff;
$deep-purple-99: #fffbfd;
$deep-purple-100: #ffffff;

$indigo-0: #000000;
$indigo-10: #000d61;
$indigo-20: #08218a;
$indigo-25: #1b2f94;
$indigo-30: #293ca0;
$indigo-35: #3649ac;
$indigo-40: #4355ba;
$indigo-50: #5d6fd4;
$indigo-60: #7789f0;
$indigo-70: #95a5ff;
$indigo-80: #b9c3ff;
$indigo-90: #dde0ff;
$indigo-95: #efefff;
$indigo-98: #faf8ff;
$indigo-99: #fefbff;
$indigo-100: #ffffff;

$blue-0: #000000;
$blue-10: #001d36;
$blue-20: #00325a;
$blue-25: #003d6c;
$blue-30: #00497f;
$blue-35: #005592;
$blue-40: #0061a6;
$blue-50: #007ace;
$blue-60: #1e95f2;
$blue-70: #60b0ff;
$blue-80: #9ccaff;
$blue-90: #d0e4ff;
$blue-95: #e8f1ff;
$blue-98: #f7f9ff;
$blue-99: #fcfcff;
$blue-100: #ffffff;

$light-blue-0: #000000;
$light-blue-10: #001e31;
$light-blue-20: #003450;
$light-blue-25: #003f60;
$light-blue-30: #004b71;
$light-blue-35: #005782;
$light-blue-40: #006494;
$light-blue-50: #007eb9;
$light-blue-60: #0099e0;
$light-blue-70: #2ab5ff;
$light-blue-80: #8bceff;
$light-blue-90: #c8e6ff;
$light-blue-95: #e4f2ff;
$light-blue-98: #f6faff;
$light-blue-99: #fbfcff;
$light-blue-100: #ffffff;

$cyan-0: #000000;
$cyan-10: #001f25;
$cyan-20: #00363f;
$cyan-25: #00424c;
$cyan-30: #004e5a;
$cyan-35: #005b68;
$cyan-40: #006877;
$cyan-50: #008395;
$cyan-60: #009fb5;
$cyan-70: #00bcd4;
$cyan-80: #44d8f1;
$cyan-90: #9cefff;
$cyan-95: #d0f7ff;
$cyan-98: #ebfcff;
$cyan-99: #f6fdff;
$cyan-100: #ffffff;

$teal-0: #000000;
$teal-10: #00201c;
$teal-20: #003730;
$teal-25: #00443c;
$teal-30: #005047;
$teal-35: #005d53;
$teal-40: #006a5f;
$teal-50: #008678;
$teal-60: #00a293;
$teal-70: #2bbfae;
$teal-80: #53dbc9;
$teal-90: #74f7e5;
$teal-95: #b1fff3;
$teal-98: #e3fffa;
$teal-99: #f0fffc;
$teal-100: #ffffff;

$green-0: #000000;
$green-10: #002203;
$green-20: #003907;
$green-25: #00460a;
$green-30: #00530f;
$green-35: #006113;
$green-40: #006e17;
$green-50: #21892f;
$green-60: #41a447;
$green-70: #5cc05e;
$green-80: #78dc77;
$green-90: #93f990;
$green-95: #c6ffbe;
$green-98: #eaffe1;
$green-99: #f5ffed;
$green-100: #ffffff;

$light-green-0: #000000;
$light-green-10: #0e2000;
$light-green-20: #1c3700;
$light-green-25: #234300;
$light-green-30: #2c5000;
$light-green-35: #345d00;
$light-green-40: #3c6a00;
$light-green-50: #51840a;
$light-green-60: #6a9f2a;
$light-green-70: #83bb43;
$light-green-80: #9ed75c;
$light-green-90: #b9f475;
$light-green-95: #d1ff96;
$light-green-98: #efffd2;
$light-green-99: #f8ffe4;
$light-green-100: #ffffff;

$lime-0: #000000;
$lime-10: #1a1e00;
$lime-20: #2e3400;
$lime-25: #383f00;
$lime-30: #434b00;
$lime-35: #4e5700;
$lime-40: #5a6400;
$lime-50: #727e00;
$lime-60: #8b9800;
$lime-70: #a6b400;
$lime-80: #c1d02c;
$lime-90: #deed49;
$lime-95: #ebfb56;
$lime-98: #f9ffa7;
$lime-99: #feffce;
$lime-100: #ffffff;

$yellow-0: #000000;
$yellow-10: #201c00;
$yellow-20: #373100;
$yellow-25: #433c00;
$yellow-30: #504700;
$yellow-35: #5d5300;
$yellow-40: #6a5f00;
$yellow-50: #857800;
$yellow-60: #a29200;
$yellow-70: #bead00;
$yellow-80: #dbc808;
$yellow-90: #f9e534;
$yellow-95: #fff389;
$yellow-98: #fffadb;
$yellow-99: #fffbf7;
$yellow-100: #ffffff;

$amber-0: #000000;
$amber-10: #261a00;
$amber-20: #402d00;
$amber-25: #4e3800;
$amber-30: #5c4300;
$amber-35: #6b4e00;
$amber-40: #795900;
$amber-50: #997100;
$amber-60: #b88900;
$amber-70: #d9a200;
$amber-80: #fabd00;
$amber-90: #ffdf99;
$amber-95: #ffefd0;
$amber-98: #fff8ed;
$amber-99: #fffbf8;
$amber-100: #ffffff;

$orange-0: #000000;
$orange-10: #2d1600;
$orange-20: #4b2800;
$orange-25: #5a3200;
$orange-30: #6a3b00;
$orange-35: #7b4600;
$orange-40: #8c5000;
$orange-50: #ae6500;
$orange-60: #d37c00;
$orange-70: #f89300;
$orange-80: #ffb86d;
$orange-90: #ffdcbb;
$orange-95: #ffeedf;
$orange-98: #fff8f3;
$orange-99: #fcfcfc;
$orange-100: #ffffff;

$deep-orange-0: #000000;
$deep-orange-10: #3c0800;
$deep-orange-20: #601400;
$deep-orange-25: #741a00;
$deep-orange-30: #882000;
$deep-orange-35: #9d2600;
$deep-orange-40: #b22d00;
$deep-orange-50: #db3e03;
$deep-orange-60: #ff5722;
$deep-orange-70: #ff8b67;
$deep-orange-80: #ffb49d;
$deep-orange-90: #ffdacf;
$deep-orange-95: #ffede7;
$deep-orange-98: #fff8f5;
$deep-orange-99: #fcfcfc;
$deep-orange-100: #ffffff;

$brown-0: #000000;
$brown-10: #380c00;
$brown-20: #5c1a00;
$brown-25: #6c2403;
$brown-30: #7b2e0d;
$brown-35: #8b3a18;
$brown-40: #9a4523;
$brown-50: #ba5d38;
$brown-60: #d9754e;
$brown-70: #fa8f66;
$brown-80: #ffb598;
$brown-90: #ffdbcd;
$brown-95: #ffede6;
$brown-98: #fff8f5;
$brown-99: #fcfcfc;
$brown-100: #ffffff;

$gray-0: #000000;
$gray-10: #001f24;
$gray-20: #00363d;
$gray-25: #00424a;
$gray-30: #004f59;
$gray-35: #005b66;
$gray-40: #006874;
$gray-50: #008392;
$gray-60: #009fb1;
$gray-70: #22bcce;
$gray-80: #4fd8eb;
$gray-90: #90f1ff;
$gray-95: #ccf8ff;
$gray-98: #ebfcff;
$gray-99: #f2feff;
$gray-100: #ffffff;

$blue-gray-0: #000000;
$blue-gray-10: #001f2a;
$blue-gray-20: #003546;
$blue-gray-25: #004155;
$blue-gray-30: #004d64;
$blue-gray-35: #005a75;
$blue-gray-40: #006684;
$blue-gray-50: #0081a6;
$blue-gray-60: #079dc7;
$blue-gray-70: #40b8e3;
$blue-gray-80: #62d3ff;
$blue-gray-90: #bae9ff;
$blue-gray-95: #ddf4ff;
$blue-gray-98: #f2faff;
$blue-gray-99: #f9fcff;
$blue-gray-100: #ffffff;
