@import "theme/m3-colors.css.scss";

$primary-0: $blue-0;
$primary-10: $blue-10;
$primary-20: $blue-20;
$primary-25: $blue-25;
$primary-30: $blue-30;
$primary-35: $blue-35;
$primary-40: $blue-40;
$primary-50: $blue-50;
$primary-60: $blue-60;
$primary-70: $blue-70;
$primary-80: $blue-80;
$primary-90: $blue-90;
$primary-95: $blue-95;
$primary-98: $blue-98;
$primary-99: $blue-99;
$primary-100: $blue-100;

$secondary-0: $amber-0;
$secondary-10: $amber-10;
$secondary-20: $amber-20;
$secondary-25: $amber-25;
$secondary-30: $amber-30;
$secondary-35: $amber-35;
$secondary-40: $amber-40;
$secondary-50: $amber-50;
$secondary-60: $amber-60;
$secondary-70: $amber-70;
$secondary-80: $amber-80;
$secondary-90: $amber-90;
$secondary-95: $amber-95;
$secondary-98: $amber-98;
$secondary-99: $amber-99;
$secondary-100: $amber-100;

$tertiary-0: $pink-0;
$tertiary-10: $pink-10;
$tertiary-20: $pink-20;
$tertiary-25: $pink-25;
$tertiary-30: $pink-30;
$tertiary-35: $pink-35;
$tertiary-40: $pink-40;
$tertiary-50: $pink-50;
$tertiary-60: $pink-60;
$tertiary-70: $pink-70;
$tertiary-80: $pink-80;
$tertiary-90: $pink-90;
$tertiary-95: $pink-95;
$tertiary-98: $pink-98;
$tertiary-99: $pink-99;
$tertiary-100: $pink-100;

$neutral-0: $gray-0;
$neutral-10: $gray-10;
$neutral-20: $gray-20;
$neutral-25: $gray-25;
$neutral-30: $gray-30;
$neutral-35: $gray-35;
$neutral-40: $gray-40;
$neutral-50: $gray-50;
$neutral-60: $gray-60;
$neutral-70: $gray-70;
$neutral-80: $gray-80;
$neutral-90: $gray-90;
$neutral-95: $gray-95;
$neutral-98: $gray-98;
$neutral-99: $gray-99;
$neutral-100: $gray-100;

$neutral-variant-0: $blue-gray-0;
$neutral-variant-10: $blue-gray-10;
$neutral-variant-20: $blue-gray-20;
$neutral-variant-25: $blue-gray-25;
$neutral-variant-30: $blue-gray-30;
$neutral-variant-35: $blue-gray-35;
$neutral-variant-40: $blue-gray-40;
$neutral-variant-50: $blue-gray-50;
$neutral-variant-60: $blue-gray-60;
$neutral-variant-70: $blue-gray-70;
$neutral-variant-80: $blue-gray-80;
$neutral-variant-90: $blue-gray-90;
$neutral-variant-95: $blue-gray-95;
$neutral-variant-98: $blue-gray-98;
$neutral-variant-99: $blue-gray-99;
$neutral-variant-100: $blue-gray-100;
