// This file contains all "design tokens" according to material 3 in light mode.
// At the bottom of this file, there are a number of dodona-specific variables

@import "theme/m3-theme.css.scss";

$primary: $primary-40;
$primary-container: $primary-90;
$on-primary: $primary-100;
$on-primary-container: $primary-10;

$secondary: $secondary-40;
$secondary-container: $secondary-90;
$on-secondary: $secondary-100;
$on-secondary-container: $secondary-10;

$tertiary: $tertiary-40;
$tertiary-container: $tertiary-90;
$on-tertiary: $tertiary-100;
$on-tertiary-container: $tertiary-10;

$surface: $neutral-99;
$surface-variant: $neutral-variant-90;
$background: $neutral-98;
$on-surface: $neutral-10;
$on-surface-variant: $neutral-variant-30;
$on-surface-muted: $neutral-30;
$on-background: $neutral-10;

$outline: $neutral-variant-50;
$divider: $neutral-90;
$shadow: $neutral-0;
$surface-tint: $primary;
$inverse-surface: $neutral-20;
$inverse-on-surface: $neutral-95;
$inverse-primary: $primary-80;

$info: $info-40;
$info-container: $info-90;
$on-info: $info-100;
$on-info-container: $info-10;

// changed from 40 to 60
$success: $success-60;
$success-container: $success-90;
$on-success: $success-100;
$on-success-container: $success-10;

// changed from 40 to 60
$danger: $danger-60;
$danger-container: $danger-90;
$on-danger: $danger-100;
$on-danger-container: $danger-10;

// changed from 40 to 70
$warning: $warning-70;
$warning-container: $warning-90;
$on-warning: $warning-100;
$on-warning-container: $warning-10;

$red: $red-40;
$red-container: $red-90;
$on-red: $red-100;
$on-red-container: $red-10;

$pink: $pink-40;
$pink-container: $pink-90;
$on-pink: $pink-100;
$on-pink-container: $pink-10;

$purple: $purple-40;
$purple-container: $purple-90;
$on-purple: $purple-100;
$on-purple-container: $purple-10;

$deep-purple: $deep-purple-40;
$deep-purple-container: $deep-purple-90;
$on-deep-purple: $deep-purple-100;
$on-deep-purple-container: $deep-purple-10;

$indigo: $indigo-40;
$indigo-container: $indigo-90;
$on-indigo: $indigo-100;
$on-indigo-container: $indigo-10;

$blue: $blue-40;
$blue-container: $blue-90;
$on-blue: $blue-100;
$on-blue-container: $blue-10;

$light-blue: $light-blue-40;
$light-blue-container: $light-blue-90;
$on-light-blue: $light-blue-100;
$on-light-blue-container: $light-blue-10;

$cyan: $cyan-40;
$cyan-container: $cyan-90;
$on-cyan: $cyan-100;
$on-cyan-container: $cyan-10;

$teal: $teal-40;
$teal-container: $teal-90;
$on-teal: $teal-100;
$on-teal-container: $teal-10;

$green: $green-40;
$green-container: $green-90;
$on-green: $green-100;
$on-green-container: $green-10;

$light-green: $light-green-40;
$light-green-container: $light-green-90;
$on-light-green: $light-green-100;
$on-light-green-container: $light-green-10;

$yellow: $yellow-40;
$yellow-container: $yellow-90;
$on-yellow: $yellow-100;
$on-yellow-container: $yellow-10;

$amber: $amber-40;
$amber-container: $amber-90;
$on-amber: $amber-100;
$on-amber-container: $amber-10;

$orange: $orange-40;
$orange-container: $orange-90;
$on-orange: $orange-100;
$on-orange-container: $orange-10;

$deep-orange: $deep-orange-40;
$deep-orange-container: $deep-orange-90;
$on-deep-orange: $deep-orange-100;
$on-deep-orange-container: $deep-orange-10;

$brown: $brown-40;
$brown-container: $brown-90;
$on-brown: $brown-100;
$on-brown-container: $brown-10;

$gray: $gray-40;
$gray-container: $gray-90;
$on-gray: $gray-100;
$on-gray-container: $gray-10;

$blue-gray: $blue-gray-40;
$blue-gray-container: $blue-gray-90;
$on-blue-gray: $blue-gray-100;
$on-blue-gray-container: $blue-gray-10;

$off-surface: $neutral-95;

$code-bg: $neutral-95;
$skeleton-color: $surface-variant;

$head: $primary;
$on-head: $on-primary;

// this should be fixed using css and not in scss
.dark-only {
  display: none;
}

.light-only {
  display: unset;
}
