// This file contains mapping for all tints for primary, secondary, tertiary,
// neutral, neutral variant, info, warning, danger and success.

@import "theme/m3-colors.css.scss";

$primary-0: $blue-0;
$primary-10: $blue-10;
$primary-20: $blue-20;
$primary-25: $blue-25;
$primary-30: $blue-30;
$primary-35: $blue-35;
$primary-40: $blue-40;
$primary-50: $blue-50;
$primary-60: $blue-60;
$primary-70: $blue-70;
$primary-80: $blue-80;
$primary-90: $blue-90;
$primary-95: $blue-95;
$primary-98: $blue-98;
$primary-99: $blue-99;
$primary-100: $blue-100;

$secondary-0: $pink-0;
$secondary-10: $pink-10;
$secondary-20: $pink-20;
$secondary-25: $pink-25;
$secondary-30: $pink-30;
$secondary-35: $pink-35;
$secondary-40: $pink-40;
$secondary-50: $pink-50;
$secondary-60: $pink-60;
$secondary-70: $pink-70;
$secondary-80: $pink-80;
$secondary-90: $pink-90;
$secondary-95: $pink-95;
$secondary-98: $pink-98;
$secondary-99: $pink-99;
$secondary-100: $pink-100;

$tertiary-0: $amber-0;
$tertiary-10: $amber-10;
$tertiary-20: $amber-20;
$tertiary-25: $amber-25;
$tertiary-30: $amber-30;
$tertiary-35: $amber-35;
$tertiary-40: $amber-40;
$tertiary-50: $amber-50;
$tertiary-60: $amber-60;
$tertiary-70: $amber-70;
$tertiary-80: $amber-80;
$tertiary-90: $amber-90;
$tertiary-95: $amber-95;
$tertiary-98: $amber-98;
$tertiary-99: $amber-99;
$tertiary-100: $amber-100;

$neutral-0: $gray-0;
$neutral-10: $gray-10;
$neutral-20: $gray-20;
$neutral-25: $gray-25;
$neutral-30: $gray-30;
$neutral-35: $gray-35;
$neutral-40: $gray-40;
$neutral-50: $gray-50;
$neutral-60: $gray-60;
$neutral-70: $gray-70;
$neutral-80: $gray-80;
$neutral-90: $gray-90;
$neutral-95: $gray-95;
$neutral-98: $gray-98;
$neutral-99: $gray-99;
$neutral-100: $gray-100;

$neutral-variant-0: $blue-gray-0;
$neutral-variant-10: $blue-gray-10;
$neutral-variant-20: $blue-gray-20;
$neutral-variant-25: $blue-gray-25;
$neutral-variant-30: $blue-gray-30;
$neutral-variant-35: $blue-gray-35;
$neutral-variant-40: $blue-gray-40;
$neutral-variant-50: $blue-gray-50;
$neutral-variant-60: $blue-gray-60;
$neutral-variant-70: $blue-gray-70;
$neutral-variant-80: $blue-gray-80;
$neutral-variant-90: $blue-gray-90;
$neutral-variant-95: $blue-gray-95;
$neutral-variant-98: $blue-gray-98;
$neutral-variant-99: $blue-gray-99;
$neutral-variant-100: $blue-gray-100;

$info-0: $blue-0;
$info-10: $blue-10;
$info-20: $blue-20;
$info-25: $blue-25;
$info-30: $blue-30;
$info-35: $blue-35;
$info-40: $blue-40;
$info-50: $blue-50;
$info-60: $blue-60;
$info-70: $blue-70;
$info-80: $blue-80;
$info-90: $blue-90;
$info-95: $blue-95;
$info-98: $blue-98;
$info-99: $blue-99;
$info-100: $blue-100;

$warning-0: $orange-0;
$warning-10: $orange-10;
$warning-20: $orange-20;
$warning-25: $orange-25;
$warning-30: $orange-30;
$warning-35: $orange-35;
$warning-40: $orange-40;
$warning-50: $orange-50;
$warning-60: $orange-60;
$warning-70: $orange-70;
$warning-80: $orange-80;
$warning-90: $orange-90;
$warning-95: $orange-95;
$warning-98: $orange-98;
$warning-99: $orange-99;
$warning-100: $orange-100;

$danger-0: $red-0;
$danger-10: $red-10;
$danger-20: $red-20;
$danger-25: $red-25;
$danger-30: $red-30;
$danger-35: $red-35;
$danger-40: $red-40;
$danger-50: $red-50;
$danger-60: $red-60;
$danger-70: $red-70;
$danger-80: $red-80;
$danger-90: $red-90;
$danger-95: $red-95;
$danger-98: $red-98;
$danger-99: $red-99;
$danger-100: $red-100;

$success-0: $green-0;
$success-10: $green-10;
$success-20: $green-20;
$success-25: $green-25;
$success-30: $green-30;
$success-35: $green-35;
$success-40: $green-40;
$success-50: $green-50;
$success-60: $green-60;
$success-70: $green-70;
$success-80: $green-80;
$success-90: $green-90;
$success-95: $green-95;
$success-98: $green-98;
$success-99: $green-99;
$success-100: $green-100;
