// General defines
$color-red: $red-500;
$color-pink: $pink-500;
$color-purple: $purple-500;
$color-deep-purple: $deep-purple-500;
$color-indigo: $indigo-500;
$color-teal: $teal-500;
$color-orange: $deep-orange-500;
$color-brown: $brown-500;
$color-blue-grey: $blue-grey-500;

$primary-100: $blue-100;
$primary-300: $blue-300;
$primary-500: $blue-500;
$primary-700: $blue-700;
$primary-800: $blue-800;
$primary-900: $blue-900;
$primary-A100: $blue-A100;

$accent-300: $amber-300;
$accent-500: $amber-500;
$accent-700: $amber-700;
$accent-800: $amber-800;
$accent-900: $amber-900;
$accent-A100: $amber-A100;

$info-500: $blue-500;
$success-100: $green-100;
$success-200: $green-200;
$success-300: $green-300;
$success-500: $green-500;
$success-800: $green-800;
$danger-100: $red-100;
$danger-200: $red-200;
$danger-300: $red-300;
$danger-500: $red-500;
$danger-800: $red-800;
$danger-A100: $red-A100;
$danger-A200: $red-A200;
$warning-500: $amber-500;

// Boostrap overrides
$body-bg: $grey-50;
$content-bg: white;
$text-color: $black-text;
$body-color: $text-color;
$color-contrast-dark: $text-color;
$text-disabled: $black-disabled;
$text-secondary: $black-secondary;
$link-color: $accent-800;
$hairlinegray: $black-divider;

// old vars
$brand-info: $info-500;
$brand-primary: $accent-800;
$brand-success: $success-500;
$brand-danger: $danger-500;
$brand-warning: $warning-500;
// new vars
$primary: $brand-primary;
$secondary: $grey-100;
$success: $brand-success;
$info: $brand-info;
$warning: $brand-warning;
$danger: $brand-danger;

$code-bg: $grey-200;
$code-light-bg: $grey-100;
$code-color: $text-color;
$page-header-border-color: $black-divider;
$panel-primary-heading-bg: $primary-500;
$panel-primary-border: $primary-500;

$navbar-default-bg: $primary-500;
$navbar-default-color: $white-text;
$navbar-default-link-color: $white-text;
$navbar-default-link-hover-color: $white-secondary;

$navbar-default-link-active-bg: lighten($navbar-default-bg, 6.5%);
$navbar-default-toggle-icon-bar-bg: $white-text;
$navbar-default-toggle-border-color: $white-secondary;
$navbar-default-toggle-hover-bg: $primary-300;
$navbar-default-border: transparent;

$state-info-bg: $brand-info;
$state-info-border: $brand-info;
$state-info-text: white;
$state-danger-bg: $brand-danger;
$state-danger-border: $brand-danger;
$state-danger-text: white;
$state-warning-bg: $brand-warning;
$state-warning-border: $brand-warning;
$state-warning-text: white;
$state-success-bg: $brand-success;
$state-success-border: $brand-success;
$state-success-text: white;

$modal-backdrop-bg: white;
$modal-backdrop-opacity: 0.35;
$modal-content-border-color: white;

$popover-border-color: $grey-100;
$popover-title-bg: $grey-100;

$mark-bg: $primary-300;

$dropdown-bg: $content-bg;

// Custom elements
$divider-color: $hairlinegray;
$border-color: $hairlinegray;

$btn-accent: $accent-800;
$btn-hover-background: $grey-300;
$btn-active-background: $grey-100;
$toggle-btn-border: $grey-300;
$toggle-btn-active-border: $grey-400;
$toggle-btn-active-bg: $grey-300;
$toggle-btn-bg: default;

$danger-fg: $danger-800;
$success-fg: $success-800;

$header-bg: $primary-700;
$header-fg: $white-text;
$header-fg-secondary: $white-secondary;
$header-accent: $accent-500;

$footer-fg-hover: $white-text;
$footer-fg: $grey-500;
$footer-bg: $grey-800;

$alert-fg: $white-text;
$alert-secondary: $white-secondary;

$home-lead-fg: $white-text;
$home-lead-bg: $primary-900;

$getting-started-bg: $accent-800;
$getting-started-fg: $white-text;

$drawer-bg: black;
$drawer-hover: $grey-100;
$drawer-active: $grey-200;
$drawer-border: $grey-300;

$toast-bg: $grey-800;
$toast-fg: $white-text;
$toast-spinner-bg: white;
$toast-inner-shadow: $black-divider;
$toast-outer-shadow: $black-disabled;

$callout-border: $grey-200;

$label-text: $grey-100;

$progress-bar-bg: $accent-A100;

$favorite-color: $color-pink;

$spinner-bg: $grey-300;

$course-link-hover-color: $grey-700;

$pending-color: $deep-orange-A400;

$series-summary-icon-bg: $grey-300;

$skeleton-color: $grey-300;

$feedback-diff-table-header-bg: $grey-50;
$feedback-diff-table-header-fg: $black-secondary;
$feedback-diff-table-ins: $green-A100;
$feedback-diff-table-del: $red-100;
$feedback-diff-table-ins-strong: $green-A200;
$feedback-diff-table-del-strong: $red-A100;

$punchcard-fg: $primary-800;
$heatmap-empty-fg: $grey-50;
$heatmap-hover-fg: $grey-200;

$table-hover-bg: $grey-50;

.activity-description {
    .dark-only {
        display: none;
    }

    .light-only {
        display: unset;
    }
}
