@import "theme-light.css.less";

@primary-700: #0277BD; // light blue 800
@accent-500: #F9A825; // yellow 800
@accent-800: lighten(@accent-500, 10%);

@success-800: #C8E6C9;
@success-500: #4CAF50;
@success-100: #2E7D32;
@danger-800: #EF9A9A; // red 200
@danger-500: #E57373; // red 300
@info-500: #4FC3F7; // light blue 300
@warning-500: #FFD54F; // amber 300

// Boostrap overrides
@body-bg: @blue-grey-800;
@content-bg: @blue-grey-900;
@text-color: @white-text;
@text-disabled: @white-disabled;
@text-secondary: @white-secondary;
@hairlinegray: @white-divider;

@dropdown-link-color: @text-color;
@dropdown-border: @hairlinegray;
@dropdown-divider-bg: @hairlinegray;
@dropdown-link-hover-color: @text-color;
@dropdown-link-hover-bg: @body-bg;

@input-bg: @content-bg;
@input-color: @text-color;
@input-bg-disabled: @body-bg;
@btn-default-bg: @content-bg;
@btn-default-color: @text-color;

// other overrides
@text-muted: @white-secondary;

// custom elements
@btn-hover-background: @body-bg;
@btn-active-background: @body-bg;

@drawer-border: @hairlinegray;
@drawer-hover: @body-bg;
@drawer-active: @body-bg;

@footer-bg: @blue-grey-900;