<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-colored-accent accent-<%= @label.color %>">
        <h2 class="card-title-text"><%= @label.name %></h2>
        <% if policy(Label).edit? %>
          <div class="card-title-fab">
            <%= render 'application/fab_link', url: edit_label_path(@label), icon: 'pencil' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <%= render(partial: 'layouts/searchbar', locals: {baseUrl: activities_path({"labels[]" => @label.name}), eager: true}) %>
        <div id="activities-table-wrapper"></div>
      </div>
    </div>
  </div>
</div>
