<% if @error.present? %>
$("<div style=\"display:none\" class=\"alert alert-danger alert-dismissible\"> <button type=\"button\" class=\"btn-close\" data-bs-dismiss=\"alert\"></button><%= @error %></div>").insertBefore("#labelsUploadModal .modal-body").show("fast");
<% else %>
%("#labelsUploadModal").modal("hide");
<% end %>
