<%= form_for(:api_token, url: user_api_tokens_path(user), remote: true, html: {class: 'form-horizontal'}) do |f| %>
  <div class="field form-group row">
    <div class="col-md-6">
      <div class="input-group">
        <%= f.text_field :description, placeholder: t('.description-placeholder'), class: 'form-control' %>
        <span class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <i class="mdi mdi-plus mdi-18"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
<% end %>
