<% user.api_tokens.each do |token| %>
  <tr id="api-token-<%= token.id %>">
    <td><%= token.description %></td>
    <td><%= l token.created_at %></td>
    <td class="text-right">
      <%= button_to api_token_path(token), method: :delete, remote: true, class: 'btn btn-sm btn-danger' do %>
        <i class="material-icons">delete</i>
      <% end %>
    </td>
  </tr>
<% end %>
