<h5><%= t ".new-token" %></h5>
<p><%= t ".new-token-explanation" %>
<div class="form-horizontal">
  <div class="field form-group row">
    <div class="col-md-6">
      <d-copy-container content="<%= token.token %>"></d-copy-container>
    </div>
  </div>
</div>
