<h5><%= t ".new-token" %></h5>
<p><%= t ".new-token-explanation" %>
<div class="form-horizontal">
  <div class="field form-group row">
    <div class="col-md-6">
      <div class="input-group ">
        <% name = "fresh-token-value" %>
        <%= text_field_tag name, token.token, readonly: true, class: 'form-control' %>
        <%= clipboard_button_for name %>
      </div>
    </div>
  </div>
</div>
