<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(SavedAnnotation).new? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: new_saved_annotation_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text" id="refresh-element">
        <%= render partial: 'layouts/searchbar', locals: { courses: @courses, exercises: @exercises, autoSearch: false } %>
        <div id="questions-table-wrapper">
          <d-saved-annotation-list></d-saved-annotation-list>
        </div>
      </div>
    </div>
  </div>
</div>
