<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <span>
            <%= t ".title" %>
          </span>
        </h2>
      </div>
      <div class="card-supporting-text" id="refresh-element">
        <%= render partial: 'layouts/searchbar', locals: { courses: @courses, autoSearch: false } %>
        <div id="questions-table-wrapper">
          <d-saved-annotation-list use-query-params>
          </d-saved-annotation-list>
        </div>
      </div>
    </div>
  </div>
</div>
