@import "../../../../node_modules/flatpickr/dist/themes/light";

.flatpickr-day.selected,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
  background: var(--d-secondary);
  color: var(--d-on-secondary);
  border-color: var(--d-secondary);
}
