@import "../../../../node_modules/flatpickr/dist/themes/light";

.flatpickr-day.selected,
.flatpickr-day.selected:focus,
.flatpickr-day.selected:hover {
  background: $secondary;
  color: $on-secondary;
  border-color: $secondary;
}
