<div class="review-cell" title="<%= t('review.details') %>" data-submissionid="<%= review.submission.id %>">
  <i class="mdi mdi-<%= review.completed ? 'comment-check-outline' : 'comment-remove-outline' %> mdi-24 review-popover"></i>
</div>
