<div class="card">
  <div class="card-title card-title-colored">
    <h2 class="card-title-text">Inloggen zonder account van een verbonden instelling?</h2>
  </div>
  <div class="card-supporting-text">
    <p>Als een gebruiker voor het eerst met een <b>gekende identity provider</b> inlogt, dan wordt er <b>automatisch</b>
      een account aangemaakt.</p>
    <p>Een account manueel aanmaken is <b>enkel</b> nodig als een student nog geen account heeft bij een gekende
      identity provider. In dat geval kan je hier manueel een account aanmaken. Nadat je de account hebt aangemaakt,
      moet je de student zijn speciale <b>inloglink</b> doorsturen. Als de student uiteindelijk een account heeft bij
      een gekende identity provider, dan moet hij zijn emailadres doorsturen. Als je dat <b>emailadres</b> dan manueel
      verandert in zijn account, dan kan hij normaal inloggen via de identity provider.</p>
    <p>Als je een account aanmaakt, zorg er dan voor dat je minstens een <b>voornaam</b>, <b>familienaam</b> en
      <b>emailadres</b> opgeeft.</p>
  </div>
</div>
