<div class="callout callout-warning">
  <h4>Handmatig aangemaakte accounts</h4>
  <p>Als een gebruiker voor het eerst inlogt, dan wordt er <b>automatisch</b> een account aangemaakt.</p>
  <p>Een account manueel aanmaken is <b>enkel</b> nodig als een student nog geen account heeft bij een ondersteunde onderwijsinstelling. In dat geval kan je hier manueel een account aanmaken. Nadat je de account hebt aangemaakt, moet je de student zijn speciale <b>inloglink</b> doorsturen die je te zien krijgt na het aanmaken.
  <p>Als de student uiteindelijk een account heeft bij een ondersteunde onderwijsinstelling, dan wordt de handmatig aangemaakte account automatisch samengevoegd. De voorwaarde hiervoor is wel dat hetzelfde <b>e-mailadres</b> gebruikt werd.</p>
</div>
