<div class="card">
  <div class="card-title card-title-colored">
    <h2 class="card-title-text">Sign in without UGent account?</h2>
  </div>
  <div class="card-supporting-text">
    <p>If a user signs in using <b>CAS</b> for the first time, an account is created <b>automatically</b>.</p>
    <p>Manual account creation is <b>only</b> needed if a student doesn't have a Ghent University account yet. In that case, you can manually create an account for him. After creation, be sure to <b>send</b> the special <b>sign in link</b> to the respective student. If the student eventually obtains a Ghent University account, he should send an email to you with his username. Be sure to add that username to his account so he can sign in using CAS.</p>
    <p>If you create an account, be sure to enter a <b>first name</b>, <b>last name</b> and <b>email address</b>.</p>
  </div>
</div>
