<div class="callout callout-warning">
  <h4>Manually created accounts</h4>
  <p>If a user signs in using <b>a known identity provider</b> for the first time, an account is created <b>automatically</b>.</p>
  <p>Manual account creation is <b>only</b> needed if a student doesn't have an account yet with a known identity provider. In that case, you can manually create an account for them. Be sure to <b>send</b> them the special <b>sign in link</b> that is shown on the page after creation.</p>
  <p>If the student eventually obtains an account with a known dentity provider, this manually created account should be merged automatically. For this to succeed, be sure to use the same <b>email address</b>.
</div>
