<div class="card">
  <div class="card-title card-title-colored">
    <h2 class="card-title-text">Inloggen zonder UGent-account?</h2>
  </div>
  <div class="card-supporting-text">
    <p>Als een gebruiker voor het eerst met <b>CAS</b> inlogt, dan wordt er <b>automatisch</b> een account aangemaakt.</p>
    <p>Een account manueel aanmaken is <b>enkel</b> nodig als een student nog geen UGent account heeft. In dat geval kan je hier manueel een account aanmaken. Nadat je de account hebt aangemaakt, moet je de student zijn speciale <b>inloglink</b> doorsturen. Als de student uiteindelijk een UGent account heeft, dan moet hij via email zijn gebruikersnaam doorsturen. Als je die <b>gebruikersnaam</b> dan manueel toevoegt aan zijn account, dan kan hij normaal inloggen via CAS.</p>
    <p>Als je een account aanmaakt, zorg er dan voor dat je minstens een <b>voornaam</b>, <b>familienaam</b> en <b>emailadres</b> opgeeft.</p>
  </div>
</div>
