<div class="card">
  <div class="card-title card-title-colored">
    <h2 class="card-title-text">Sign in without an account at a known identity provider?</h2>
  </div>
  <div class="card-supporting-text">
    <p>If a user signs in using <b>a known identity provider</b> for the first time, an account is created
      <b>automatically</b>.</p>
    <p>Manual account creation is <b>only</b> needed if a student doesn't have an account yet with a known identity
      provider. In that case, you can manually create an account for them. After creation, be sure to <b>send</b> the
      special <b>sign in link</b> to the respective student. If the student eventually obtains an account with a known
      identity provider, they should send an email to you with their email address. Be sure to change that
      <b>email address</b> in their account so they can sign in using their identity provider.</p>
    <p>If you create an account, be sure to enter a <b>first name</b>, <b>last name</b> and <b>email address</b>.</p>
  </div>
</div>
