<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @user.full_name %></h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_user_#{@user.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>
