<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(User).new? %>
          <div class="card-title-fab">
            <%= link_to new_user_path, class: "btn btn-primary btn-fab" do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <div class='table-toolbar'>
          <div class='table-toolbar-tools'>
            <span class='glyphicon glyphicon-search'></span>
            <form class='search'>
              <input type='text' id='user-filter-name' placeholder='search' name='by_name'></input>
              <div id="progress-filter" class="dodona-progress dodona-progress-indeterminate">
                <div class="progressbar bar bar1" style="width: 0%;"></div>
                <div class="bufferbar bar bar2" style="width: 100%;"></div>
                <div class="auxbar bar bar3" style="width: 0%;"></div>
              </div>
            </form>
          </div>
        </div>
        <div id="users-table-wrapper">
          <%= render partial: 'users_table', locals: {users: @users}  %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    init_filter_index("user");
  });
</script>
