<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <% if policy(User).new? %>
          <div class="card-title-fab">
            <%= render 'fab_link', url: new_user_path, icon: 'plus' %>
          </div>
        <% end %>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'layouts/searchbar', locals: {institutions: Institution.all} %>
        <div id="users-table-wrapper">
          <%= render partial: 'users_table', locals: {users: @users, pagination_opts: @pagination_opts} %>
        </div>
      </div>
    </div>
  </div>
</div>
