<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: 'new_user', icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', user: @user %>
      </div>
    </div>
  </div>
</div>
