<% content_for :javascripts do %>
  <%= javascript_include_tag 'visualisations' %>
<% end %>
<h4><%= t ".punchcard" %></h4>
<p class="h4-info-text"><%= t ".punchcard_details" %></p>

<div id="punchcard-container">
</div>

<script type="text/javascript">
    $(function () {
        dodona.initPunchcard('<%= raw punchcard_path(user_id: local_assigns[:user]&.id, course_id: local_assigns[:course]&.id) %>');
    });
</script>

