<% content_for :javascripts do %>
  <%= javascript_pack_tag 'punchcard' %>
<% end %>
<div class="card card-supporting-text series">
  <h4><%= t ".punchcard" %></h4>
  <div id="punchcard-container">
  </div>
</div>
<script type="text/javascript">
    $(function () {
        dodona.initPunchcard('<%= raw punchcard_path(user_id: @user&.id, course_id: @course&.id) %>', <%= @time_zone_offset / -60  %>);
    });
</script>

