<div class="card">
<!-- TODO: don't just put 'punchcard' here -->
  <div class="card-title">Punchcard</div>
  <div class="card-supporting-text">
    <div id="punchcard-container">
    </div>
  </div>
</div>

