<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t(".title") %></h2>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'layouts/searchbar', locals: {event_types: Event.event_types.keys} %>
        <div id="events-table-wrapper">
          <%= render partial: 'events_table', locals: {events: @events} %>
        </div>
      </div>
    </div>
  </div>
</div>
