<div class="row">
  <div class="col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @programming_language.name %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_programming_language_#{@programming_language.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', programming_language: @programming_language %>
      </div>
    </div>
  </div>
</div>
