<script>
$(document).ready(function() {
    var codeTrace = JSON.parse('<%= `node --expose-debug-as=Debug ~/jslogger.js --jsondump=true #{@codefile}`
      .strip
      .gsub!('\\n', '\\\\\\n')
      .gsub!("\"", "\\\"")
      .gsub!("\'", "\\\\\'")
      .html_safe%>');
    var visualizer = new ExecutionVisualizer('tutorelement', codeTrace,
                                                  {embeddedMode: false,
                                                   heightChangeCallback: redrawAllVisualizerArrows,
                                                   editCodeBaseURL: ''});

    function redrawAllVisualizerArrows() {
        if (visualizer) visualizer.redrawConnectors();
    }
    // Call redrawConnectors() on all visualizers whenever the window is resized,
    // since HTML elements might have moved during a resize. The SVG arrows rendered
    // by jsPlumb don't automatically get re-drawn in their new positions unless
    // redrawConnectors() is called.
    $(window).resize(redrawAllVisualizerArrows);
});
</script>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div id="tutorelement" style="overflow-x: scroll;"></div>
  </div>
</div>