<p>
  Dodona is een <strong>gratis</strong> online oefenplatform om te leren programmeren. Het wil studenten op een zo
  zinvolle en zo effectief mogelijke manier leren programmeren door verschillende computertechnologieën in te zetten
  om de voordelen van een gepersonaliseerde begeleiding toe te passen in contexten waar studenten anders alleen toegang
  zouden hebben tot klassikale begeleiding (bv. hoorcolleges en werkcolleges) of zelfs geen rechtstreekse begeleiding
  (bv. zelfstandig werk en huiswerk).
</p>
<p>
  Dodona gedraagt zich als een online co-teacher die ontworpen is om elke student toegang te geven tot onderwijs van hoge kwaliteit.
  De focus ligt op het automatisch verbeteren en het geven van <strong>zinvolle feedback</strong> op ingediende
  oplossingen van de studenten.
</p>
<p>
  Lesgevers kunnen een eigen cursus aanmaken, opgebouwd uit verschillende oefeningenreeksen.
  Ze kunnen hiervoor beroep doen op bestaande cursussen en oefeningen, maar kunnen er ook voor kiezen om zelf aan de
  slag te gaan en eigen oefeningen en lesmateriaal op te stellen.
  Dankzij de ingebouwde learning analytics en datavisualisaties is het bovendien eenvoudig om de voortgang van studenten
  te meten.
  <a href=https://dodona-edu.github.io/en/guides/>Hier</a> vind je enkele handleidingen, vooral gericht op lesgevers.
</p>
<p>
  De Dodona-leeromgeving bevat <strong>duizenden programmeeroefeningen</strong> die gebruikt kunnen worden om diverse
  programmeertalen onder de knie te krijgen.
  Alle oefeningen zijn voorzien van automatische feedback op correctheid, snelheid en/of programmeerstijl.
  Bugs of suggesties mogen steeds gemeld worden via het <%= link_to 'contactformulier', contact_path %>.
</p>
