<p>
  Dodona is a <strong>free</strong> online exercise platform for learning to program. It wants to teach students how to
  program in the most meaningful and effective way possible, by using different techniques to apply the advantages of
  personalized coaching in contexts where students usually only have access to traditional coaching (e.g. lectures or
  exercise sessions) or even no coaching at all (e.g. independent learning or homework).
</p>
<p>
  Dodona acts as an online co-teacher, designed to give every student access to high quality education. The focus is on
  automatic corrections and giving <strong>meaningful feedback</strong> on the submitted solutions from the students.
</p>
<p>
  Teachers can create their own course, composed of different series of exercises. They can use already
  existing courses and exercises,
  but can also create their own exercises and learning materials.
  Thanks to the built-in learning analytics and datavisualisations it also is easy to monitor the progress of students.
  <a href=https://dodona-edu.github.io/en/guides/>Here</a> you'll find a number of guides, primarily focused on
  teachers.
</p>
<p>
  The Dodona platform contains <strong>hundreds of programming exercises</strong> that can be used to master several
  programming languages.
  All exercises come with automatic feedback on correctness, execution time and/or programming style. You can sign in
  with the credentials of your institution.
  Dodona is still in active development, any bug report or suggestion is welcome through the
  <%= link_to 'contact form', contact_path %>.
</p>
