<div class="card home-summary-card getting-started">
  <div class="row v-align">
    <div class='card-media col-6'>
      <%= image_tag("getting-started.png") %>
    </div>
    <div class="card-title col-6">
      <h1 class="card-title-text getting-started-title"><%= t ".title" %></h1>
      <p class="getting-started-text"><%= t ".text" %></p>
      <%= link_to t(".action"), courses_path, class: "btn btn-text getting-started-action" %>
    </div>
  </div>
</div>
