<div class="row">
  <% if @jump_back_in.present? %>
  <div class="col-4">
    <h4>Jump back in</h4>
    <% if @jump_back_in[:activity].present? %>
      <%= render partial: 'pages/clickable_homepage_cards/activity', locals: @jump_back_in %>
    <% elsif @jump_back_in[:series].present? %>
      <%= render partial: 'pages/clickable_homepage_cards/series', locals: @jump_back_in %>
    <% else %>
      <%= render partial: 'pages/clickable_homepage_cards/course', locals: @jump_back_in %>
    <% end %>
  </div>
  <% end %>
  <div class="col-8">
    <h4>Upcoming deadlines</h4>
    <div class="row">
      <% @homepage_series.first(2).each do |series| %>
        <%= render partial: 'pages/clickable_homepage_cards/series', locals: {series: series} %>
      <% end %>
    </div>
  </div>
</div>
