<div class="card home-summary-card">
  <div class="card-title card-colored-accent accent-blue-grey">
    <h2 class="card-title-text"><%= t ".pending-courses" %></h2>
  </div>
  <div class="card-supporting-text card-border">
    <% current_user.pending_courses.each do |course| %>
      <p>
        <%= link_to course_path(course) do %>
          <span><%= course.name %></span>
          <span class="float-right"><small><%= course.teacher %></small></span>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
