<div class="card home-summary-card privacy-disclaimer">
  <div class="card-supporting-text">
    <div class="privacy-disclaimer-icon">
      <i class="mdi mdi-48 mdi-shield-lock"></i>
    </div>
    <div class="privacy-disclaimer-text">
      <%= t ".text_html", your_data: data_url, privacy_statement: privacy_url %>
    </div>
  </div>
  <div class="card-actions card-border">
    <d-accept-privacy-disclaimer-button user-id="<%= current_user.id %>" class="btn btn-primary">
      <%= t ".button" %>
    </d-accept-privacy-disclaimer-button>
  </div>
</div>
