<link rel="preload" as="image" href="<%= image_path('matrix.jpg') %>">
<div class="home-cover-img">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="card home-card">
            <div class="card-supporting-text">
                <h2 class="card-title-text">Dodona</h2>
                <p>The Dodona environment contains dozens of programming exercises that can be used to master several programming languages. All exercises come with automatic feedback on correctness, execution time and/or programming style. You can sign in with your Ghent University credentials. Dodona is still in active development, any bug report on the Minerva forum or to the teaching assistants would certainly be appreciated.</p>
            </div>
            <div class="card-supporting-text card-border row">
            <div class="hidden-xs col-sm-5">
              <%= image_tag("zeus.jpg") %>
            </div>
                <div class="col-xs-12 col-sm-7">
                    <h3>Who or what is Dodona?</h3>
                    <p>Dodona is a place in Greece, located in a peaceful, green valley on the eastern slope of the mountain Tomaros in the historical region of Epirus. The oracle of Dodona was dedicated to Zeus <span class="hidden-xs">(pictured left)</span> and the mother goddess Dione. It was, according to Herodotus, the oldest oracle of ancient Greece, possibly dating back to the second millennium BC.</p>
                </div>
            </div>
            <div class="card-actions card-border">
              <%=link_to "to the exercises", exercises_path, class: "btn-text" %>
            </div>
        </div>
    </div>
</div>
