<div class="col-xs-12 col-sm-4">
  <%= image_tag("ugent.en.png", class: 'img-responsive') %>
</div>
<div class="col-xs-12 col-sm-8">
  <h3>Developed at Ghent University</h3>
  <p>
    Dodona is developped by a team from the research group
    <a href="https://www.ugent.be/we/twist/en/research/computational-biology.htm">Computational Biology</a> from the
    department of <a href="https://www.ugent.be/we/twist/en">Applied mathematics, Computer Science and Statistics</a> at
    <a href="https://www.ugent.be/en">Ghent University</a>.
    The platform is fully open source: all code is available on
    <a href="https://github.com/dodona-edu/dodona">GitHub</a>.
    The development is done on GitHub: anyone can contribute.
  </p>
</div>
