<div class="col-12 col-sm-4">
  <%= link_to "https://www.ugent.be/en", title: "Ghent University", target: "_blank" do %>
    <%= image_tag("ugent.en.png", class: 'img-fluid light-only', loading: 'lazy') %>
    <%= image_tag("ugent.en.white.png", class: 'img-fluid dark-only', loading: 'lazy') %>
  <% end %>
</div>
<div class="col-12 col-sm-8">
  <h3>Developed at Ghent University</h3>
  <p>
    Dodona is developed by a small team of researchers from the
    department of <a href="https://www.ugent.be/we/twist/en">Applied mathematics, Computer Science and Statistics</a> at
    <a href="https://www.ugent.be/en">Ghent University</a>.
    The platform is fully open source: all code is available on
    <a href="https://github.com/dodona-edu/dodona">GitHub</a>.
  </p>
  <p><strong>Help us keep Dodona free and <%= link_to "support us", support_us_path %>!</strong></p>
</div>
