<div class="col-12 col-sm-4">
  <%= link_to "https://www.ugent.be/nl", title: "Universiteit Gent", target: "_blank" do %>
    <%= image_tag("ugent.nl.png", class: 'img-fluid light-only', loading: 'lazy') %>
    <%= image_tag("ugent.nl.white.png", class: 'img-fluid dark-only', loading: 'lazy') %>
  <% end %>
</div>
<div class="col-12 col-sm-8">
  <h3>Ontwikkeld aan de Universiteit Gent</h3>
  <p>
    Dodona wordt ontwikkeld door een klein team onderzoekers van de
    vakgroep <a href="https://www.ugent.be/we/twist/nl">Toegepaste Wiskunde en Statistiek</a> aan de
    <a href="https://www.ugent.be">Universiteit Gent</a>.
    Het platform is volledig open source: alle code is beschikbaar op
    <a href="https://github.com/dodona-edu/dodona">GitHub</a>.
  </p>
  <p><strong>Help om Dodona gratis te houden en <%= link_to "steun ons", support_us_path %>!</strong></p>
</div>
