<% content_for :javascripts do %>
    <%= javascript_pack_tag 'visualisations' %>
  <% end %>
  
  <div id="violin-container">
  </div>

<script type="text/javascript">
    $(function () {
        dodona.initViolin('/nl/stats/violin?course_id=5&series_id=108');
    });
</script>