<div class="announcement alert alert-danger" role="alert" id="active-announcement">
  Due to a UGent wide issue, dodona is currently unavailable. We are working on a solution.

  You can follow up the status of the incident at <a href="https://helpdesk.ugent.be/nieuws/index.php?id=478">the UGent helpdesk</a> or our <a href="https://twitter.com/DodonaEdu">X account</a>.
</div>
