<div class="home-cover-img">&nbsp;</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="card home-card">
            <div class="card-supporting-text row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h2 class="card-title-text">Dodona</h2>
                    <p>This is the English language homepage that still needs some work.</p>
                </div>
                <div class="hidden-xs col-sm-4 col-md-3">
                  <%= image_tag("javascript.jpg") %>
                </div>
            </div>
            <div class="card-supporting-text card-border row">
            <div class="hidden-xs col-sm-5">
              <%= image_tag("zeus.jpg") %>
            </div>
                <div class="col-xs-12 col-sm-7">
                    <h3>Who or what is Dodona?</h3>
                    <p>This still needs a translation <span class="hidden-xs">(hiernaast afgebeeld)</span>.</p>
                </div>
            </div>
            <div class="card-actions card-border">
              <%=link_to "to the exercises", exercises_path, class: "btn-text" %>
            </div>
        </div>
    </div>
</div>
