<div class="row">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-md-10 offset-md-1 col-12">
    <div class="card">
      <div class="card-title">
        <h2 class="card-title-text"><%= t '.title' %></h2>
      </div>
      <div class="card-supporting-text row">
        <div class="col-sm-12">
          <p><%= t '.explanation_html', provider: t(".#{session[:provider] || :unknown}") %>
        </div>
      </div>
      <div class="card-actions card-border">
        <%= link_to t('.get_in_touch'), contact_path, class: 'btn-text' %>
        <%= link_to t('.more_info'), about_path, class: 'btn-text' %>
      </div>
    </div>
  </div>
</div>
</div>
