<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">Privacyverklaring</h2>
      </div>
      <div class="card-supporting-text">
        <h3>Wie is de verwerkingsverantwoordelijke en hoe kan je ons contacteren?</h3>
        <p>Dodona verwerkt persoonsgegevens in opdracht van respectievelijk de school, onderwijs- of
          onderzoeksinstelling die jou dit platform aanbiedt.</p>
        <p>Voor vragen, opmerkingen of suggesties over de verwerking van jouw persoonsgegevens kan je in eerste
          instantie terecht bij je school, onderwijs- of onderzoeksinstelling. Uiteraard kan je ook rechtstreeks
          <a href="<%= contact_url %>">het Dodona-team</a> of de
          <a href="mailto:privacy@ugent.be">Data Protection Officer van de UGent</a> contacteren.
        </p>

        <h3>Welke persoonsgegevens worden verwerkt?</h3>
        <p>Persoonsgegevens zijn alle gegevens die informatie over een geïdentificeerde of identificeerbare natuurlijke
          persoon bevatten. </p>
        <p>Dodona verwerkt een aantal identificatiegegevens van haar gebruikers, met name hun naam, gebruikersnaam,
          e-mailadres, taal en tijdzone. Dodona verwerkt geen bijzondere persoonsgegevenscategorieën (“gevoelige
          gegevens”) waaruit ras of etnische afkomst, politieke opvattingen, religieuze of levensbeschouwelijke
          overtuigingen, of het lidmaatschap van een vakbond blijken, noch verwerkt zij genetische gegevens,
          biometrische gegevens met het oog op de unieke identificatie van een persoon, of gegevens over gezondheid, of
          gegevens met betrekking tot iemands seksueel gedrag of seksuele gerichtheid. </p>

        <h3>Doeleinde en rechtsgrond van de verwerking van jouw persoonsgegevens</h3>
        <p>Persoonsgegevens worden door Dodona verwerkt om jouw school, onderwijs- of onderzoeksinstelling te helpen in
          de uitvoering en ondersteuning van haar onderwijsopdracht en om de correcte werking van Dodona te waarborgen
          en te verbeteren. Deze onderwijsopdracht kan berusten op het algemeen belang, op een wettelijke verplichting
          of op het gerechtvaardigd belang van jouw school, onderwijs- of onderzoeksinstelling.</p>
        <p>Dodona gebruikt Firebase en Google Analytics om de performantie van de site te monitoren. Er worden
          nooit persoonsgegevens naar deze services gestuurd.</p>
        <p>De persoonsgegevens uit Dodona kunnen gebruikt worden in het kader van wetenschappelijk onderzoek aan de
          Universiteit Gent door het Dodona team, en dit met het oog op het publiceren van wetenschappelijke artikels
          over Dodona. Dit onderzoek is in eerste instantie bedoeld om de werking van en de gebruikerservaring binnen
          Dodona verder te verbeteren. Voor wetenschappelijk onderzoek worden persoonsgegevens steeds gepseudonimiseerd
          en op een hoog aggregatieniveau verwerkt, waardoor het niet mogelijk zal zijn om individuele personen te
          identificeren in de publicaties.</p>

        <h3>Wie heeft toegang tot jouw persoonsgegevens?</h3>
        <p>De beheerders van Dodona hebben enkel toegang tot de hierboven vermelde persoonsgegevens op een strikte
          "need-to-know" basis. Deze toegang geldt enkel voor de doeleinden vermeld in onderhavige
          privacyverklaring.</p>
        <p>Dodona garandeert dat jouw persoonsgegevens niet worden doorgegeven aan derden, behoudens in het geval je
          hiertoe voorafgaand toestemming verleend hebt of wanneer de toegang, het gebruik, het behoud of de
          openbaarmaking van persoonsgegevens redelijkerwijs noodzakelijk is (bv. om te voldoen aan de van toepassing
          zijnde regelgeving, om technische of beveiligingsproblemen te detecteren, om de rechten, eigendom of
          veiligheid van Dodona te beschermen, enz.).</p>

        <h3>Hoelang worden jouw persoonsgegevens verwerkt?</h3>
        <p>Dodona verwijdert op eigen initiatief geen persoonsgegevens die aan het platform worden aangeleverd, om
          zodoende de voortgang van gebruikers doorheen hun leertraject te kunnen blijven opvolgen en om betere
          dienstverlening aan gebruikers te kunnen aanbieden. Dodona gebruikt historische data enkel om een betere
          ondersteuning te ontwikkelen voor gebruikers en om technische problemen op te sporen en te remediëren. Op
          vraag van een individuele gebruiker kan de verwerking van zijn/haar gegevens stopgezet worden, na afstemming
          met de respectievelijke school, onderwijs- of onderzoeksinstelling en indien dit in overeenstemming is met de
          bepalingen uit “Welke rechten heb je in het kader van de verwerking van jouw persoonsgegevens?”. </p>
        <p>Logbestanden worden door Dodona slechts zeven dagen bewaard, waarna ze automatisch gewist worden. Deze
          logbestanden worden gedurende deze 7 dagen enkel geraadpleegd om technische problemen op te sporen en te
          remediëren.</p>

        <h3>Veiligheid van jouw persoonsgegevens</h3>
        <p>Dodona draagt zorg voor jouw persoonsgegevens en zorgt voor passende technische en organisatorische
          maatregelen om jouw persoonsgegevens te beveiligen tegen enige vorm van verlies of onrechtmatige
          verwerking.</p>

        <h3>Welke rechten heb je in het kader van de verwerking van jouw persoonsgegevens?</h3>
        <p>Bij de verwerking van jouw persoonsgegevens door Dodona kan je in bepaalde omstandigheden verschillende
          rechten uitoefenen zoals bijvoorbeeld het recht op inzage, aanpassing en verwijdering van de persoonsgegevens
          die van jou verwerkt worden. Voor het uitoefenen van deze rechten kan je je wenden tot jouw school, onderwijs-
          of onderzoeksinstelling, die vervolgens in overleg en met bijstand van het Dodona-team je vraag zal
          behandelen. Indien je meent dat onvoldoende gevolg werd gegeven aan jouw vraag, kan je je wenden tot de
          Vlaamse toezichthouder: </p>
        <div class="well">
          Vlaamse Toezichtcommissie voor de verwerking van persoonsgegevens<br/>
          Koning Albert II-laan 15<br/>
          1210 Brussel<br/>
          Telefoon: +32 (0)2 553 50 47<br/>
          E-mail: contact@toezichtcommissie.be
        </div>

        <h3>Wijzigingen aan de privacyverklaring</h3>
        <p>Onderhavige privacyverklaring kan worden aangepast om te blijven voldoen aan de toepasselijke
          regelgeving. </p>
        <p>Indien de privacyverklaring wordt aangepast, zal hiervan melding gemaakt worden op de
          <a href="https://docs.dodona.be/nl/news/">nieuwspagina</a> van Dodona, met een verwijzing naar de gewijzigde
          privacyverklaring in het betreffende nieuwsbericht. Een verwijzing naar de meest recente versie van de
          privacyverklaring, is ook steeds te vinden onderaan elke pagina van Dodona.</p>
      </div>
    </div>
  </div>
</div>
