<div class="row">
  <div class="col-sm-10 offset-sm-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">Privacy statement</h2>
      </div>
      <div class="card-supporting-text">
        <h3>Who is the data controller, and how can you contact us?</h3>
        <p>Dodona processes personal data on behalf of the school, educational or research institution that offers you
          this platform.</p>
        <p>Questions, comments or suggestions about the processing of your personal data should primarily be addressed
          by your school, educational or research institution. Of course, you can also directly contact
          <a href="<%= contact_url %>">the Dodona team</a> or the
          <a href="mailto:privacy@ugent.be">Data Protection Officer of Ghent University</a>.
        </p>

        <h3>What personal data is processed?</h3>
        <p>Personal data is all data that contains information about an identified or identifiable natural person.</p>
        <p>Dodona processes some identification data about its users, in particular, their name, username, e-mail
          address, language and time zone. Dodona does not process special categories of personal data ("sensitive
          data") that reveal race or ethnic origin, political views, religious or philosophical beliefs, or membership
          of a union, nor does it process genetic data, biometric data for the unique identification of persons, health
          data, or data relating to a person’s sexual behavior or sexual orientation.</p>

        <h3>Goals and justifications of the processing of your personal data</h3>
        <p>Personal data is processed by Dodona to assist your school, educational or research institution in the
          implementation and support of their educational assignment and to guarantee and improve the correct
          functioning of Dodona. This educational assignment can be based on public interest, a legal obligation or the
          legitimate interest of your school, educational or research institution.</p>
        <p>Dodona uses Firebase and Google Analytics to monitor site performance. No personal data is
          ever sent to these services.</p>
        <p>Personal data from Dodona can be used in the context of scientific research at Ghent University by the Dodona
          team, with the goal to publish scientific articles about Dodona. This research is primarily intended to
          further improve the operation of and the user experience in Dodona. For scientific research purposed, personal
          data is always pseudonymized and processed at a high level of aggregation, making it impossible to identify
          individuals in the publications.</p>

        <h3>Who has access to your personal data?</h3>
        <p>Dodona administrators only have access to the above-mentioned personal data on a strict need-to-know basis.
          This access only applies to the purposes stated in this privacy statement.</p>
        <p>Dodona guarantees that your personal data is not transferred to third parties, unless you have given prior
          consent or when access, use preservation or disclosure of personal data is reasonably necessary (e.g. to
          comply with the applicable regulations, to detect technical or security issues, to protect the rights,
          property or security of Dodona, and so on).</p>

        <h3>How long are your personal data processed?</h3>
        <p>Dodona does not delete any personal data supplied to the platform on its own initiative, in order to enable
          continuous monitoring of users' progress throughout their learning process and to provide improved user
          experiences. Dodona uses historical data only to develop better user support and to detect and remedy
          technical issues. At the request of an individual user, the processing of his/her data can be stopped after
          coordination with your school, educational or research institution and if this is in accordance with the
          provisions in "What rights do you have with regard to the processing of your personal data?".</p>
        <p>Log files are only stored by Dodona for seven days, after which they are automatically deleted. These log
          files are only consulted to detect and remedy technical issues.</p>

        <h3>Security of your personal data</h3>
        <p>Dodona takes care of your personal data and takes appropriate technical and organizational measures to
          protect your personal data against accidental loss or unlawful processing.</p>

        <h3>What rights do you have with regard to the processing of your personal data?</h3>
        <p>When Dodona processes your personal data, you can exercise various rights in certain circumstances, such as
          the right to access, modify and delete your personal data that is processed by Dodona. To exercise these
          rights, you can address your school, educational or research institution, which will then deal with your
          requests in consultation with and with the assistance of the Dodona team. If you believe that your requests
          have not been adequately handled, you can turn to the Flemish regulator:</p>
        <div class="well">
          Vlaamse Toezichtcommissie voor de verwerking van persoonsgegevens<br/>
          Koning Albert II-laan 15<br/>
          1210 Brussel<br/>
          Telefoon: +32 (0)2 553 50 47<br/>
          E-mail: contact@toezichtcommissie.be
        </div>

        <h3>Changes to the privacy statement</h3>
        <p>This privacy statement can be amended to continue to comply with applicable regulations.</p>
        <p>If this privacy statement is amended, this will be reported on the Dodona
          <a href="https://docs.dodona.be/en/news/">news page</a>, with a reference to the amended privacy statement in the relevant
          news item. A reference to the most recent version of the privacy statement can always be found in the Dodona
          footer.</p>
      </div>
    </div>
  </div>
</div>
