<table class="table">
  <thead>
    <tr>
      <% if current_user.admin? %>
        <th>Gebruiker</th>
      <% end %>
      <% if !exercise %>
        <th>Oefening</th>
      <% end %>
      <th>Tijdstip</th>
      <th>Status</th>
      <th>Resultaat</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'submissions/submission', collection: submissions, locals: {exercise: exercise} %>
  </tbody>
</table>
