<span class="message">
  There were errors while processing '<%= @error.repository.name %>'.
</span>

<div class="error-list">
  <% @error.errors.each do |err| %>
    <div class="error-report">
      <span class="file-name">
        <%= err.path %>: <%= err.error_type %>:
      </span>
      <div class="error-json"><%= err.json %></div>
    </div>
  <% end %>
</div>
