$drawer-width: 360px;
$drawer-border: $divider;

aside.drawer {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;

  width: 0;

  z-index: 5;

  .drawer-background {
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
    background: $surface;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
  }

  nav {
    position: fixed;
    left: -$drawer-width;
    top: 0;
    height: 100vh;
    padding-top: 50px;
    width: 100%;
    max-width: $drawer-width;

    z-index: 6;

    display: inline-flex;
    flex-direction: column;

    border-left: 0;
    border-right: 1px solid $drawer-border;

    overflow-y: auto;
    overflow-x: hidden;

    background: $surface;
    @include shadow-z5;
    transition: .3s;
  }

  &.active {
    width: 100vw;

    nav {
      left: 0;
    }

    .drawer-background {
      opacity: 0.5;
      width: 100vw;
    }
  }

}

.drawer-group {
  padding: 8px 8px 8px 0;
  border-bottom: 1px solid $drawer-border;
  flex-shrink: 0;

  &.scrollable {
    overflow-y: auto;
  }

  &:last-child {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

h1.drawer-group-title {
  font-size: 14px;
  font-weight: 400;
  margin-left: 16px;
  color: $on-surface-variant;
}

ul.drawer-list {
  width: 100%;
  letter-spacing: 0.04em;
  text-decoration: inherit;
  text-transform: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  list-style-type: none;
  color: $on-surface-variant;

  li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: inherit;
    position: relative;
    padding-left: 16px;
    padding-right: 24px;
    margin-left: 12px;
    margin-right: 4px;
    outline: none;
    color: $on-surface;
    text-decoration: none;
    height: 56px;
    border-radius: 28px;

    &.active {
      font-weight: 400;
      background: $secondary-container;
      color: $on-secondary-container;
    }

    &:hover,
    &:focus {
      background: $secondary-container;
      color: $on-secondary-container;
      opacity: 75%;
    }

    span,
    i {
      font-size: 18px;
      margin-right: 12px;
    }

  }
}

.drawer-list-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
