$footer-height: 80px;
$footer-height-sm: 180px;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  padding: 32px;
  color: $footer-fg;
  background-color: $footer-bg;
  height: $footer-height;
}

.footer:after {
  content: '';
  display: block;
}

.footer-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-self: stretch;
  align-items: flex-start;

  a {
    color: inherit;
    margin-left: 1em;

    &:hover {
      color: $footer-fg-hover;
      text-decoration: none;
    }
  }
}

.footer-block > * {
  flex-shrink: 0;
}

.footer-spacer {
  flex-grow: 1;
}

@include media-breakpoint-down(md) {
  .footer {
    flex-direction: column;
    height: $footer-height-sm;
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-block a {
    margin-left: 0;
  }
}
