:root {
  --d-footer-height: 80px;
  --d-footer-height-sm: 180px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  padding: 32px;
  color: $gray-80;
  background-color: $gray-20;
  height: var(--d-footer-height);
}

.footer::after {
  content: "";
  display: block;
}

.footer-block {
  display: flex;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-self: stretch;
  align-items: center;

  a {
    color: inherit;
    margin-left: 1em;

    &:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
}

.footer-block > * {
  flex-shrink: 0;
}

.footer-spacer {
  flex-grow: 1;
}

@include media-breakpoint-down(md) {
  .footer {
    flex-direction: column;
    height: var(--d-footer-height-sm);
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-block a {
    margin-left: 0;
  }
}
