.card.series {
  .card-title-icon.christmas {
    &::before {
      content: "";
      position: absolute;
      width: 75px;
      height: 75px;
      margin-left: -5px;
      background-image: url("seasonal/series_status_overlays/christmas.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:hover {
      background: transparent;

      &::before {
        background-image: url("seasonal/series_status_overlays/christmas-hover.svg");
      }

      i {
        color: transparent;
        background: transparent;
        border: transparent;

        &::before {
          color: transparent;
        }
      }
    }
  }
}
