<div class="row">
  <div class="col-xs-12">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title') %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_review_session_#{@review_session.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render 'form', review_session: @review_session, url: review_session_path(@review_session) %>
      </div>
      <div class="card-actions card-border">
        <% if policy(@review_session).destroy? %>
          <%= link_to t('review_sessions.destroy'),
                      review_session_path(@review_session),
                      method: :delete,
                      data: { confirm: t('general.are_you_sure') },
                      class: "btn btn-primary btn-text" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
