<div class="row">
  <div class="col-xs-12">
    <div class="card series-edit">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t(".create_session") %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "new_review_session", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', review_session: @review_session %>
      </div>
    </div>
  </div>
</div>
