<span><%= t('.exercise_progress', feedback_count: metadata[:done], feedback_total: metadata[:total]) %></span>
<span class="feedback-actions-progress" data-bs-html="true" data-bs-toggle="tooltip" title="<%= t('evaluations.show.progress_html', feedback_count: metadata[:done], feedback_total: metadata[:total]) %>">
  <svg class="progress-chart" viewBox="0 0 1 1" style="height: 8px; width: 100%" preserveAspectRatio="none">
    <line x1="0" y1="0.5" x2="<%= metadata[:done].to_f / metadata[:total] %>" y2="0.5" class="info"></line>
    <line x1="<%= metadata[:done].to_f / metadata[:total] %>" y1="0.5" x2="1" y2="0.5" class="not-started"></line>
  </svg>
</span>
