<div class="field form-group">
  <div class="col-sm-6 col-sm-offset-3">
    <input type="checkbox" id="copy_options[<%= name %>]" name="hide_series" <%= "checked" if copy_options[name] %>>
    <%= explanation %>
  </div>
</div>
