<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% content_for :fab do %>
      <%= render 'fab_button', form: "edit_course_#{@course.id}", icon: 'ok' %>
    <% end %>
    <%= render 'layouts/card', title: @course.name do %>
      <%= render 'form', course: @course %>
    <% end %>
  </div>
</div>
