<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t '.title' %></h2>
      </div>
    </div>
    <%= render partial: 'layouts/searchbar', locals: { institutions: Institution.all } %>
    <div id="grouped-course-cards-wrapper">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    <% if current_user&.institution.present? %>
      dodona.addTokenToSearch("institutions", "<%= current_user.institution.name %>");
    <% end %>
  });
</script>
