<% filter_institutions = current_user&.institution.present? && current_user&.institution.courses.any? %>
<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t '.title' %></h2>
      </div>
    </div>
    <%= render partial: 'layouts/searchbar', locals: {institutions: Institution.all, eager: !filter_institutions} %>
    <div id="grouped-course-cards-wrapper">
    </div>
  </div>
</div>
<% if filter_institutions %>
  <script type="text/javascript">
      $(function () {
          dodona.addTokenToSearch("institutions", "<%= current_user.institution.name %>");
      });
  </script>
<% end %>
