<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= @post.title %></h2>
        <div class="card-title-fab">
          <%= render 'application/fab_button', form: "edit_post_#{@post.id}", mdi_icon: 'check' %>
          <% if policy(@post).destroy? %>
            <%= link_to @post, method: :delete, class: "btn btn-primary btn-fab hidden-print" do %>
              <i class="mdi mdi-delete mdi-36"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>
