<% content_for :meta_tags do %>
  <% if @post.first_paragraph.present? %>
    <meta property="og:description" content="<%= @post.first_paragraph %>">
  <% end %>
  <% if @post.first_image.present? %>
    <meta property="og:image" content="<%= rails_blob_url(@post.first_image) %>">
  <% end %>
<% end %>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <%= render 'post', post: @post %>
  </div>
</div>
