.card.action-card {
  height: 100px;
  cursor: pointer;
  transition:
    box-shadow 145ms ease,
    opacity 145ms ease,
    border-color 145ms ease,
    background-color 145ms ease;
  box-shadow: none;

  .card-subtitle {
    margin-bottom: 0.125rem;
    height: 48px;

    h4 {
      width: 100%;
      line-height: 20px;
      min-height: 24px;

      small {
        font-size: 65%;
      }
    }

    .card-title-icon {
      margin-right: 1rem;
    }
  }

  --clickable-card-color: var(--d-primary);
  --on-clickable-card-color: var(--d-on-primary);

  &.colored-danger {
    --clickable-card-color: var(--d-danger);
    --on-clickable-card-color: var(--d-on-danger);
  }

  &.colored-success {
    --clickable-card-color: var(--d-success);
    --on-clickable-card-color: var(--d-on-success);
  }

  background: var(--clickable-card-color);
  color: var(--on-clickable-card-color);

  small {
    color: var(--on-clickable-card-color);
  }

  .progress-chart.colored-muted {
    --progress-chart-color: var(--on-clickable-card-color);
  }

  d-progress-bar {
    .bar {
      background-color: var(--on-clickable-card-color);
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }

  &:hover {
    @include shadow-z2;
  }

  &:disabled,
  &.disabled {
    opacity: 0.38;
    pointer-events: none;
  }
}
