.btn,
#scratchpad-offcanvas .papyros-button {
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  white-space: nowrap;
  transition:
    box-shadow 145ms ease,
    opacity 145ms ease,
    border-color 145ms ease,
    background-color 145ms ease;

  &.with-icon {
    padding-left: 16px;
    padding-right: 24px;

    .mdi {
      padding: 0;
      padding-right: 8px;
    }
  }

  &.with-icon.right {
    padding-left: 24px;
    padding-right: 16px;

    .mdi {
      padding: 0;
      padding-left: 8px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    opacity: 0.38;
    pointer-events: none;
  }

  // define the default button colors
  // makes it easier to combine with other classes such as d-btn-danger, d-btn-success, etc.
  --d-btn-color: var(--d-primary);
  --d-btn-color-rgb: var(--d-primary-rgb);
  --d-on-btn-color: var(--d-on-primary);
}

.btn.btn-filled,
#scratchpad-offcanvas .papyros-button.btn-danger,
#scratchpad-offcanvas .papyros-button.btn-primary {
  background: var(--d-btn-color);
  color: var(--d-on-btn-color);

  &:hover {
    @include shadow-z2;
  }
}

.btn.btn-tonal,
#scratchpad-offcanvas .papyros-button.btn-tonal {
  --d-btn-color: var(--d-secondary-container);
  --d-on-btn-color: var(--d-on-secondary-container);

  background: var(--d-btn-color);
  color: var(--d-on-btn-color);

  &:hover {
    @include shadow-z1;
  }
}

.btn.btn-elevated {
  @include shadow-z1;

  &:hover {
    @include shadow-z2;
  }
}

.btn.btn-text,
#scratchpad-offcanvas .papyros-button.btn-secondary,
.btn.btn-outline {
  background: none;
  color: var(--d-btn-color);

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
    background: rgba(var(--d-btn-color-rgb), 0.1);
  }
}

// in the future, the "with-icon" class can be replaced by a "has()" selector
.btn.btn-text {
  padding-left: 12px;
  padding-right: 12px;

  &.with-icon {
    padding-left: 12px;
    padding-right: 16px;

    .mdi {
      padding: 0;
      padding-right: 8px;
    }
  }

  &.with-icon.right {
    padding-left: 16px;
    padding-right: 12px;

    .mdi {
      padding: 0;
      padding-left: 8px;
    }
  }
}

.btn.btn-outline,
#scratchpad-offcanvas .papyros-button.btn-secondary {
  border: 1px solid var(--d-divider);

  &:hover,
  &:focus,
  &:active {
    border-color: var(--d-btn-color);
  }

  &:disabled {
    color: var(--d-on-surface);
    border: 1px solid rgba(var(--d-on-surface-rgb), 0.12);
    opacity: 0.38;
  }
}

.btn.btn-icon {
  width: 40px;
  padding: 0;
  color: var(--d-btn-color);

  // enable pointer events to enable tooltips to be shown on disabled buttons
  &.disabled-with-tooltip {
    pointer-events: auto;
    cursor: default;
  }

  &:not(.btn-icon-filled, .disabled-with-tooltip) {
    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background: rgba(var(--d-btn-color-rgb), 0.1);
    }
  }

  &.btn-icon-inverted {
    color: var(--d-on-btn-color);

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background: rgba(white, 0.1);
    }
  }

  &.btn-icon-muted {
    color: var(--d-text-muted);

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
      background: rgba(var(--d-on-surface-rgb), 0.1);
    }
  }

  &.btn-icon-filled {
    color: var(--d-on-btn-color);
    background: var(--d-btn-color);

    &:hover,
    &:focus,
    &:active {
      @include shadow-z2;
    }
  }
}

.btn.btn-fab,
.btn.btn-fab-small,
.btn.btn-fab-small-extended {
  --d-btn-color: var(--d-secondary-container);
  --d-on-btn-color: var(--d-on-secondary-container);

  // boostrap applies these variables, but they aren't set.
  --bs-btn-active-bg: var(--d-btn-color);
  --bs-btn-active-color: var(--d-on-btn-color);

  background: var(--d-btn-color);
  color: var(--d-on-btn-color);

  @include shadow-z2;

  &:hover,
  &:focus,
  &:active,
  &:disabled,
  &.disabled {
    opacity: 1;
    filter: brightness(0.95);

    @include shadow-z3;
  }
}

.btn.btn-fab {
  height: 56px;
  width: 56px;
  border-radius: 16px;
}

.btn.btn-fab-small {
  height: 40px;
  width: 40px;
  border-radius: 12px;
  padding: 6px;
}

.btn.btn-fab-small-extended {
  height: 40px;
  border-radius: 12px;
}

.btn-group {
  & > .btn {
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid var(--d-divider);
    border-right: 0;

    &:last-of-type {
      border-right: 1px solid var(--d-divider);
    }

    &:hover,
    &:focus,
    &:active {
      background: rgba(var(--d-btn-color-rgb), 0.1);
    }

    &.active {
      background: rgba(var(--d-btn-color-rgb), 0.2);
    }
  }
}

.input-group {
  .btn {
    border: 1px solid var(--d-outline);
    border-radius: 4px;
  }

  .btn:disabled {
    opacity: 0.8;
  }

  &.input-group-small {
    .btn {
      height: 32px;
    }
  }
}

.option-btn {
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 12px;
  background-color: var(--d-surface);
  border-radius: 4px;
  transition: box-shadow 0.1s cubic-bezier(0.4, 0, 0.2, 1);

  @include shadow-z2;

  cursor: pointer;

  .option-btn-img {
    margin-right: 12px;

    img {
      width: 70px;
      height: 70px;
      object-position: 50% 50%;
      object-fit: contain;
    }
  }

  .option-btn-title {
    flex-grow: 1;

    h3 {
      line-height: 1;
    }
  }
}

.option-btn:hover {
  @include shadow-z4;
}

.single-zero-button,
#zero-button {
  background-color: unset;
  color: unset;
  transition: background-color 1s ease-out;
}

.single-max-button,
#max-button {
  background-color: unset;
  color: unset;
  transition: background-color 1s ease-out;
}

.single-zero-button:hover:not(:focus),
#zero-button:hover:not(:focus) {
  color: var(--d-danger);
}

.single-max-button:hover:not(:focus),
#max-button:hover:not(:focus) {
  color: var(--d-success);
}

.single-zero-button:active,
#zero-button:active {
  background-color: rgba(var(--d-danger-rgb), 0.6);
  color: unset;
  transition: background-color 0s;
}

.single-max-button:active,
#max-button:active {
  background-color: rgba(var(--d-success-rgb), 0.6);
  color: unset;
  transition: background-color 0s;
}

// use d-btn-danger instead of btn-danger to avoid conflicts with bootstrap
.btn.d-btn-danger,
#scratchpad-offcanvas .papyros-button.btn-danger {
  --d-btn-color: var(--d-danger);
  --d-btn-color-rgb: var(--d-danger-rgb);
  --d-on-btn-color: var(--d-on-danger);
}

.btn.d-btn-success {
  --d-btn-color: var(--d-success);
  --d-btn-color-rgb: var(--d-success-rgb);
  --d-on-btn-color: var(--d-on-success);
}
