$card-margin-bottom: 24px;
$card-supporting-text-padding: 16px;

.card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  z-index: auto;
  position: relative;
  overflow: visible;
  background: $surface;
  border-radius: $border-radius-base;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  @include shadow-z2;

  margin-bottom: $card-margin-bottom;
}

.card-outlined {
  box-shadow: none;
  border: 1px solid $outline;
}

.card-media {
  background-color: $surface;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;

  // workaround for IE11 flexbox bug
  min-height: 2px;
}

.card-media img,
.card-media object {
  width: 100%;
}

.card-title {
  align-items: flex-start;
  display: block;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;

  &.card-title-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.card-title.card-title-colored {
  color: $on-primary;
  background-color: $primary;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

a.card-title-link,
a.card-title-link:hover {
  color: inherit;
  text-decoration: none;
}

.card-title.card-colored-accent {
  color: $on-primary-container;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;

  .card-subtitle-text {
    margin-top: 3px;
    opacity: 0.75;
  }

  .card-subtitle-text + .card-subtitle-text {
    margin-top: 10px;
  }

  a {
    color: inherit;
  }

  &.accent-red {
    background-color: $red-container;
    color: $on-red-container;
  }

  &.accent-pink {
    background-color: $pink-container;
    color: $on-pink-container;
  }

  &.accent-purple {
    background-color: $purple-container;
    color: $on-purple-container;
  }

  &.accent-deep-purple {
    background-color: $deep-purple-container;
    color: $on-purple-container;
  }

  &.accent-indigo {
    background-color: $indigo-container;
    color: $on-indigo-container;
  }

  &.accent-teal {
    background-color: $teal-container;
    color: $on-teal-container;
  }

  &.accent-orange {
    background-color: $orange-container;
    color: $on-orange-container;
  }

  &.accent-brown {
    background-color: $brown-container;
    color: $on-brown-container;
  }

  &.accent-blue-gray {
    background-color: $blue-gray-container;
    color: $on-blue-gray-container;
  }

  &.accent-blue {
    background-color: $blue-container;
    color: $on-blue-container;
  }

  &.accent-yellow {
    background-color: $yellow-container;
    color: $on-yellow-container;
  }

  &.accent-green {
    background-color: $green-container;
    color: $on-green-container;
  }

  &.accent-cyan {
    background-color: $cyan-container;
    color: $on-cyan-container;
  }
}

.card-title.card-title-plain li a {
  font-weight: 300;
  color: $on-surface;
}

.card-title.card-border {
  border-bottom: 1px solid $divider;
}

.card-title-text {
  color: inherit;
  display: block;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  margin: 0;
}

.card-title-text + .card-subtitle-text {
  margin-top: 0.4em;
}

.card-title-text.float-end {
  margin-left: 8px;
  overflow: visible;
}

.card-title-colored .card-title-text,
.card-title-colored .card-title-text a {
  color: $on-primary;
}

.card-title-image {
  background: rgba(0, 0, 0, 0.5);
  color: $on-primary;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  height: 61px;
  margin-top: -61px;
  z-index: 1;
}

.card-subtitle-text {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
}

.card-title.card-subtitle {
  align-items: inherit;
  padding: inherit;
}

.card-supporting-text {
  color: $on-surface;
  font-size: 14px;
  line-height: 18px;
  padding: $card-supporting-text-padding;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.card-supporting-text.card-border,
.card-actions.card-border {
  border-top: 1px solid $divider;
}

.card-title + .card-border {
  border-top: 0;
}

.card-expand {
  flex-grow: 1;
}

/* stylelint-disable-next-line selector-class-pattern */
.card_menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-subtitle {
  display: flex;
  align-items: center;
}

.card-subtitle-actions .nav.btn-group {
  flex-wrap: nowrap;
}

.card-subtitle-actions {
  gap: 8px;
  margin-right: -8px;
}

.card-subtitle-actions a.dropdown-item {
  margin-left: unset;
  color: $on-surface;
}

.card-nav,
.card-nav .card-supporting-text {
  overflow: visible;
}

.card-nav .card-title {
  padding-bottom: 0;
  padding-top: 11px;
}

.card-tab .nav-tabs,
.card-title .nav-tabs {
  min-height: 50px;
}

.card-title.card-title-colored .nav-tabs {
  border: none;
}

.card-tab .nav-tabs li,
.card-title .nav-tabs li {
  height: 50px;
  overflow: hidden;
  margin-bottom: 0;
}

.card-tab .nav {
  margin-bottom: 16px;
}

.card-tab .nav-tabs li a,
.card-title .nav-tabs li a {
  margin-right: 10px;
  height: 55px;
  border: none;
  border-bottom: 5px solid $secondary-container;
  font-size: 18px;
  transition-duration: 0.2s;
  transition-property: height;
  transition-timing-function: ease-out;
  display: block;
  padding: 10px 10px 8px;
  line-height: 25px;
}

.card-title-colored .nav-tabs li a,
.card-title-colored .nav-tabs li a:hover,
.card-title-colored .nav-tabs li a:focus {
  color: $on-primary;
}

.card-tab .nav-tabs li a {
  color: $on-surface-muted;
}

.card-tab .nav-tabs li a.active,
.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus {
  color: $on-surface;
}

.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus,
.card-title .nav-tabs li.active a,
.card-title .nav-tabs li a:hover,
.card-title .nav-tabs li a:focus,
.card-tab .nav-tabs li a.active,
.card-title .nav-tabs li a.active {
  border: none;
  background: inherit;
  border-bottom: 5px solid $secondary-80;
  height: 50px;
}

.card-nav .btn-icon {
  padding: 5px;
  margin: -5px -5px -5px -2px;
  cursor: pointer;
}

.card-nav .card-title .btn-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-nav .badge {
  margin-left: 3px;
  background-color: $secondary-container;
  color: $on-secondary-container;
}

.nav-tabs .badge {
  background-color: $surface-variant;
  color: $on-surface-variant;
}

.nav-tabs .active .badge {
  background-color: $secondary-container;
  color: $on-secondary-container;
}

.card-title-fab {
  position: absolute;
  right: 24px;
  top: 31px;
  z-index: 4;

  form {
    display: inline;
  }
}

.card-subtitle-fab {
  top: 48px;
}

// Clickable style based om material 3 elevated button
.card.card-clickable {
  cursor: pointer;
  transition:
    box-shadow 145ms ease,
    opacity 145ms ease,
    border-color 145ms ease,
    background-color 145ms ease;
  box-shadow: none;

  --clickable-card-color: #{$primary};
  --on-clickable-card-color: #{$on-primary};
  --progress-chart-correct-color: #{rgba($on-primary, 0.8)};
  --progress-chart-wrong-color: #{rgba($on-primary, 0.5)};
  --progress-chart-not-started-color: #{rgba($on-primary, 0.2)};

  &.colored-danger {
    --clickable-card-color: #{$danger};
    --on-clickable-card-color: #{$on-danger};
    --progress-chart-correct-color: #{rgba($on-danger, 0.8)};
    --progress-chart-wrong-color: #{rgba($on-danger, 0.5)};
    --progress-chart-not-started-color: #{rgba($on-danger, 0.2)};
  }

  &.colored-success {
    --clickable-card-color: #{$success};
    --on-clickable-card-color: #{$on-success};
    --progress-chart-correct-color: #{rgba($on-success, 0.8)};
    --progress-chart-wrong-color: #{rgba($on-success, 0.5)};
    --progress-chart-not-started-color: #{rgba($on-success, 0.2)};
  }

  background: var(--clickable-card-color);
  color: var(--on-clickable-card-color);

  small {
    color: var(--on-clickable-card-color);
  }

  .progress-chart {
    .correct {
      stroke: var(--progress-chart-correct-color);
    }

    .wrong {
      stroke: var(--progress-chart-wrong-color);
    }

    .not-started {
      stroke: var(--progress-chart-not-started-color);
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.9;
  }

  &:disabled,
  &.disabled {
    opacity: 0.38;
    pointer-events: none;
  }
}
