:root {
  --d-card-margin-bottom: 24px;
  --d-card-supporting-text-padding: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  z-index: auto;
  position: relative;
  overflow: visible;
  background: var(--d-surface);
  border-radius: var(--d-border-radius-base);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  @include shadow-z2;

  margin-bottom: var(--d-card-margin-bottom);
}

.card-outlined {
  box-shadow: none;
  border: 1px solid var(--d-outline);
}

.card-media {
  background-color: var(--d-surface);
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;

  // workaround for IE11 flexbox bug
  min-height: 2px;
}

.card-media img,
.card-media object {
  width: 100%;
}

.card-title {
  align-items: flex-start;
  display: block;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;

  &.card-title-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .course-subtitle {
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
    justify-content: space-between;
    display: flex;
    width: 100%;
  }
}

.card-title.card-title-colored {
  color: var(--d-on-primary);
  background-color: var(--d-primary);
  border-top-left-radius: var(--d-border-radius-base);
  border-top-right-radius: var(--d-border-radius-base);

  .progress-chart.colored-muted {
    --progress-chart-color: var(--d-on-primary);
  }

  small {
    color: var(--d-on-primary);
  }
}

.card-title.card-title-colored-container {
  color: var(--d-on-primary-container);
  background-color: var(--d-primary-container);
  border-top-left-radius: var(--d-border-radius-base);
  border-top-right-radius: var(--d-border-radius-base);

  .progress-chart.colored-muted {
    --progress-chart-color: var(--d-on-primary-container);
  }

  .series-icon {
    --icon-color: var(--d-on-primary-container);
    --icon-background-color: var(--d-primary-container);
  }
}

.home-summary-card.course .card-title {
  height: 111px;
}

a.card-title-link,
a.card-title-link:hover {
  color: inherit;
  text-decoration: none;
}

.card-title.card-title-plain li a {
  font-weight: 300;
  color: var(--d-on-surface);
}

.card-title.card-border {
  border-bottom: 1px solid var(--d-divider);
}

.card-title-text {
  color: inherit;
  display: block;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  margin: 0;
}

.card-title-text + .card-subtitle-text {
  margin-top: 0.4em;
}

.card-title-text.float-end {
  margin-left: 8px;
  overflow: visible;
}

.card-title-colored .card-title-text,
.card-title-colored .card-title-text a {
  color: var(--d-on-primary);
}

.card-title-image {
  background: rgba(0, 0, 0, 0.5);
  color: var(--d-on-primary);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  height: 61px;
  margin-top: -61px;
  z-index: 1;
}

.card-subtitle-text {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;

  a {
    color: var(--d-on-primary);
  }
}

.card-title.card-subtitle {
  align-items: inherit;
  padding: inherit;
}

.card-supporting-text {
  color: var(--d-on-surface);
  font-size: 14px;
  line-height: 18px;
  padding: var(--d-card-supporting-text-padding);
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
}

.card-supporting-text.card-border,
.card-actions.card-border {
  border-top: 1px solid var(--d-divider);
}

.card-title + .card-border {
  border-top: 0;
}

.card-expand {
  flex-grow: 1;
}

/* stylelint-disable-next-line selector-class-pattern */
.card_menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-subtitle {
  display: flex;
  align-items: center;
}

.card-subtitle-actions .nav.btn-group {
  flex-wrap: nowrap;
}

.card-subtitle-actions {
  gap: 8px;
  margin-right: -8px;
}

.card-subtitle-actions a.dropdown-item {
  margin-left: unset;
  color: var(--d-on-surface);
}

.card-nav,
.card-nav .card-supporting-text {
  overflow: visible;
}

.card-nav > .card-title {
  padding-bottom: 0;
  padding-top: 11px;
}

.card-tab .nav-tabs,
.card-title .nav-tabs {
  min-height: 50px;
}

.card-title.card-title-colored .nav-tabs {
  border: none;
}

.card-tab .nav-tabs li,
.card-title .nav-tabs li {
  height: 50px;
  overflow: hidden;
  margin-bottom: 0;
}

.card-tab .nav {
  margin-bottom: 16px;
}

.card-tab .nav-tabs li a,
.card-title .nav-tabs li a {
  margin-right: 10px;
  height: 55px;
  border: none;
  border-bottom: 5px solid var(--d-secondary-container);
  font-size: 18px;
  transition-duration: 0.2s;
  transition-property: height;
  transition-timing-function: ease-out;
  display: block;
  padding: 10px 10px 8px;
  line-height: 25px;
}

.card-title-colored .nav-tabs li a,
.card-title-colored .nav-tabs li a:hover,
.card-title-colored .nav-tabs li a:focus {
  color: var(--d-on-primary);
}

.card-tab .nav-tabs li a {
  color: var(--d-on-surface-muted);
}

.card-tab .nav-tabs li a.active,
.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus {
  color: var(--d-on-surface);
}

.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus,
.card-title .nav-tabs li.active a,
.card-title .nav-tabs li a:hover,
.card-title .nav-tabs li a:focus,
.card-tab .nav-tabs li a.active,
.card-title .nav-tabs li a.active {
  border: none;
  background: inherit;
  border-bottom: 5px solid $secondary-80;
  height: 50px;
}

.nav-tabs.sticky {
  position: sticky;
  top: var(--d-navbar-height);
  z-index: 9;
  background-color: var(--d-surface);
}

.card-nav .card-title .btn-icon:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.card-nav .badge {
  margin-left: 3px;
  background-color: var(--d-secondary-container);
  color: var(--d-on-secondary-container);
}

.nav-tabs .badge {
  background-color: var(--d-surface-variant);
  color: var(--d-on-surface-variant);
}

.nav-tabs .active .badge {
  background-color: var(--d-secondary-container);
  color: var(--d-on-secondary-container);
}

.card-title-fab {
  position: absolute;
  right: 24px;
  top: 31px;
  z-index: 4;

  form {
    display: inline;
  }
}

.card-subtitle-fab {
  top: 48px;
}

.card-supporting-text .course-item {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  height: 36px;
  align-items: center;

  &.course-item-double {
    height: 88px;
  }

  &.course-item-triple {
    height: 156px;
    flex-direction: column;
    width: 100%;
  }

  p {
    margin-bottom: 0;
  }

  .course-item-icon {
    margin-right: 12px;
    align-content: center;
    display: grid;
  }
}

.card-supporting-text .course-item + .course-item {
  margin-top: 16px;
}

.card-supporting-text.course-activities-full-height {
  height: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
