$card-margin-bottom: 24px;
$card-supporting-text-padding: 16px;

.card {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  z-index: auto;
  position: relative;
  overflow: visible;
  background: $content-bg;
  border-radius: $border-radius-base;
  transition: box-shadow 0.2s cubic-bezier(.4, 0, .2, 1);
  @include shadow-z2;
  margin-bottom: $card-margin-bottom;
}

.card-media {
  background-color: $content-bg;
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;

  // workaround for IE11 flexbox bug
  min-height: 2px;
}

.card-media img,
.card-media object {
  width: 100%;
}

.card-title {
  align-items: flex-start;
  display: block;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
}

.card-title.card-title-colored {
  color: rgb(0, 0, 0);
  background-color: $header-bg;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

a.card-title-link,
a.card-title-link:hover {
  color: inherit;
  text-decoration: none;
}

.card-title.card-colored-accent {
  color: $text-on-bg-color;
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;

  .card-subtitle-text {
    margin-top: 3px;
    color: $text-secondary-on-bg-color;
  }

  .card-subtitle-text + .card-subtitle-text {
    margin-top: 10px;
  }

  a {
    color: inherit;
  }
}

.card-title.card-colored-accent {
  &.accent-red {
    background-color: $color-red-bg;
  }
  &.accent-pink {
    background-color: $color-pink-bg;
  }
  &.accent-purple {
    background-color: $color-purple-bg;
  }
  &.accent-deep-purple {
    background-color: $color-deep-purple-bg;
  }
  &.accent-indigo {
    background-color: $color-indigo-bg;
  }
  &.accent-teal {
    background-color: $color-teal-bg;
  }
  &.accent-orange {
    background-color: $color-orange-bg;
  }
  &.accent-brown {
    background-color: $color-brown-bg;
  }
  &.accent-blue-grey {
    background-color: $color-blue-grey-bg;
  }
  &.accent-blue {
    background-color: $color-blue-bg;
  }
  &.accent-yellow {
    background-color: $color-yellow-bg;
  }
  &.accent-green {
    background-color: $color-green-bg;
  }
  &.accent-cyan {
    background-color: $color-cyan-bg;
  }
}

.card-title.card-title-plain li a {
  font-weight: 300;
  color: $text-color;
}

.card-title.card-border {
  border-bottom: 1px solid $divider-color;
}

.card-title-text {
  color: inherit;
  display: block;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  margin: 0;
}

.card-title-text + .card-subtitle-text {
  margin-top: .4em;
}

.card-title-text.float-end {
  margin-left: 8px;
  overflow: visible;
}

.card-title-colored .card-title-text,
.card-title-colored .card-title-text a {
  color: $header-fg;
}

.card-title-image {
  background: rgba(0, 0, 0, 0.5);
  color: $header-fg;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  height: 61px;
  margin-top: -61px;
  z-index: 1;
}

.card-subtitle-text {
  font-size: 14px;
  color: $text-secondary;
  margin: 0;
  font-weight: normal;
  line-height: 1.1;
}

.card-title.card-subtitle {
  align-items: inherit;
  padding: inherit;
}

.card-title-colored .card-subtitle-text,
.card-title-colored .card-subtitle-text a {
  color: $header-fg-secondary;
}

.card-supporting-text {
  color: $text-color;
  font-size: 14px;
  line-height: 18px;
  padding: $card-supporting-text-padding;
  .mdi::before{
    line-height: 18px;
  }
  .mdi-36::before{
    line-height: 32px
  }
  .mdi-48::before {
    line-height: 50px
  }
}

.card-actions {
  font-size: 16px;
  line-height: normal;
  width: 100%;
  background-color: transparent;
  padding: 8px;
  box-sizing: border-box;
  text-align: right;
}

.card-supporting-text.card-border,
.card-actions.card-border {
  border-top: 1px solid $divider-color;
}

.card-title + .card-border {
  border-top: 0px;
}

.card-expand {
  flex-grow: 1;
}

.card_menu {
  position: absolute;
  right: 16px;
  top: 16px;
}

.card-subtitle {
  display: flex;
  align-items: center;
}

.card-subtitle-actions .nav.btn-group {
  flex-wrap: nowrap;
}

.card-subtitle-actions a {
  color: $text-secondary;
  font-size: 18px;
  margin-left: 10px;
}

.card-subtitle-actions a.dropdown-item {
  margin-left: unset;
  color: $text-color;
}

.card-subtitle-actions a:hover {
  color: $text-color;
  font-size: 18px;
}

.card-nav,
.card-nav .card-supporting-text {
  overflow: visible;
}

.card-nav .card-title {
  padding-bottom: 0;
  padding-top: 11px;
}

.card-tab .nav-tabs,
.card-title .nav-tabs {
  min-height: 50px;
}

.card-title.card-title-colored .nav-tabs {
  border: none;
}

.card-tab .nav-tabs li,
.card-title .nav-tabs li {
  height: 50px;
  overflow: hidden;
  margin-bottom: 0;
}

.card-tab .nav {
  margin-bottom: 16px;
}

.card-tab .nav-tabs li a,
.card-title .nav-tabs li a {
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  height: 55px;
  border: none;
  border-bottom: 5px solid $header-accent;
  font-size: 18px;
  transition-duration: 0.2s;
  transition-property: height;
  transition-timing-function: ease-out;
}

.card-title-colored .nav-tabs li a,
.card-title-colored .nav-tabs li a:hover,
.card-title-colored .nav-tabs li a:focus {
  color: $header-fg;
}

.card-tab .nav-tabs li a {
  color: $text-muted;
}
.card-title .nav-tabs li a,
.card-tab .nav-tabs li a {
  display: block;
  padding-top: 10px;
  line-height: 25px;
}

.card-tab .nav-tabs li a.active,
.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus {
  color: $text-color;
}

.card-tab .nav-tabs li.active a,
.card-tab .nav-tabs li a:hover,
.card-tab .nav-tabs li a:focus,
.card-title .nav-tabs li.active a,
.card-title .nav-tabs li a:hover,
.card-title .nav-tabs li a:focus,
.card-tab .nav-tabs li a.active,
.card-title .nav-tabs li a.active {
  border: none;
  background: inherit;
  border-bottom: 5px solid $header-accent;
  height: 50px;
}

.card-nav .btn-icon {
  padding: 5px;
  margin: -5px -5px -5px -2px;
  cursor: pointer;
}

.card-nav .card-title .btn-icon:hover {
  background-color: rgba(255, 255, 255, .3);
}

.card-nav .badge {
  margin-left: 3px;
  background-color: $header-accent;
}

.nav-tabs .badge {
  background-color: $text-muted;
}

.nav-tabs .active .badge {
  background-color: $header-accent;
}

.card-title-fab {
  position: absolute;
  right: 24px;
  top: 31px;
  z-index: 4;

  form {
    display: inline;
  }
}

.card-subtitle-fab {
  top: 48px;
}
