.code-table {

  .feedback-table-options {
    margin-bottom: 0.5em !important;
  }

  #messages-were-hidden {
    cursor: pointer;
    height: 27px;
    vertical-align: middle;
    display: block;
    text-decoration: underline;
  }

  .code-listing {

    user-select: none;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

    // Override the normal pre padding & coloring
    pre {
      padding: 0;
      background-color: transparent;
      margin-bottom: 0;
      border: none;
      border-radius: 0;
      white-space: pre-wrap;
    }

    .lineno:first-child {
      .rouge-code, .rouge-gutter {
        padding-top: 5px;
      }
    }

    .lineno:last-child {
      .rouge-code, .rouge-gutter {
        padding-bottom: 5px;
      }
    }

    .lineno.marked {
      background-color: @warning-500;
    }


    .rouge-code {
      padding-left: 5px;
      user-select: text;
      white-space: pre-wrap;
      word-break: break-word;
    }

    .rouge-gutter {
      min-width: 30px;
      text-align: right;
      vertical-align: top;
      padding-right: 5px;

      display: flex;
      justify-content: flex-end;

      background-color: @well-bg;

      pre {
        font-family: @font-family-monospace;
        color: @gray-light
      }

      @dot-size: 9px;

      .dot {
        height: @dot-size;
        width: @dot-size;
        border-radius: 50%;
        display: inline-block;
        flex-shrink: 0;

        margin: 2px;
      }

      .dot-info {
        background-color: @info-500;
      }

      .dot-warning {
        background-color: @warning-500;
      }

      .dot-error {
        background-color: @danger-500;
      }
    }

    background-color: @body-bg;

    .annotation-set {
      .annotation-cell {
        .annotation {
          font-family: @font-family-monospace;
          margin: 3px 5px 3px 10px;
          padding: 2px 10px;
          border-radius: 0 5px 5px 0;
          border: 1px solid @hairlinegray;
          border-left-width: 3px;
          background: @content-bg;
          white-space: pre-wrap;
        }

        .annotation.error {
          border-left-color: @danger-500;
        }

        .annotation.warning {
          border-left-color: @warning-500;
        }

        .annotation.info {
          border-left-color: @info-500;
        }

        div.copy-blocker {
          position: absolute;
          user-select: text;
          height: 100%;
        }

        .hide {
          display: none;
        }

        span.displayMore {
          cursor: pointer;
          text-decoration: underline;
          margin-left: 10px;
          color: @text-secondary;
        }
      }
    }
  }
}
