@use "sass:map";

:root {
  --d-dot-size: 9px;
}

.code-table {
  &.selection-color-question {
    ::selection {
      background-color: var(--d-annotation-question-background-intense);
    }
  }

  &.selection-color-annotation {
    ::selection {
      background-color: var(--d-annotation-user-background-intense);
    }
  }

  .dot {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    height: var(--d-dot-size);
    width: var(--d-dot-size);
    border-radius: 100%;
  }

  .feedback-table-options .dot {
    margin-left: 5px;
    margin-top: 15px;
  }

  .dot-info {
    background-color: var(--d-annotation-info);
  }

  .dot-warning {
    background-color: var(--d-annotation-warning);
  }

  .dot-annotation {
    background-color: var(--d-annotation-user);
  }

  .dot-error {
    background-color: var(--d-annotation-error);
  }

  .dot-question {
    background-color: var(--d-annotation-question);
  }

  .code-listing-container {
    position: relative;
    left: 0;
    top: 0;
    margin-top: 10px;

    .copy-btn {
      margin-right: 5px;
      margin-top: -4px;
      position: absolute;
      right: 1px;
      top: 0;
    }

    .code-listing {
      display: block;
      white-space: nowrap;
      background-color: var(--d-surface);

      // Override the normal pre padding & coloring
      pre {
        padding: 0;
        background-color: transparent;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        white-space: pre-wrap;
        line-height: 20px;
      }

      // Highlight for the line numbers.
      .lineno.marked .rouge-gutter {
        background-color: var(--d-warning-container);
      }

      // Highlight for the code itself.
      .lineno.marked .rouge-code pre {
        background-color: var(--d-warning-container);
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }

      // A highlight is more important then annotation background
      // but less important then intense annotation background or selection markers
      .lineno.marked .rouge-code d-annotation-marker {
        padding: 0;
        margin: 0;

        --question-color: #{var(--d-warning-container)};
        --annotation-color: #{var(--d-warning-container)};
      }

      .annotation-button {
        display: none;
        position: absolute;
        right: 15px;
        top: -12px;
        z-index: 2;
        border-radius: 12px;

        .btn-fab-small-flex {
          height: 40px;
          width: auto;
          max-width: 40px;
          border-radius: 12px;
          background: var(--d-secondary-container);
          color: var(--d-on-secondary-container);
          transition: max-width 0.2s ease-in-out, padding 0.2s ease-in-out;
          justify-content: end;
          overflow: hidden;
          padding: 6px 8px;
          min-width: 40px;

          @include shadow-z2;

          .mdi {
            padding: 0;
            padding-left: 8px;
          }
        }

        @include media-breakpoint-up(lg) {
          &.expanded {
            .btn-fab-small-flex {
              max-width: 1000px;
              padding-left: 24px;
              padding-right: 16px;
            }
          }
        }

        &.show {
          display: inline-flex;
        }

        &::after {
          width: 0;
          height: 0;
          border-bottom: 8px solid transparent;
          border-top: 8px solid transparent;
          border-left: 8px solid var(--d-secondary-container);
          content: " ";
          position: absolute;
          top: 13px;
          right: -7px;
        }

        &:hover {
          @include shadow-z3;

          &::after,
          .btn-fab-small-flex {
            opacity: 1;
            filter: brightness(0.95);
          }
        }
      }

      d-code-listing-row:first-child {
        .rouge-code,
        .rouge-gutter {
          padding-top: 5px;
        }
      }

      d-code-listing-row:last-child {
        .rouge-code,
        .rouge-gutter {
          padding-bottom: 5px;
        }
      }

      .lineno:hover .annotation-button {
        display: inline-flex;

        &.hide {
          display: none;
        }

        &.show {
          display: inline-flex;
        }
      }

      .rouge-code {
        width: 100%;

        pre {
          padding-left: 5px;
          white-space: break-spaces;
          word-break: break-word;
          min-height: 20px;
        }
      }

      .rouge-gutter {
        vertical-align: top;
        white-space: nowrap;
        text-align: right;

        pre {
          padding-right: 5px;
          margin-left: 20px;
          white-space: nowrap;
          font-family: var(--d-font-monospace);
          color: var(--d-on-surface-muted);
        }
      }

      // General lighter background on the right side
      .rouge-code,
      .annotation-cell {
        background-color: var(--d-background);
      }

      .hide {
        display: none;
      }

      .annotation-cell {
        width: 100%;
        min-width: 100%;
      }
    }

    d-code-listing-row {
      display: contents;

      .code-layers {
        position: relative;
        width: 100%;
        height: 100%;

        .background-layer,
        .selection-layer,
        .text-layer,
        .tooltip-layer {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          pointer-events: none;
          user-select: none;
          color: transparent;
        }

        .tooltip-layer {
          pointer-events: auto;
          user-select: auto;
        }

        .text-layer {
          color: inherit;
          background: transparent;
        }

        .background-layer {
          position: initial;
          display: block;
        }
      }

      pre.code-line {
        overflow: visible;
        display: inline-block;
        padding-top: 1px;
      }

      .question-selection-marker {
        background-color: var(--d-annotation-question-background-intense)
      }

      .annotation-selection-marker {
        background-color: var(--d-annotation-user-background-intense)
      }

      // This is a hack to extend the drop target more to the left
      .drop-target-extension {
        position: absolute;
        width: 200px;
        height: 20px;
        top: 0;
        right: -4px;
        opacity: 0;
        display: block;
        left: -200px;
      }
    }
  }

  #feedback-table-global-annotations.has-annotations {
    padding-bottom: 10px;
  }

  .thread {
    margin: 3px 5px;
    padding-left: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--d-divider);
    background: var(--d-surface);
    white-space: normal;

    .annotation {
      margin: 2px 0;
      border: none;
      border-left: 3px solid var(--d-outline);
    }

    d-user-annotation {
      display: block;

      .dropdown {
        position: static;
      }
    }

    .fake-input {
      margin: 4px 5px 4px 0;
      display: flex;
      align-items: center;

      span {
        margin-left: 15px;
        margin-right: 5px;
      }

      .form-control {
        border-color: var(--d-divider);
      }
    }
  }

  .annotation {
    margin: 3px 5px;
    padding: 2px 5px 2px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--d-divider);
    border-left-width: 3px;
    border-left-color: var(--d-outline);
    background: var(--d-surface);
    white-space: normal;

    .annotation-header {
      .annotation-meta {
        font-size: 85%;
        color: var(--d-on-surface-muted);
      }
      /* stylelint-disable selector-class-pattern */
      .annotation-edit,
      .question-resolve,
      .question-in_progress,
      .question-unresolve {
        float: right;
      }
      /* stylelint-enable selector-class-pattern */

      .annotation-meta-icon {
        &::before {
          vertical-align: bottom;
        }

        margin-left: 4px;
      }

      .annotation-warning::before {
        vertical-align: bottom;
      }
    }

    .annotation-text {
      word-break: break-word;
      padding-bottom: 4px;

      p:last-child {
        margin-bottom: 0;
      }

      // Override the normal pre padding & coloring
      pre {
        padding: 0;
        background-color: var(--d-code-bg) !important;
        margin-bottom: 0;
        border: none;
        border-radius: 0;
        white-space: pre-wrap;
        line-height: 20px;
      }

      // Stylize the embedded code block
      .highlighter-rouge div.highlight,
      pre:not(.highlight) {
        padding: 5px 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        background: var(--d-code-bg);
        border-radius: 3px;
      }

      .highlighter-rouge {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      hr {
        margin-top: 8px;
        margin-bottom: 8px;
      }

      img {
        display: block;
        margin: 10px auto 20px;
        max-width: 300px;

        @include media-breakpoint-up(md) {
          max-width: calc(#{map.get($container-max-widths, "md")} * 0.6);
        }

        @include media-breakpoint-up(lg) {
          max-width: calc(#{map.get($container-max-widths, "lg")} * 0.7);
        }

        @include media-breakpoint-up(xl) {
          max-width: calc(#{map.get($container-max-widths, "xl")} * 0.7);
        }
      }
    }
  }

  .annotation.question {
    border-left-color: var(--d-annotation-question);
  }

  .annotation.error {
    border-left-color: var(--d-annotation-error);
  }

  .annotation.warning {
    border-left-color: var(--d-annotation-warning);
  }

  .annotation.info {
    border-left-color: var(--d-annotation-info);
  }

  .annotation.user {
    border-left-color: var(--d-annotation-user);
  }

  .annotation.machine-annotation {
    .annotation-text {
      font-family: var(--d-font-monospace);

      // pre-wrap for browsers that don't support break-spaces.
      white-space: pre-wrap;
      white-space: break-spaces;
    }
  }

  .annotation-submission {
    padding: 5px;

    .annotation-submission-input {
      border-radius: 0;
      resize: vertical;
    }

    .annotation-submission-input.validation-error {
      border-color: var(--d-danger);
    }

    .saved-annotation-title {
      position: relative;
      display: inline-block;

      input {
        padding-left: 40px;
        width: 220px;
      }

      label {
        color: rgba(var(--d-on-surface-rgb), 0.75);
        transform: scale(0.85) translateY(-0.35rem);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 100%;
        padding: 1rem .75rem;
        text-align: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        pointer-events: none;
        transform-origin: 0 0;
      }
    }

    .save-annotation-check {
      display: inline-block;
      margin-right: 5px;
    }
  }

  td {
    padding-top: 0;
    padding-bottom: 0;
  }
}

d-annotation-marker,
d-selection-marker {
  --info-color: var(--d-annotation-info);
  --warning-color: var(--d-annotation-warning);
  --error-color: var(--d-annotation-error);
  --question-color: var(--d-annotation-question-background);
  --annotation-color: var(--d-annotation-user-background);
  --question-intense-color: var(--d-annotation-question-background-intense);
  --annotation-intense-color: var(--d-annotation-user-background-intense);
}

.marker-tooltip {
  width: max-content;
  white-space: initial;
  color: var(--d-on-surface);
  font-style: initial;
  padding-left: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid var(--d-divider);
  background-color: var(--d-surface);

  .annotation {
    margin: 4px 0;
    border-right: none;
    border-top: none;
    border-bottom: none;

    #kebab-menu {
      display: none;
    }
  }
}

.no-selection-outside-code {
  user-select: none;

  d-code-listing-row {
    user-select: text;

    td {
      user-select: text;

      d-annotations-cell {
        user-select: none;
      }
    }
  }
}

.no-selection-inside-annotations {
  d-code-listing-row td d-annotations-cell {
    user-select: none;
  }
}
