d-labels-search-bar {
  .labels {
    margin-bottom: 10px;
  }

  d-datalist-input {
    flex: auto;

    input {
      height: 33.5px;
    }
  }

  .add-button {
    height: 33.5px;
    margin-left: -4px !important;
  }

  .token {
    margin-top: 3px;
    margin-bottom: 3px;
  }
}
