
.dropdown-filter {
  margin: 0.25em;
  display: inline-block;

  .dropdown-toggle{
    font-size: 14px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  }

  .form-check-label{
    width: 100%;
  }
}
