@include media-breakpoint-up(lg) {
  .feedback-metadata {
    position: sticky;
    top: calc(#{$navbar-height} + 20px) !important;
    min-height: 100px;
    max-height: calc(100vh - (#{$navbar-height} + 20px));
    overflow-y: auto;
  }
}

.feedback-metadata {
  .complete-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
    width: 100%;
  }

  .uncomplete-feedback {
    display: flex;
  }

  .form-row {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
  }

  .username-row {
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 5px;

    .name {
      flex-shrink: 0;
    }
  }

  .token {
    display: inline-block;
    margin-left: 6px;
    padding-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .labels-row {
    display: flex;
    white-space: nowrap;
    margin-top: -6px;
    margin-bottom: 12px;
    margin-left: -6px;
  }

  .form-group.input {
    width: 100%;
    margin-bottom: 0;

    .control-wrapper {
      display: inline-block;
      width: 100%;

      .input-group {
        width: 100%;
      }

      .max-text {
        // Simulate input group addon as a button
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        color: $text-color;
        text-align: center;
        background-color: $input-group-addon-bg;
        border: 1px solid $input-group-addon-border-color;
        opacity: 1;
        cursor: auto;
      }

      .form-control.in-progress, .input-group-addon.in-progress {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .dodona-progress .bar {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  .form-group.maximum {
    text-align: right;
    width: 20%;
  }
}

.evaluation-user-select {
  .user-select-option {
    border: 1px solid $divider-color;
    border-radius: $border-radius-base;
    text-align: center;
    padding: 6px;

    a {
      background-color: inherit;
      color: inherit;
      text-decoration: inherit;
    }
  }
  .user-select-option:hover {
    border: 1px solid $text-disabled;
  }

  .user-select-option h1 small {
    font-weight: 100;
  }
  .selected-users {
    margin-top: 18px;
    display: inline-block;
  }
}

.evaluation-users-table {
  .form-check-input-large {
    width: 1.5em;
    height: 1.5em;
  }
}

.feedback {
  padding-bottom: 6px;
  &.correct {
    border-bottom: 3px solid $success-300;
  }
  &.wrong {
    border-bottom: 3px solid $danger-300;
  }
  &.not-started {
    border-bottom: 3px solid $hairlinegray;
  }
  .done, .provisional {
    color: $text-disabled;
  }
  .done:hover, .provisional:hover {
    color: $text-color;
  }
}
.user-feedback-row {
  display: flex;
  justify-content: space-around;

  a .done {
    color: $text-secondary;
  }
  .active a i {
    color: $info-500;
  }
}
.evaluation-form-title {
  line-height: normal;
}

$user-column-width: 170px;

.score-table {
  // Allows borders to be sticky.
  border-collapse: separate;
  // Prevent rows from becoming ugly; we provide scrolling instead.
  white-space: nowrap;

  .score-text {
    a {
      color: $text-color;
    }
  }

  .borderless-row th {
    border-bottom: none;
    border-top: none;
  }

  .first-header th {
    top: 0;
  }

  .second-header th {
    top: 32px; // Approx the height of the first header row
  }

  .user-name {
    width: $user-column-width;
  }

  .status-header {
    max-width: 100px;
    min-width: 100px;
    overflow: hidden;
  }

  .total-column {
    border-right: 2px solid $border-color;
  }

  thead tr th:nth-child(2) {
    background: $content-bg;
    position: sticky;
    // Raise index, to prevent sticky column from rolling over the header.
    z-index: 2;
    left: $user-column-width - 4px;
  }

  tbody td:nth-child(2) {
    background: $content-bg;
    position: sticky;
    left: $user-column-width - 4px;
  }
}

a.score-click {
  color: $text-color;
}

.score-buttons {
  text-align: right;
  padding-bottom: 5px;
}

.grade-feedback-table.table {
  td.subscore-row {
    padding-left: 30px;
  }

  td:first-child, th:first-child {
    max-width: 200px;
  }

  tr:last-child td {
    // Restore border at the bottom of the table.
    border-bottom-width: 1px;
  }
}
