@media screen and (min-width: @screen-lg) {
  .feedback-metadata {
    position: sticky;
    top: 70px !important;
  }
}

.feedback-metadata .complete-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  width: 100%;
}
.feedback-metadata .uncomplete-feedback {
  display: flex;
}

.feedback-metadata .form-row {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.feedback-metadata .score-form.form-inline {
  .form-group.input {
    width: 100%;

    .control-wrapper {
      display: inline-block;
      width: 90%;
      margin-right: 5px;

      .form-control {
        width: 100%;
      }

      .form-control.in-progress {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      .dodona-progress .bar {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }

  .form-group.maximum {
    text-align: right;
    width: 20%;
  }
}

.evaluation-user-select {
  .user-select-option {
    border: 1px solid @divider-color;
    border-radius: @border-radius-base;
    text-align: center;
    padding: 6px;

    a {
      background-color: inherit;
      color: inherit;
      text-decoration: inherit;
    }
  }
  .user-select-option:hover {
    border: 1px solid @text-disabled;
  }

  .user-select-option h1 small {
    font-weight: 100;
  }
  .selected-users {
    margin-top: 18px;
    display: inline-block;
  }
}
.feedback {
  padding-bottom: 6px;
  &.correct {
    border-bottom: 3px solid @success-300;
  }
  &.wrong {
    border-bottom: 3px solid @danger-300;
  }
  &.not-started {
    border-bottom: 3px solid @hairlinegray;
  }
  .done, .provisional {
    color: @text-disabled;
  }
  .done:hover, .provisional:hover {
    color: @text-color;
  }
}
.user-feedback-row {
  display: flex;
  justify-content: space-around;

  a .done {
    color: @text-secondary;
  }
  .active a i {
    color: @info-500;
  }
}
.evaluation-form-title {
  line-height: normal;
}

.score-table {
  .table .status, .table .status-header {
    text-align: right  !important;
    padding-right: 50px;
  }
}

a.score-click {
  color: @text-color;
}