.feedback-code-table {

  display: block;
  overflow-x: auto;
  white-space: nowrap;

  // Override the normal pre padding & coloring
  pre {
    padding: 0;
    background-color: @body-bg;
    margin-bottom: 0;
  }

  .rouge-gutter {
    min-width: 30px;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
  }

  background-color: @body-bg;

  .annotation {

    .annotation-text {
      margin: 1px 5px 1px 10px;
      padding: 2px 5px;
      border-radius: 5px;
      border: 2px solid @gray-lighter;
      border-left-width: 3px;
      background: @white-text;
    }

    .annotation-text.warning {
      border-left-color: @red-400;
    }

    .annotation-text.info {
      border-left-color: @blue-400;
    }
  }
}
