.feedback-code-table {

  // Override the normal pre padding & coloring
  pre {
    padding: 0;
    background-color: @body-bg;
    margin-bottom: 0;
  }

  .rouge-gutter {
    min-width: 30px;
    width: 1%;
    padding-right: 10px;
    padding-left: 10px;
  }

  background-color: @body-bg;

  .annotation {

    .annotation-text {
      display: inline-block;
      margin: 1px 0;
      padding: 2px 5px;
      border-radius: 5px;
    }

    .annotation-text.warning {
      background-color: @red-400;
      color: @white-text;
    }

    .annotation-text.info {
      background-color: @blue-400;
      color: @white-text;
    }

  }
}
