input[type="radio"], input[type="checkbox"] {

  + .checkbox-label {
    font-weight: normal;
    margin-left: 6px;
    cursor: pointer;
  }

  &:disabled + .checkbox-label {
    color: $text-disabled;
    cursor: no-drop;
  }

}
