.course-description img:not(.img-unresponsive),
.exercise-description img:not(.img-unresponsive),
.series-description img:not(.img-unresponsive) {
  display: block;
  max-width: 100%;
  height: auto;
}
