.modal-info .help-icon {
  font-size: 50pt;
  margin-bottom: -10px;
}

.modal .code {
  font-family: $font-family-monospace;
  font-size: 13px;
  white-space: pre-wrap;
  background-color: $body-bg;
}
