.modal-info .help-icon {
  font-size: 50pt;
  margin-bottom: -10px;
}

.modal .code {
  font-family: var(--d-font-monospace);
  font-size: 13px;
  white-space: pre-wrap;
  background-color: var(--d-background);
}
