.papyros-offcanvas {
    width: 700px;
}

.offcanvas-show-btn {
    position: fixed;
    left: 100%;
    top: 50%;
    transform-origin: 0% 100%;
    transform: rotate(270deg);
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
