.progress-chart {
  shape-rendering: crispedges;

  .correct {
    stroke: $success;
  }

  .info {
    stroke: $info;
  }

  .wrong {
    stroke: $danger;
  }

  .not-started {
    stroke: $divider;
  }
}
