.review-cell {
  color: @text-color;
}

@media screen and (min-width: @screen-lg) {
  .review-metadata {
    position: sticky;
    top: 70px !important;
  }
}

#review-page {
  width: 95vw;
}

.routing-actions .page-subtitle {
  padding-bottom: 0px;
}

.review-actions-progress {
  width: 50%;
}
