.review-cell {
  color: @text-color;
}

@media screen and (min-width: @screen-lg) {
  .review-metadata {
    position: sticky;
    top: 70px !important;
  }
}

#review-page {
  width: 95vw;
}

.routing-actions .page-subtitle {
  padding-bottom: 0px;
}

.review-actions-progress {
  width: 50%;
}

.evaluation-user-select {
  .user-select-option {
    border: 1px solid @divider-color;
    border-radius: @border-radius-base;
    text-align: center;
    padding: 6px;
  }
  .user-select-option:hover {
    border: 1px solid @text-disabled;
  }

  .user-select-option h1 small {
    font-weight: 100;
  }
  .selected-users {
    margin-top: 18px;
  }
}

