.scoresheet-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .form-group .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.scoresheet-table-wrapper {
  overflow-x: auto;
  margin-left: 200px;

  .scoresheet-table {
    border-collapse: separate;

    td, th {
      margin: 0;
      white-space: nowrap;
    }
    .status-header {
      max-width: 100px;
      min-width: 100px;
    }
    .status, .status-header {
      text-align: center;
    }
    .user-name {
      position: absolute;
      width: 200px;
      left: 16px;
      top: auto;
    }
  }
}