.offcanvas-show-btn {
    position: fixed;
    left: 100%;
    bottom: 100px;
    transform-origin: 0% 100%;
    transform: rotate(270deg);
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.scratchpad-info {
    padding-left: 20px;
    font-size: 14px;
    color: $text-muted;
}

.scratchpad-header {
    color: $header-fg;
    background-color: $header-bg;
    line-height: normal;
    margin: 0;
    margin-bottom: 5px;
    height: $navbar-height;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.copy-code-button {
    background-color: $grey-500;
    color: white;
    width: fit-content;
}

.scratchpad-content {
    // Allow children to fill up remaining content
    display: flex;
    flex-flow: column;
    height: 100%;
}

#scratchpad-editor-wrapper {
    height: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    // Make editor take up this space
    flex: 1 1 auto;
}

.cm-editor {
    // Inform editor of height preferences
    height: 100%;
}

#scratchpad-output-wrapper {
    max-height: 20vh;
    margin-bottom: 10px;
}
