.offcanvas-show-btn {
    white-space: nowrap;
    font-size: 16px;
    background-color: $content-bg;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-color: $hairlinegray;
    border-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    bottom: 100px;
    left: 100%;
    transform-origin: 0% 100%;
    transform: rotate(270deg);
}

.scratchpad-header {
    color: $header-fg;
    background-color: $header-bg;
    height: $navbar-height;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    margin-bottom: 5px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

.scratchpad-info {
    padding-left: 20px;
    font-size: 14px;
    color: $text-muted;
    // Header has absolute position, simulate its height using margin-top
    margin-top: $navbar-height + 5;
}

#scratchpad-code-copy-btn {
    color: white;
    background-color: $color-blue-grey;
    white-space: nowrap;
}

.scratchpad-content {
    // Allow children to fill up remaining content
    display: flex;
    flex-flow: column;
    height: 100%;
}

// Wrapper around editor provides margin
#scratchpad-editor-wrapper {
    margin-bottom: 20px;
}
// Wrapper and its child should take up as much space as possible
#scratchpad-editor-wrapper , #scratchpad-editor-wrapper > div:first-child {
    height: 100%;
    max-height: 100%;
}

.cm-editor {
    // Inform editor of height preferences
    height: 100%;
}

// More specific selector to override !important property from Papyros
div .cm-gutters {
    // Height 100% seems to not work on the gutters, so override the default
    height: auto !important;
    min-height: 100% !important;
}
#scrathcpad-output-wrapper {
    margin-bottom: 10px;
}
// First child is the output area, limit its size
#scratchpad-output-wrapper > div:first-child {
    max-height: 20vh;
}

#scratchpad-offcanvas.show {
    @include shadow-z3;
}
