.search-filter:focus + .show-search-dropdown, .show-search-dropdown:focus, .show-search-dropdown:active, .show-search-dropdown:target {
  display: block;
  max-height: 400px;
  overflow-y: auto;

  .dropdown-header {
    padding: 0.75rem 0 0.25rem 1rem;
  }

  .dropdown-item {
    padding-left: 2rem;
  }

}
