.stepper {
  .panel {
    @include shadow-z0;
    border-radius: 0;
    background-color: transparent;

    .panel-heading {
      background: transparent;
      border: none;
      padding: 10px 15px;

      .step-circle {
        display: inline-block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        padding: 3px;
        border-radius: 50%;
        text-align: center;
        box-sizing: initial;
        font-size: 12px;
        margin-right: 5px;
        vertical-align: text-bottom;
        background-color: $navbar-default-bg;
        color: $navbar-default-color;
        letter-spacing: 0;
      }

      h4.panel-title {
        line-height: 24px;
        font-size: 16px;
        color: inherit;

        a {
          color: inherit;
        }

        .answer {
          color: $text-muted;
        }
      }
    }


    .panel-heading + .panel-collapse > .panel-body {
      @include shadow-z2;
      background-color: $content-bg;

      @include media-breakpoint-up(sm) {
        margin-left: 45px;
      }
      border: none;
      border-radius: $border-radius-base;
      padding: 0;

      &.panel-body-transparent {
        background-color: transparent;
        @include shadow-z0;
      }

      .row + .row {
        margin-top: 20px;
      }

      .stepper-part {
        padding: 15px;
      }

      .stepper-border {
        border-top: 1px solid $divider-color;
      }

      .stepper-actions {
        font-size: 16px;
        line-height: normal;
        box-sizing: border-box;
        text-align: right;
        padding: 8px;
      }
    }
  }
}
