.table-scroll-wrapper {
  overflow-x: auto;
  background-image: linear-gradient(to right, $content-bg, $content-bg), linear-gradient(to right, $content-bg, $content-bg), linear-gradient(to right, $hairlinegray, rgba(255, 255, 255, 0)), linear-gradient(to left, $hairlinegray, rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: $content-bg;
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

.status-table-wrapper {
  overflow-x: auto;
  margin-left: 200px;

  .table {
    border-collapse: separate;

    td, th {
      margin: 0;
      white-space: nowrap;
    }
    .status-header {
      max-width: 100px;
      min-width: 100px;
    }
    .status, .status-header {
      text-align: center;
    }
    .user-name {
      position: absolute;
      width: 200px;
      left: 16px;
      top: auto;
    }
  }
}

.table-resource .actions {
  text-align: right;
}

tr.gu-mirror {
  display: table; // ensure that rows dragged from their table parent still have the correct display-style (Dragula table-row issue)
}

.table.table-resource td {
  max-width: 33vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  form {
    display: inline;
  }
}

.table-fixed {
  table-layout: fixed;
}

// You should also set the top position for your elements, e.g. top: 0.
.sticky-header {
  th {
    position: sticky;
    background: $content-bg;
  }
}

.sticky-column {
  thead tr th:first-child {
    background: $content-bg;
    position: sticky;
    left: 0;
    // Raise index, to prevent sticky column from rolling over the header.
    z-index: 2;
  }

  tbody td:first-child {
    background: $content-bg;
    position: sticky;
    left: 0;
  }
}

.sticky-wrapper {
  max-height: calc(100vh - #{$footer-height} - #{$navbar-height} - #{$card-margin-bottom} - #{$card-supporting-text-padding});
  // If the height is less than this, it becomes impossible to use the table,
  // so forego the sticky headers a bit.
  min-height: 400px;
  overflow-x: auto;
}


@include media-breakpoint-down(sm) {
  .sticky-wrapper {
    max-height: calc(100vh - #{$footer-height-sm} - #{$navbar-height} - #{$card-margin-bottom} - #{$card-supporting-text-padding});
  }
}

.table {
  .placeholder-text {
    text-align: center;
    color: $text-secondary;
  }
}
