.table-scroll-wrapper {
  overflow-x: auto;
  background-image:
    linear-gradient(to right, var(--d-content-bg), var(--d-content-bg)),
    linear-gradient(to right, var(--d-content-bg), var(--d-content-bg)),
    linear-gradient(to right, var(--d-divider), rgba(255, 255, 255, 0)),
    linear-gradient(to left, var(--d-divider), rgba(255, 255, 255, 0));
  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: var(--d-content-bg);
  background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
  background-attachment: local, local, scroll, scroll;
}

.status-table-wrapper {
  overflow-x: auto;
  margin-left: 200px;

  .table {
    border-collapse: separate;

    td,
    th {
      margin: 0;
      white-space: nowrap;
    }

    .status-header {
      max-width: 100px;
      min-width: 100px;
    }

    .status,
    .status-header {
      text-align: center;
      overflow: hidden;
    }

    .user-name {
      position: absolute;
      width: 200px;
      left: 18px;
      height: auto;
      top: auto;
    }

    td:not(.sticky-column) {
      height: 45px;
    }

    thead .user-name {
      height: auto !important;
    }
  }
}

.table-resource .actions {
  text-align: right;

  &.submissions-table {
    text-align: center;

    // by default the size of the element in the col is used as width if width is smaller than that element.
    // This width is just here to force everything to the right
    width: 1px;
  }
}

tr.gu-mirror {
  // ensure that rows dragged from their table parent still have the correct display-style (Dragula table-row issue)
  display: table;
}

.table.table-resource td {
  max-width: 33vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;

  form {
    display: inline;
  }
}

.table-fixed {
  table-layout: fixed;
}

// You should also set the top position for your elements, e.g. top: 0.
.sticky-header {
  th {
    position: sticky;
    background: var(--d-content-bg);
  }
}

.sticky-column {
  thead tr th:first-child {
    background: var(--d-content-bg);
    position: sticky;
    left: 0;

    // Raise index, to prevent sticky column from rolling over the header.
    z-index: 2;
  }

  tbody td:first-child {
    background: var(--d-content-bg);
    position: sticky;
    left: 0;
  }
}

.sticky-wrapper {
  /* stylelint-disable-next-line max-line-length */
  max-height: calc(100vh - #{$footer-height} - #{$navbar-height} - var(--d-card-margin-bottom) - var(--d-card-supporting-text-padding));

  // If the height is less than this, it becomes impossible to use the table,
  // so forego the sticky headers a bit.
  min-height: 400px;
  overflow-x: auto;
}

@include media-breakpoint-down(sm) {
  .sticky-wrapper {
    /* stylelint-disable-next-line max-line-length */
    max-height: calc(100vh - #{$footer-height-sm} - #{$navbar-height} - var(--d-card-margin-bottom) - var(--d-card-supporting-text-padding));
  }
}

.table {
  .placeholder-text {
    text-align: center;
    color: var(--d-on-surface-muted);
  }

  td.empty {
    white-space: break-spaces;
    text-align: center;
    padding: 16px;
    line-height: 22px;
    width: 100%;
    color: var(--d-on-surface-muted);
  }
}

#scoresheet-table-wrapper td {
  height: 37px;
}

#scoresheet-table-wrapper .summary-row td {
  height: 35px;
  font-size: 12px;
  color: var(--d-on-surface-muted);
}

#scoresheet-table-wrapper .summary-col {
  font-size: 12px;
  color: var(--d-on-surface-muted);
}

.table-resource .btn-icon {
  margin-top: -6px;
  margin-bottom: -6px;
}
