/*!
 * this file was based on the following repository, but is heavily modified
 * https://github.com/sliptree/bootstrap-tokenfield
 * Copyright 2013-2014 Sliptree and other contributors; Licensed MIT
 */
@use "sass:math";

.token {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3846153846;
  $token-height: 32px;
  display: inline-flex;
  align-items: center;
  height: $token-height;
  border-radius: math.div($token-height, 2);
  padding-left: 12px;
  padding-right: 12px;
  border-width: 0px;
  color: $text-on-bg-color;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: default;
}
.token + .token {
  margin-left: 8px;
}
.token .close {
  margin-left: 8px;
  color: $text-on-bg-color;
}
.token .close:hover {
  color: $text-color;
  cursor: pointer;
}


.token.accent-red {
  background-color: $color-red-bg;
}
.token.accent-pink {
  background-color: $color-pink-bg;
}
.token.accent-purple {
  background-color: $color-purple-bg;
}
.token.accent-deep-purple {
  background-color: $color-deep-purple-bg;
}
.token.accent-indigo {
  background-color: $color-indigo-bg;
}
.token.accent-teal {
  background-color: $color-teal-bg;
}
.token.accent-orange {
  background-color: $color-orange-bg;
}
.token.accent-brown {
  background-color: $color-brown-bg;
}
.token.accent-blue-grey {
  background-color: $color-blue-grey-bg;
}

.tokenfield {
  .form-control {
    height: auto;
  }

  #course_membership_course_labels-tokenfield {
    height: auto;
    padding: 0;
  }

  #exercise_labels-tokenfield {
    height: auto;
    padding: 0;
  }

  .tt-menu {
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: $content-bg;
    border: 1px solid $divider-color;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: $border-radius-base;
    background-clip: padding-box;
  }

  .tt-hint {
    max-width: 100% !important;
    width: unset !important;
  }

  .tt-selectable {
    cursor: pointer;
  }

  .tokenfield-undeletable .btn-close {
    display: none;
  }

  /* Override inline styling of search bar */

  .twitter-typeahead {
    max-width: 100% !important;
    width: 100% !important;

    input.token-input.tt-input {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

.tokenfield.form-control {
  background-color: transparent;
}

.clickable-token {
  cursor: pointer;
}
