/*!
 * this file was based on the following repository, but is heavily modified
 * https://github.com/sliptree/bootstrap-tokenfield
 * Copyright 2013-2014 Sliptree and other contributors; Licensed MIT
 */
@use "sass:math";

.tokenfield {
  height: auto;
  min-height: 34px;
  padding-bottom: 0px;
  z-index: 1;
}

.tokenfield.focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}

.tokenfield .token-input {
  background: none;
  width: 60px;
  min-width: 60px;
  border: 0;
  height: 20px;
  padding: 0;
  margin-bottom: 6px;
  box-shadow: none;
}

.tokenfield .token-input:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.tokenfield.disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
}

.tokenfield.disabled .token-input {
  cursor: not-allowed;
}

.tokenfield.disabled .token:hover {
  cursor: not-allowed;
  border-color: #d9d9d9;
}

.tokenfield.disabled .token:hover .close {
  cursor: not-allowed;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.has-warning .tokenfield.focus {
  border-color: #66512c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .tokenfield.focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .tokenfield.focus {
  border-color: #2b542c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.tokenfield.form-control-sm,
.input-group-sm .tokenfield {
  min-height: 30px;
  padding-bottom: 0px;
}

.input-group-sm .token,
.tokenfield.form-control-sm .token {
  height: 20px;
  margin-bottom: 4px;
}

.input-group-sm .token-input,
.tokenfield.form-control-sm .token-input {
  height: 18px;
  margin-bottom: 5px;
}

.tokenfield.form-control-lg,
.input-group-lg .tokenfield {
  height: auto;
  min-height: 45px;
  padding-bottom: 4px;
}

.input-group-lg .token,
.tokenfield.form-control-lg .token {
  height: 25px;
}

.input-group-lg .token-label,
.tokenfield.form-control-lg .token-label {
  line-height: 23px;
}

.input-group-lg .token .close,
.tokenfield.form-control-lg .token .close {
  line-height: 1.3em;
}

.input-group-lg .token-input,
.tokenfield.form-control-lg .token-input {
  height: 23px;
  line-height: 23px;
  margin-bottom: 6px;
  vertical-align: top;
}

.tokenfield.rtl {
  direction: rtl;
  text-align: right;
}

.tokenfield.rtl .token {
  margin: -1px 0 5px 5px;
}

.tokenfield.rtl .token .token-label {
  padding-left: 0px;
  padding-right: 4px;
}

.tokenfield .token {
  margin-bottom: 8px;
  padding-right: 8px;
}

.token {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3846153846;
  $token-height: 32px;
  display: inline-flex;
  align-items: center;
  height: $token-height;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 0px;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: default;
}

.token .close {
  font-size: 18px;
  margin-left: 8px;
  margin-right: -4px; // a token with a close button has a right padding of 8 instead of 12px
  color: inherit;
}

.token .close:hover {
  color: $text-color;
  cursor: pointer;
}

a+a>.token,
.token+.token {
  margin-left: 8px;
}

d-search-token>.token {
  margin-right: 8px;
}

.token.accent-red {
  color: $on-red-container;
  background-color: $red-container;
}

.token.accent-pink {
  color: $on-pink-container;
  background-color: $pink-container;
}

.token.accent-purple {
  color: $on-purple-container;
  background-color: $purple-container;
}

.token.accent-deep-purple {
  color: $on-deep-purple-container;
  background-color: $deep-purple-container;
}

.token.accent-indigo {
  color: $on-indigo-container;
  background-color: $indigo-container;
}

.token.accent-teal {
  color: $on-teal-container;
  background-color: $teal-container;
}

.token.accent-orange {
  color: $on-orange-container;
  background-color: $orange-container;
}

.token.accent-brown {
  color: $on-brown-container;
  background-color: $brown-container;
}

.token.accent-blue-gray {
  color: $on-blue-gray-container;
  background-color: $blue-gray-container;
}

.tokenfield {

  .form-control {
    height: auto;
  }

  #course_membership_course_labels-tokenfield {
    height: auto;
    padding: 0;
  }

  #exercise_labels-tokenfield {
    height: auto;
    padding: 0;
  }

  .tt-menu {
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: $content-bg;
    border: 1px solid $divider;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    border-radius: $border-radius-base;
    background-clip: padding-box;
  }

  .tt-hint {
    max-width: 100% !important;
    width: unset !important;
  }

  .tt-selectable {
    cursor: pointer;
  }

  .tokenfield-undeletable .btn-close {
    display: none;
  }

  /* Override inline styling of search bar */

  .twitter-typeahead {
    max-width: 100% !important;
    width: 100% !important;

    input.token-input.tt-input {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
}

.tokenfield.form-control {
  background-color: transparent;
}

.search-tokens {
  margin-left: 16px;
}
