.token {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3846153846;

  --d-token-height: 32px;

  display: inline-flex;
  align-items: center;
  height: var(--d-token-height);
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-width: 0;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: default;
  margin-right: 8px;

  .left-icon::before {
    margin-left: -8px;
    margin-right: 8px;
  }

  .right-icon::before {
    margin-left: 8px;
    margin-right: -8px;
  }

  .token-label {
    line-height: 24px;
  }
}

.token.token-bordered {
  border: 1px solid var(--d-divider);
  color: var(--d-on-surface);
}

a.token {
  &:hover,
  &:focus {
    background: rgba(var(--d-on-surface-rgb), 0.1);
    cursor: pointer;
  }
}

.token .close {
  color: inherit;
  margin-left: 8px;
  margin-right: -8px;

  ::before {
    line-height: 24px;
  }

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    background: rgba(var(--d-on-surface-rgb), 0.1);
    margin-left: 5px;
    margin-right: -11px;
    padding-left: 3px;
  }
}

.token.accent-red {
  color: var(--d-on-red-container);
  background-color: var(--d-red-container);
}

.token.accent-pink {
  color: var(--d-on-pink-container);
  background-color: var(--d-pink-container);
}

.token.accent-purple {
  color: var(--d-on-purple-container);
  background-color: var(--d-purple-container);
}

.token.accent-deep-purple {
  color: var(--d-on-deep-purple-container);
  background-color: var(--d-deep-purple-container);
}

.token.accent-indigo {
  color: var(--d-on-indigo-container);
  background-color: var(--d-indigo-container);
}

.token.accent-teal {
  color: var(--d-on-teal-container);
  background-color: var(--d-teal-container);
}

.token.accent-orange {
  color: var(--d-on-orange-container);
  background-color: var(--d-orange-container);
}

.token.accent-brown {
  color: var(--d-on-brown-container);
  background-color: var(--d-brown-container);
}

.token.accent-blue-gray {
  color: var(--d-on-blue-gray-container);
  background-color: var(--d-blue-gray-container);
}

.search-tokens {
  margin-left: 16px;
}
