.token {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3846153846;
  $token-height: 32px;

  display: inline-flex;
  align-items: center;
  height: var(--d-token-height);
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-width: 0;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: default;
  margin-right: 8px;
}

.token .close {
  font-size: 18px;
  margin-left: 8px;
  margin-right: -4px; // a token with a close button has a right padding of 8 instead of 12px
  color: inherit;
}

.token .close:hover {
  color: var(--d-on-surface);
  cursor: pointer;
}

.token.accent-red {
  color: var(--d-on-red-container);
  background-color: var(--d-red-container);
}

.token.accent-pink {
  color: var(--d-on-pink-container);
  background-color: var(--d-pink-container);
}

.token.accent-purple {
  color: var(--d-on-purple-container);
  background-color: var(--d-purple-container);
}

.token.accent-deep-purple {
  color: var(--d-on-deep-purple-container);
  background-color: var(--d-deep-purple-container);
}

.token.accent-indigo {
  color: var(--d-on-indigo-container);
  background-color: var(--d-indigo-container);
}

.token.accent-teal {
  color: var(--d-on-teal-container);
  background-color: var(--d-teal-container);
}

.token.accent-orange {
  color: var(--d-on-orange-container);
  background-color: var(--d-orange-container);
}

.token.accent-brown {
  color: var(--d-on-brown-container);
  background-color: var(--d-brown-container);
}

.token.accent-blue-gray {
  color: var(--d-on-blue-gray-container);
  background-color: $blue-gray-container;
}

.search-tokens {
  margin-left: 16px;
}
