#tutor .modal-body {
  min-height: 200px;
}

#tutor #info-modal {
  position: fixed;
  outline: none;
}

#tutor #fullscreen-button {
  display: none;
}

#tutor #tutorelement {
  overflow: scroll;
  height: 500px;
  position: relative;
}

#tutor {
  table.external-file {
    overflow: auto;
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: auto;
    user-select: all;

    td {
      vertical-align: top;

      &.line-nr {
        text-align: right;
        white-space: pre-wrap;
        background: $content-bg;
        color: $text-secondary;
        padding-left: 10px;
        padding-right: 10px;
        user-select: none;
      }

      &.line {
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
        word-wrap: break-word;
        word-break: break-all;
        white-space: pre-wrap;
        font-family: $font-family-monospace;
        width: 100%;
      }
    }

    tr {
      &:first-child td {
        padding-top: 4px;
      }

      &:last-child td {
        padding-bottom: 4px;
      }
    }
  }
}

#tutorviz {
  background-color: $content-bg;
  min-height: 200px;
}

.modal-header .icons {
  float: right;
}

/* Fulscreen css */

#tutor.fullscreen .modal-dialog.tutor {
  position: fixed;
  height: 100%;
  width: 100%;
}

#tutor.fullscreen .modal-dialog.tutor .modal-content, .modal-body {
  width: 100%;
  height: 100%;
}

#tutor.fullscreen #tutorcontent {
  height: 100%;
}

.tutor-strip {
  position: absolute;
  color: $content-bg;
  width: 20px;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: -12px;
  transform: scaleX(0.2);
  will-change: transform, opacity;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tutor-strip-icon {
  padding-left: 2px;
  padding-top: 1px;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.group:hover .tutor-strip {
  transform: scaleX(1);
  cursor: pointer;
}

.group:hover .tutor-strip-icon {
  opacity: 1;
}

.group.correct .tutor-strip {
  background-color: $brand-success;
}

.group.wrong .tutor-strip {
  background-color: $brand-danger;
}
