
.violin-label {
    font-size: 11px;
}

.violin-invisibar {
    visibility: hidden;
    fill: none
}

.metric-container {
    stroke: $hairlinegray;
}

.day-cell {
  &.empty {
    fill: $heatmap-empty-fg;
  }

  &:hover {
    stroke: $heatmap-hover-fg;
    stroke-width: 2;
  }
}

.stats-container {
  display: flex;
  flex-direction: column;
}

.graph_placeholder {
  margin: auto;
}

.metric-container {
  fill: none;
  stroke-width: 2;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;

  .legend-item {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .legend-box {
      width: 15px;
      height: 15px;
      border-radius: 5px;
    }

    .legend-text {
      margin-left: 4px;
    }
  } 
}

.daterange-picker {
  display: flex;

  .date-picker {
    margin-right: 10px;
    width: 20em;

    input {
      border-top-left-radius: 0.25rem !important;
      border-bottom-left-radius: 0.25rem !important;
    }
  }
}