
.violin-label {
    font-size: 11px;
}

.violin-path {
    stroke: none;
    fill: $primary-500
}

.violin-invisibar {
    visibility: hidden;
    fill: none
}

.metric-container {
    stroke: $panel-primary-border;
}

.day-cell {
    &.empty {
      fill: $heatmap-empty-fg;
    }

    &:hover {
      stroke: $heatmap-hover-fg;
      stroke-width: 2;
    }
  }

.stats-container {
  display: flex;
  align-items: center;
}

.graph_placeholder {
  margin: auto;
}

.metric-container {
  fill: none;
  stroke-width: 2;
}