<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <span>
            <%= t ".title" %>
          </span>
        </h2>
      </div>
      <div class="card-supporting-text" id="annotation-container">
        <%= render partial: 'layouts/searchbar', locals: { refresh_element: "#annotation-container", courses: @courses, exercises: @exercises } %>
        <div id="questions-table-wrapper">
          <%= render partial: 'annotations_table', locals: { annotations: @annotations } %>
        </div>
      </div>
    </div>
  </div>
</div>
