// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "theme/m3-theme-light.css.scss";
@import "theme/m3-theme-dark.css.scss";

@if $theme == "dark" {
  @include theme-dark;
}

@import "bootstrap_variable_overrides.css.scss";
@import "mixins.css.scss";
@import "theme/rouge.css.scss";
@import "theme/ace.css.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../../node_modules/bootstrap/scss/maps";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../../node_modules/bootstrap/scss/utilities";
@import "../../../node_modules/bootstrap/scss/reboot";
@import "../../../node_modules/bootstrap/scss/type";
@import "../../../node_modules/bootstrap/scss/images";
@import "../../../node_modules/bootstrap/scss/containers";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/helpers";
@import "../../../node_modules/bootstrap/scss/tables";
@import "../../../node_modules/bootstrap/scss/forms";
@import "../../../node_modules/bootstrap/scss/buttons";
@import "../../../node_modules/bootstrap/scss/transitions";
@import "../../../node_modules/bootstrap/scss/dropdown";
@import "../../../node_modules/bootstrap/scss/button-group";
@import "../../../node_modules/bootstrap/scss/nav";
@import "../../../node_modules/bootstrap/scss/navbar";

// @import "../../../node_modules/bootstrap/scss/card";
@import "../../../node_modules/bootstrap/scss/accordion";

// @import "../../../node_modules/bootstrap/scss/breadcrumb";
@import "../../../node_modules/bootstrap/scss/pagination";
@import "../../../node_modules/bootstrap/scss/badge";
@import "../../../node_modules/bootstrap/scss/alert";

// @import "../../../node_modules/bootstrap/scss/progress";
@import "../../../node_modules/bootstrap/scss/list-group";
@import "../../../node_modules/bootstrap/scss/close";

// @import "../../../node_modules/bootstrap/scss/toasts";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/tooltip";
@import "../../../node_modules/bootstrap/scss/popover";

// @import "../../../node_modules/bootstrap/scss/carousel";
@import "../../../node_modules/bootstrap/scss/spinners";
@import "../../../node_modules/bootstrap/scss/offcanvas";
@import "../../../node_modules/bootstrap/scss/utilities/api";

:root {
  --scrollbar-width: 20px;
}

// 5. Add additional custom code here
@import "bootstrap_style_overrides.css.scss";
@import "libraries.css.scss";
@import "material_icons.css.scss";
@import "layout.css.scss";
@import "components.css.scss";
@import "pages.css.scss";
@import "models.css.scss";
@import "print.css.scss";

// 6. Seasonal css sheets
@import "seasonal/christmas.css.scss";
@import "seasonal/valentine.css.scss";
@import "seasonal/mario-day.css.scss";
@import "seasonal/pi-day.css.scss";

/* stylelint-disable-next-line selector-class-pattern */
.field_with_errors input {
  border-color: $danger;
}

.colored-info {
  color: $info;
}

.colored-secondary {
  color: $secondary;
}

figcaption {
  margin: 0 10px;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap-overflow {
  white-space: normal;
  overflow-wrap: break-word;
}

svg {
  --svg-color-primary: #{$primary};
  --svg-color-correct: #{$success};
  --svg-color-incorrect: #{$danger};
  --svg-color-warning: #{$warning};
}

.spread-line {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
