@import "components/btn.css.less";
@import "components/callout.css.less";
@import "components/card.css.less";
@import "components/dropdown.css.less";
@import "components/favorite.css.less";
@import "components/code_listing.css.less";
@import "components/form.css.less";
@import "components/heatmap.css.less";
@import "components/img.css.less";
@import "components/label.css.less";
@import "components/link.css.less";
@import "components/modal.css.less";
@import "components/notification.css.less";
@import "components/punchcard.css.less";
@import "components/evaluations.css.less";
@import "components/table.css.less";
@import "components/toast.css.less";
@import "components/scoresheet.css.less";
@import "components/stepper.css.less";
@import "components/table-toolbar.css.less";
@import "components/tutor.css.less";
@import "components/progress-chart.css.less";

.flex-spacer {
  flex-grow: 1;
}

.h3-info-text, .h4-info-text, .h5-info-text, .header-info-text {
  font-size: 85%;
  color: @text-muted;
}

.h3-info-text {
  margin-top: -24px;
}

.h4-info-text {
  margin-top: -12px;
}

.h5-info-text {
  margin-top: -6px;
}

.page-subtitle {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.spinner {
  background-color: @spinner-bg;
  border-radius: 100%;
  animation: scaleout 1.5s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.alert a {
  color: @alert-fg;
  font-weight: bold;
}
