@import "components/btn.css.scss";
@import "components/callout.css.scss";
@import "components/card.css.scss";
@import "components/code_listing.css.scss";
@import "components/dropdown.css.scss";
@import "components/evaluations.css.scss";
@import "components/favorite.css.scss";
@import "components/heatmap.css.scss";
@import "components/img.css.scss";
@import "components/link.css.scss";
@import "components/modal.css.scss";
@import "components/notification.css.scss";
@import "components/progress-chart.css.scss";
@import "components/punchcard.css.scss";
@import "components/scoresheet.css.scss";
@import "components/scratchpad.css.scss";
@import "components/stepper.css.scss";
@import "components/table.css.scss";
@import "components/table-toolbar.css.scss";
@import "components/toast.css.scss";
@import "components/tokenfield.css.scss";
@import "components/tutor.css.scss";
@import "components/visualisations.css.scss";
@import "components/search_field.css.scss";

.flex-spacer {
  flex-grow: 1;
}

.h3-info-text, .h4-info-text, .h5-info-text, .header-info-text {
  font-size: 85%;
  color: $text-muted;
}

.h3-info-text {
  margin-top: -24px;
}

.h4-info-text {
  margin-top: -12px;
}

.h5-info-text {
  margin-top: -6px;
}

.page-subtitle {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.spinner {
  background-color: $spinner-bg;
  border-radius: 100%;
  animation: scaleout 1.5s infinite ease-in-out;
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.alert a {
  color: $alert-fg;
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.col-form-label {
  @include media-breakpoint-down(sm) {
    text-align: left;
  }
  text-align: right;
  font-weight: bold;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  font-size: 65%;
  font-weight: 400;
  line-height: 1;
  color: $text-secondary;
}
