// primary: teal
@primary-A100: #A7FFEB;
@primary-100: #B2DFDB;
@primary-300: #4DB6AC;
@primary-500: #009688;
@primary-800: #00695C;

// accent: pink
@accent-A100: #FF80AB;
@accent-300: #F06292;
@accent-500: #E91E63;
@accent-800: #AD1457;
