html,
body {
  height: 100%;
  font-family: @font-family-base;
}

#main-container {
  // Prevent the main container from overflowing
  // when its content is too wide
  max-width: ~"calc(100vw - 30px)";
}

#page-wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  margin: 0;
  width: 100%;

}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  width: 100%;
  padding: 32px;
  color: @footer-fg;
  background-color: @footer-bg;
  height: 80px;
}

.footer:after {
  content: '';
  display: block;
}

.footer-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-self: stretch;
  align-items: flex-start;
}

.footer-block > * {
  flex-shrink: 0;
}

.footer-spacer {
  flex-grow: 1;
}

.footer-version a {
  margin-left: 1em;
  color: inherit;
}

.footer-version a:hover {
  color: @footer-fg-hover;
  text-decoration: none;
}

.container.main {
  padding-top: 20px;
  padding-bottom: 80px;
}

