.navbar {
    .shadow-z3();
}
html,
body {
    height: 100%;
    font-family: @font-family-base;
}
#page-wrapper {
    min-height: 100%;
    position: relative;
    padding-top: 50px;

    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
}

// Overide nav toggle button
.navbar-default .navbar-toggle {
  border: none;
  color: white;
  transition: .3s;

  span.glyphicon {
    font-size: 20px;
    vertical-align: top;
  }
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: inherit;
}
.navbar-toggle.collapsed {
  transform:rotate(-180deg);
  transition: .3s;
}

@media (min-width: @screen-lg) {
  .container-with-drawer {
    margin-left: 300px;
  }
  .drawer-toggle {
      display: none;
  }
}

.drawer-toggle {
    border: none;
    outline: none;
    position: relative;
    float: left;
    margin: 0 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    transition: .3s;
}
.drawer-toggle.active {
  transform:rotate(90deg) scaleX(0.8);
  transition: .3s;
}

.drawer-toggle .icon-bar {
    background-color: #ffffff;
}

.drawer-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.drawer-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: left;
    flex-shrink: 0;
    width: 100%;
    padding: 32px;
    color: #9e9e9e;
    background-color: #424242;
    height: 80px;
    z-index: 3;
}
.footer:after {
    content: '';
    display: block;
}
.footer-block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    align-self: stretch;
    align-items: left;
}
.footer-block>* {
    flex-shrink: 0;
}
.footer-spacer {
    flex-grow: 1;
}
.footer-version a {
    margin-left: 1em;
    color: inherit;
}
.footer-version a:hover {
    color: white;
    text-decoration: none;
}
.container.main {
    padding-top: 20px;
    padding-bottom: 80px;
}
.notifications {
    bottom: 24px;
    left: 24px;
    position: fixed;
    z-index: 1000;
}
.notifications .notification {
    background-color: #323232;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12),0 2px 4px rgba(0, 0, 0, 0.24);
    color: #fff;
    display: inline-block;
    line-height: 20px;
    margin-top: 8px;
    padding: 16px;
    transition-duration: 1s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
}
.notifications .notification-show {
    transform: translateY(200px);
    opacity: 0;
}
.notifications .notification-hide {
    opacity: 0;
}
.notification .spinner {
    width: 20px;
    height: 20px;
    float: right;
    margin-left: 10px;
    background-color: #fff;
}
