@import "theme/m3-theme.css.scss";
@import "theme/rouge-hardcoded-light.css.scss";

body {
  font-size: 14px;
  font-family: helvetica, sans-serif;
}

a {
  color: $primary-40;
  text-decoration: none;
}

.error-list {
  margin: 10px 0;
}

.error-report {
  margin: 25px 0;
  font-family: monospace;
  font-size: 12px;
}

.error-json {
  margin: 8px;
  border-left: 3px solid $danger-60;
  padding-left: 8px;
  white-space: pre;
}
