.mdi::before {
  font-size: 24px;
  line-height: 26px;
}

.mdi.mdi-12::before {
  font-size: 12px;
  line-height: 14px;
}

.mdi.mdi-16::before {
  font-size: 16px;
  line-height: 18px;
}

.mdi.mdi-18::before {
  font-size: 18px;
  line-height: 20px;
}

.mdi.mdi-24::before {
  font-size: 24px;
  line-height: 26px;
}

.mdi.mdi-36::before {
  font-size: 36px;
  line-height: 38px;
}

.mdi.mdi-48::before {
  font-size: 48px;
  line-height: 50px;
}

.visible-xs.mdi::before {
  margin-top: 12px;
}

.mdi.mdi-icons-strikethrough::after {
  position: relative;
  top: -36px;
  left: 27px;
  width: 0;
  height: 0;
  content: "|";
  display: block;
  font-weight: bold;
  font-size: 250%;
  transform: rotate(45deg);
}

.btn .mdi::before {
  position: relative;
}

.dropdown-menu .mdi {
  width: 18px;
}

.dropdown-menu .mdi::before {
  position: relative;
  top: 2px;
  left: -8px;
}

.dropdown-menu .mdi-box::before {
  left: 10px;
  position: relative; // required to use left
}

.dodona-navbar {
  .actions,
  .dropdown {
    .mdi::before {
      vertical-align: text-bottom;
      line-height: 30px;
    }
  }
}

.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}

.breadcrumb a:hover {
  text-decoration: none;
}

.breadcrumb a:hover span {
  text-decoration: underline;
}

.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}

.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px;
}

.filter-icon {
  color: $on-surface-muted;
  letter-spacing: -2px;

  /* make sure the tooltip with the filtering information is centered
  regarding the filter icon (displayed when hovering over the icon) */

  cursor: pointer;
  position: relative;
  top: 3px; // move the icon downwards
  margin-right: 3px; // add spacing between text and the icon

  &:hover {
    color: $on-surface;
  }
}

.custom-material-icons {
  display: inline-block;
  width: 24px;
  height: 24px;

  &.fix-alignment {
    position: absolute;

    /* stylelint-disable-next-line selector-class-pattern */
    &.square_edit {
      top: 11px;
      right: 10px;
    }
  }

  &.md-12 {
    width: 12px;
    height: 12px;
  }

  &.md-18 {
    width: 18px;
    height: 18px;
  }

  &.md-24 {
    width: 24px;
    height: 24px;
  }

  &.md-36 {
    width: 36px;
    height: 36px;
  }

  &.md-48 {
    width: 48px;
    height: 48px;
  }
}

.mdi.mdi-colored-accent {
  &.accent-red {
    color: $red-container;
  }

  &.accent-pink {
    color: $pink-container;
  }

  &.accent-purple {
    color: $purple-container;
  }

  &.accent-deep-purple {
    color: $deep-purple-container;
  }

  &.accent-indigo {
    color: $indigo-container;
  }

  &.accent-teal {
    color: $teal-container;
  }

  &.accent-orange {
    color: $orange-container;
  }

  &.accent-brown {
    color: $brown-container;
  }

  &.accent-blue-gray {
    color: $blue-gray-container;
  }

  &.accent-blue {
    color: $blue-container;
  }

  &.accent-yellow {
    color: $yellow-container;
  }

  &.accent-green {
    color: $green-container;
  }

  &.accent-cyan {
    color: $cyan-container;
  }
}
