.mdi::before {
  font-size: 24px;
  line-height: 26px;
}

.mdi.mdi-12::before {
  font-size: 12px;
  line-height: 14px;
}

.mdi.mdi-16::before {
  font-size: 16px;
  line-height: 18px;
}

.mdi.mdi-18::before {
  font-size: 18px;
  line-height: 20px;
}

.mdi.mdi-24::before {
  font-size: 24px;
  line-height: 26px;
}

.mdi.mdi-36::before {
  font-size: 36px;
  line-height: 38px;
}

.mdi.mdi-48::before {
  font-size: 48px;
  line-height: 50px;
}

.visible-xs.mdi::before {
  margin-top: 12px;
}

.mdi.mdi-icons-strikethrough.mdi-18:after {
  position: relative;
  top: -27px;
  left: 19px;
  width: 0;
  height: 0;
  content: "|";
  display: block;
  font-weight: bold;
  font-size: 200%;
  transform: rotate(45deg);
}

.btn .mdi::before {
  position: relative;
}

a.btn-fab .mdi::before {
  margin-top: 5px;
}

.btn-fab.mdi-send {
  padding-left: 12px;
}
.btn-sm .mdi::before {
  font-size: 18px;
  margin-top: 3px;
}

.btn-sm .mdi::before {
  font-size: 18px;
  margin-top: 3px;
}


.dropdown-menu .mdi {
  width: 18px;
}

.dropdown-menu .mdi::before {
  position: relative;
  top: 2px;
  left: -8px;
}
.dropdown-menu .mdi-box::before {
  left: 10px;
  position: relative; // required to use left
}

.dodona-navbar {
  .actions , .dropdown {
    .mdi::before {
      vertical-align: text-bottom;
      line-height: 30px;
    }
  }
}

.nav .mdi::before {
  position: relative;
  top: 4px;
}

.breadcrumb .mdi::before {
  position: relative;
  top: 4px;
}

.breadcrumb a:hover {
  text-decoration: none;
}

.breadcrumb a:hover span {
  text-decoration: underline;
}

.alert .mdi::before {
  position: relative;
  top: 4px;
  margin-right: 2px;
}

.input-group-addon .mdi::before {
  position: relative;
  top: 3px;
}

.navbar-brand .mdi::before {
  position: relative;
  top: 2px;
  margin-right: 2px;
}

.list-group-item .mdi::before {
  position: relative;
  top: 3px;
  left: -3px
}

.filter-icon {
  color: $text-secondary;

  letter-spacing: -2px;
  /* make sure the tooltip with the filtering information is centered
  regarding the filter icon (displayed when hovering over the icon) */

  cursor: pointer;
  position: relative;
  top: 3px; // move the icon downwards
  margin-right: 3px; // add spacing between text and the icon

  &:hover {
    color: $text-color;
  }
}

.custom-material-icons {
  display: inline-block;
  width: 24px;
  height: 24px;

  &.fix-alignment {
    position: absolute;

    &.square_edit {
      top: 11px;
      right: 10px;
    }
  }

  &.md-12 {
    width: 12px;
    height: 12px;
  }

  &.md-18 {
    width: 18px;
    height: 18px;
  }

  &.md-24 {
    width: 24px;
    height: 24px;
  }

  &.md-36 {
    width: 36px;
    height: 36px;
  }

  &.md-48 {
    width: 48px;
    height: 48px;
  }
}

.mdi.mdi-colored-accent {
  &.accent-red {
    color: $color-red-bg;
  }
  &.accent-pink {
    color: $color-pink-bg;
  }
  &.accent-purple {
    color: $color-purple-bg;
  }
  &.accent-deep-purple {
    color: $color-deep-purple-bg;
  }
  &.accent-indigo {
    color: $color-indigo-bg;
  }
  &.accent-teal {
    color: $color-teal-bg;
  }
  &.accent-orange {
    color: $color-orange-bg;
  }
  &.accent-brown {
    color: $color-brown-bg;
  }
  &.accent-blue-grey {
    color: $color-blue-grey-bg;
  }
  &.accent-blue {
    color: $color-blue-bg;
  }
  &.accent-yellow {
    color: $color-yellow-bg;
  }
  &.accent-green {
    color: $color-green-bg;
  }
  &.accent-cyan {
    color: $color-cyan-bg;
  }
}
