.home-cover-img {
    position: absolute;
    left: 0;
    top: 0;
    height: 300px;
    width: 100%;
    background-image: image-url('matrix.jpg');
    z-index: -1;
}
.home-card .card-title-text {
    font-size: 36px;
    line-height: 1.8;
}
.home-card img {
    width: 100%;
}
.home-summary-card h5 {
    line-height: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.home-summary-card .dynamic-homepage-series-link,
.home-summary-card .course-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.home-summary-card .deadlines p:last-child,
.home-summary-card .recents p:last-child {
    margin-bottom: 0;
}
.home-summary-card.user .deadlines small.deadline-ok,
.home-summary-card.user .deadlines small.deadline-passed {
    font-size: 100%;
    line-height: 2;
}
.home-summary-card .recents .submission-status.glyphicon {
    margin-right: 5px;
    margin-bottom: 5px;
}
.home-summary-card .recents .course-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.home-summary-card .course-link:hover {
    color: @gray;
}
.home-summary-card .stats h1 {
    margin-top: -10px;
}
.home-summary-card.getting-started {
    background-color: @accent-800;
}
.home-summary-card.getting-started .card-media {
    background-color: inherit;
}
.home-summary-card.getting-started .card-title {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.home-summary-card.getting-started .getting-started-text {
    margin-right: 45px;
    margin-top: 10px;
    margin-bottom: 15px;
    @media (max-width: 480px) {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}
.home-summary-card.getting-started .getting-started-action {
    background: white;
}
.row.v-align {
    display: flex;
    align-items: center;
}
.sign-in-wrapper a {
    border-radius: 2px;
    display: block;
}
a.link-accent-red {
    color: @color-red;
}
a.link-accent-pink {
    color: @color-pink;
}
a.link-accent-purple {
    color: @color-purple;
}
a.link-accent-deep-purple {
    color: @color-deep-purple;
}
a.link-accent-indigo {
    color: @color-indigo;
}
a.link-accent-teal {
    color: @color-teal;
}
a.link-accent-orange {
    color: @color-orange;
}
a.link-accent-brown {
    color: @color-brown;
}
a.link-accent-blue-grey {
    color: @color-blue-grey;
}
