.home-cover-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 380px;
  width: 100%;
  background: @primary-800;
  z-index: -1;
}

.home-header img {
  margin-top: -35px;
  margin-bottom: -10px;
  @media (max-width: 991px) {
    margin-top: 20px;
  }
}

.home-lead {
  color: @white-text;
  margin-bottom: 20px;
  .btn, .btn:active {
    border-radius: 2px;
    background-color: white;
    border-color: @primary-800;
    color: @primary-800;
    text-transform: uppercase;
  }
  .btn:active {
    background-color: @grey-100;
  }
  .lead {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 24px;
  }
}

.home-card .card-title-text {
  font-size: 36px;
  line-height: 1.8;
}

.home-card .ugent {
  img {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  p {
    margin-top: 12px;
    line-height: 20px;
  }
}

.info-step p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.info-step img {
  padding-left: 25px;
  padding-right: 25px;
  @media (max-width: @screen-sm-min) {
    margin: auto;
  }
}

.home-summary-card h5 {
  line-height: 18px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.home-summary-card .dynamic-homepage-series-link,
.home-summary-card .course-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.home-summary-card .deadlines p:last-child,
.home-summary-card .recents p:last-child {
  margin-bottom: 0;
}

.home-summary-card.user .deadlines small.deadline-ok,
.home-summary-card.user .deadlines small.deadline-passed {
  font-size: 100%;
  line-height: 2;
}

.home-summary-card .recents .submission-status.material-icons {
  margin-right: 5px;
  margin-bottom: 5px;
}

.home-summary-card .deadlines .course-link,
.home-summary-card .recents .course-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.home-summary-card .course-link:hover {
  color: @gray;
}

.home-summary-card .stats h1 {
  margin-top: -10px;
}

.home-summary-card.getting-started {
  background-color: @accent-800;
}

.home-summary-card.getting-started .card-media {
  background-color: inherit;
}

.home-summary-card.getting-started .card-title {
  color: @white-text;
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-summary-card.getting-started .getting-started-text {
  margin-right: 45px;
  margin-top: 10px;
  margin-bottom: 15px;
  @media (max-width: 480px) {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
  }
}

.home-summary-card.getting-started .getting-started-action {
  background: @content-bg;
}

.ellipsis-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recents span.pull-left {
  padding-right: 2px;
}

.row.v-align {
  display: flex;
  align-items: center;
}

.sign-in-wrapper a {
  border-radius: 2px;
  display: block;
}

// sign in page
.sign-in-dialog-wrapper {
  margin: auto;
  // 1 column
  @media (max-width: 768px) {
    width: 350px;
  }
  // 2 columns
  @media (min-width: 768px) and (max-width: 1200px) {
    width: 750px;
  }
  // 3 columns
  @media (min-width: 1200px) {
    width: 1150px;
  }
}

.sign-in-dialog-wrapper h1 {
  line-height: 1;
  margin-bottom: 15px;
}

.sign-in-dialog-wrapper h1 small {
  line-height: 2;
  font-size: 50%;
}

.sign-in-dialog-header {
  padding: 15px;
}

.institution {
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 12px;
  background-color: @content-bg;
  border-radius: 2px;
  transition: box-shadow 0.1s cubic-bezier(.4, 0, .2, 1);
  .shadow-z2();
  cursor: pointer;
}

.institution:hover {
  .shadow-z4();
}

a.institution-sign-in {
  color: @text-color;
}

a.institution-sign-in:link,
a.institution-sign-in:visited,
a.institution-sign-in:hover,
a.institution-sign-in:active {
  text-decoration: none;
}

.institution-logo {
  img {
    width: 70px;
    height: 70px;
    object-position: 50% 50%;
    object-fit: contain;
  }
  margin-right: 12px;
}

.institution-name {
  flex-grow: 1;
}

.institution-name h3 {
  line-height: 1;
}

.institution-go {
}

a.link-accent-red {
  color: @color-red;
}

a.link-accent-pink {
  color: @color-pink;
}

a.link-accent-purple {
  color: @color-purple;
}

a.link-accent-deep-purple {
  color: @color-deep-purple;
}

a.link-accent-indigo {
  color: @color-indigo;
}

a.link-accent-teal {
  color: @color-teal;
}

a.link-accent-orange {
  color: @color-orange;
}

a.link-accent-brown {
  color: @color-brown;
}

a.link-accent-blue-grey {
  color: @color-blue-grey;
}
