.feedback-table .tutorlink {
    margin: 5px;
}

.feedback-table .row.group.correct .tutorlink {
    color: @success-500;
}

#tutor .modal-dialog.tutor {
    width: 90%;
}

#tutor .modal-body {
    min-height: 200px;
}

.feedback-table .row.group.wrong .tutorlink {
    color: @danger-500;
}

 #tutor #info-modal{
    position: fixed;
    outline: none;
}

#tutor #tutorelement {
    overflow: scroll;
    height: 500px;
    position: relative;
}

#tutorviz {
    background-color: white;
    min-height: 200px;
}

.modal-header .icons {
    float: right;
}

a.tutorlink.disabled {
    visibility: hidden;
}

/* Fulscreen css */

#tutor.fullscreen .modal-dialog.tutor{
    position: fixed;
    height: 100%;
    width: 100%;
}

#tutor.fullscreen .modal-dialog.tutor .modal-content, .modal-body {
    width: 100%;
    height: 100%;
}

#tutor.fullscreen #tutorcontent {
    height: 100%;
}


/* Set visibility of fullscreen icon hidden for now */
/*#tutor .fullscreen {
    visibility: hidden;
}*/