.feedback-table .row.group.correct .tutorlink {
    color: @success-500;
}

#tutor .modal-dialog.tutor {
    width: 90%;
}

.feedback-table .row.group.wrong .tutorlink {
    color: @danger-500;
}

 #tutor #info-modal{
    position: fixed;
    outline: none;
}

#tutor #tutorelement {
    overflow: scroll;
    height: 600px;
    position: relative;
}
