// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

.btn-group.open .dropdown-toggle.btn-icon {
    box-shadow: none;
}
.dropdown-menu a,
.dropdown-menu a:hover {
    font-size: @font-size-base;
}
.dropdown-menu a .glyphicon {
    padding-right: 5px;
}

.add-exercise-action {
    width: 25px;
}
.series-exercise-list .exercise {
    height: 40px;
    transition: opacity 0.5s ease-in-out;
}
.series-exercise-list .exercise.new {
    opacity: 0;
}
.series-exercise-list .exercise.pending {
    opacity: 0.5;
}

.exercise.gu-mirror .actions,
.series-exercise-list .exercise .actions {
    text-align: right;
}
.exercise .drag-handle {
    color: @black-disabled;
}
.exercise .drag-handle .glyphicon {
    cursor: grab;
}
.exercise.gu-mirror .drag-handle .glyphicon {
    cursor: grabbing;
}
.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover {
    background: @accent-500;
    color: #fff;
    border-color: @accent-500;
}
.deadline-passed {
    color: @danger-800;
}
.deadline-ok {
    color: @success-800;
}

.scoresheet-table {
    table-layout: fixed;
}
.status-icon-header {
    overflow: hidden;
}
.status-icon, .status-icon-header {
    text-align: center;
}

.submission-status-button {
    a {
        color: @accent-500;
    }
}
.card.series-overview {
    overflow: visible;
}

.card.series {
    .card-subtitle {
        margin-bottom: 16px;
    }
    .card-subtitle h4 {
        line-height: 20px;
    }
    .card-subtitle h4 small{
        font-size: 65%;
    }
    .card-title-icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 40px;
        margin-right: 16px;
    }
}