.add-exercise-action {
  width: 25px;
}

.series-exercise-list .exercise {
  height: 40px;
  transition: opacity 0.5s ease-in-out;
}

.series-exercise-list .exercise.new {
  opacity: 0;
}

.series-exercise-list .exercise.pending {
  opacity: 0.5;
}

.exercise.gu-mirror .actions,
.series-exercise-list .exercise .actions {
  text-align: right;
}

.deadline-passed {
  color: @danger-800;
}

.deadline-ok {
  color: @success-800;
}

.scoresheet-table {
  table-layout: fixed;
}

.status-icon-header {
  overflow: hidden;
}

.status-icon, .status-icon-header {
  text-align: center;
}

.submission-status-button {
  a {
    color: @accent-500;
  }
}

.card.series-overview {
  overflow: visible;
}

.card.series {
  // position: relative (bootstrap default) starts a new stacking context which messes up the z-indices
  position: unset;
  overflow: visible;
  z-index: 0;

  .dropdown-menu {
    z-index: 991;
  }

  .card-subtitle {
    position: relative;
    margin-bottom: 16px;
  }
  .card-subtitle h4 {
    line-height: 20px;
  }
  .card-subtitle h4 small {
    font-size: 65%;
  }
  .card-title-icon {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    margin-right: 16px;
    border-radius: 50%;
    background-color: @grey-300;

    &.deadline-missed:after {
      color: @danger-800;
      background-color: @content-bg;
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      top: 23px;
      left: 23px;
      content: 'alarm_off';
      font-family: 'Material Icons';
    }

    &.deadline-met:not(.completed):after {
      color: @success-500;
      background-color: @content-bg;
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      top: 23px;
      left: 23px;
      content: 'alarm';
      font-family: 'Material Icons';
    }

    i {
      color: @grey-300;
      background: #fff;
      border-radius: 50%;
      border: 5px solid #fff;
    }

    &.wrong {
      background-color: @danger-500;
      i {
        color: @danger-500;
      }
    }

    &.started, &.completed.deadline-missed {
      background-color: @success-500;
      i {
        color: @success-500;
      }
    }

    &.completed:not(.deadline-missed) {
      @red: #F44336;
      @orange: #FF9800;
      @yellow: #FFEB3B;
      @green: #4CAF50;
      @blue: #2196F3;
      @purple: #9C27B0;

      @p1: 10%;
      @p2: 25%;
      @p3: 40%;
      @p4: 60%;
      @p5: 75%;
      @p6: 90%;

      background-image: linear-gradient(-135deg,
      @red @p1,
      @orange @p2,
      @yellow @p3,
      @green @p4,
      @blue @p5,
      @purple @p6
      );

      i {
        font-weight: bolder;
        font-size: 32px;
        background: transparent;
        border: transparent;
        color: white;
      }
    }
  }
}

.card.series-edit {
  overflow: visible;
}

.material-icons-alarm.md-12 {
  top: 2px;
}

.table.table-resource td.series-exercises-table-labels {
  white-space: normal;
}

.exercise-table-skeleton {
  width: 100%;

  .skeleton-head {
    border-bottom: solid 1px #ddd;
    height: 33px;
    background-repeat: no-repeat;
    background-image: linear-gradient(@grey-300 100%, transparent 0),
    linear-gradient(@grey-300 100%, transparent 0);
    background-size: 56px 12px,
    115px 12px;
    background-position: 58px 10px,
    ~'calc(100% - 75px)' 10px;
  }

  .skeleton-row {
    border-top: solid 1px #ddd;
    height: 40px;
    background-repeat: no-repeat;
    background-image: linear-gradient(@grey-300 100%, transparent 0),
    linear-gradient(@grey-300 100%, transparent 0),
    linear-gradient(@grey-300 100%, transparent 0),
    linear-gradient(@grey-300 100%, transparent 0);
    background-size: 90px 12px,
    24px 12px,
    90px 12px,
    8px 12px;
    background-position: 58px 15px,
    ~'calc(100% - 210px)' 15px,
    ~'calc(100% - 100px)' 15px,
    ~'calc(100% - 25px)' 15px;
    padding-right: 8px;
  }
}
