<div class="message">
    <p>Hi <%= @request.user.first_name %>,</p>
    <p>
        Great news! Your Dodona account has been granted teacher
        rights. You can now create courses and add exercises to Dodona.
    </p>
    <p>
        If you have any further questions you can always contact us
        via <a href="mailto:<%= Rails.application.config.dodona_email %>"><%= Rails.application.config.dodona_email %></a>.
    </p>
    <p>
        Kind regards,<br/>
        Team Dodona
    </p>
</div>
