<div class="message">
    <p>Hi <%= @request.user.full_name %>,</p>
    <p>
        Good news! Your Dodona account has been granted teacher
        rights. You can now create courses and add exercises to the
        platform.
    </p>
    <p>
        If you have any further questions you can always contact us
        via <a href="mailto:dodona@ugent.be">dodona@ugent.be</a>.
    </p>
    <p>
        Kind regards,<br/>
        Team Dodona
    </p>
</div>
