<div class="message">
    <p>Hi <%= @request.user.full_name %></p>
    <p>
        Your request for teacher rights was not granted. If you think
        this was done by mistake you should contact us via
        <a href="mailto:dodona@ugent.be">dodona@ugent.be</a>.
    </p>
    <p>
        Kind regards,<br/>
        Team Dodona
    </p>
</div>
