Hi <%= @request.user.full_name %>

Your request for teacher rights was not granted. If you think this was
done by mistake you should contact us via
<a href="mailto:dodona@ugent.be">dodona@ugent.be</a>.

Kind regards,
Team Dodona
