<div class="message">
    <p>Dag <%= @request.user.first_name %></p>
    <p>
        We konden je aanvraag voor lesgeversrechten helaas niet goedkeuren. Als je denkt dat dit foutief gebeurde, contacteer ons dan via <a href="mailto:<%= Rails.application.config.dodona_email %>"><%= Rails.application.config.dodona_email %></a>.
    </p>
    <p>
        Met vriendelijke groeten,<br/>
        Team Dodona
    </p>
</div>
