<div class="message">
    <p>Dag <%= @request.user.full_name %></p>
    <p>
        Je aanvraag voor lesgeversrechten werd spijtig genoeg niet
        ingewilligd. Als je denkt dat dit foutief gebeurde contacteer
        je ons best via
        <a href="mailto:dodona@ugent.be">dodona@ugent.be</a>.
    </p>
    <p>
        Met vriendelijke groeten,<br/>
        Team Dodona
    </p>
</div>
