<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
      </div>
      <div class="card-supporting-text">
        <d-filter-tabs labels="<%= @tabs.to_json %>"></d-filter-tabs>
        <%= render partial: 'layouts/searchbar', locals: {labels: @labels, no_dropdown_for: ["judge"]} %>
        <div id="activities-table-wrapper">
          <%= render partial: 'activities_table', locals: {activities: @activities} %>
        </div>
      </div>
    </div>
  </div>
</div>
