<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'layouts/searchbar', locals: {labels: @labels, programming_languages: @programming_languages, repositories: @repositories, activity_types: [ContentPage, Exercise], description_languages: ["English", "Nederlands"]} %>
        <div id="activities-table-wrapper">
          <%= render partial: 'activities_table', locals: {activities: @activities} %>
        </div>
      </div>
    </div>
  </div>
</div>
