<li class="action">
  <%= link_to url, link_options.merge(title: title) do %>
    <% if defined?(icon) && icon.present? %>
      <i class='mdi mdi-<%= icon %>'></i>
    <% elsif defined?(custom_icon_name) %>
      <%= custom_icon custom_icon_name %>
    <% end %>
    <span class="dropdown-title"><%= title %></span>
  <% end %>
</li>
