<%
    wrong = tried - correct
    not_started = total - tried
    _total = total + 0.0001
    parts = [
        { percent: correct / _total, class: 'correct' },
        { percent: wrong / _total, class: 'wrong' },
        { percent: not_started / _total, class: 'not-started' }
    ]
    if total == 0 && tried == 0 && correct == 0
      parts[0][:percent] = 1
    end

    cumulativePercent = 0

    parts = parts.map do |part|
        startX, startY = [cumulativePercent, 0.5]
        cumulativePercent += part[:percent]
        endX, endY = [cumulativePercent, 0.5]

        "<line class='#{part[:class]}' x1='#{startX}' y1='#{startY}' x2='#{endX}' y2='#{endY}' />"
    end

    width ||= 100
    tooltip = %w[tried correct wrong not_started]
      .filter { |v| binding.local_variable_defined? "info_#{v}" }
      .map { |v| t(binding.local_variable_get("info_#{v}"), count: binding.local_variable_get(v)) }
      .join('<br />')
    muted ||= false
%>

<%# You might think that this span here is useless, but you think wrong: https://github.com/twbs/bootstrap/issues/20381 %>
<span data-bs-html="true" data-bs-toggle='tooltip' title="<%= tooltip %>">
  <svg viewBox="0 0 1 1" preserveAspectRatio="none" height="8" width="<%= width %>" class='progress-chart <%= muted ? 'colored-muted' : '' %>'>
      <%= raw parts.join("") %>
  </svg>
</span>
