
<div class="row">
  <div class="col-xs-12">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('.title', user: @review.review_user.user.full_name, exercise: @review.review_exercise.exercise.name) %></h2>
      </div>
      <div class="card-supporting-text card-border">
        <%= render partial: 'layouts/searchbar', locals: { statuses: Submission.statuses.keys } %>
        <div id="submissions-table-wrapper">
          <%= render partial: 'submissions_table', locals: { submissions: @submissions } %>
        </div>
      </div>
    </div>
  </div>
</div>
