<div class="row">
  <div class="col-xs-12">
    <div class="card review-show">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t('review_session.title', series: @review_session.series.name) %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: "edit_review_session_#{@review_session.id}", icon: 'check' %>
        </div>
      </div>
      <div class="card-supporting-text card-border">
        <%= render 'wizard', review_session: @review_session, url: review_session_path(@review_session) %>
      </div>
    </div>
  </div>
</div>
