<table class="table exercise-table">
  <thead>
    <tr>
      <th class='status-icon'></th>
      <th><%= t "exercises.index.exercise"%></th>
      <th class='count'></th>
      <% if user_signed_in? %>
        <th class='status'><%= t "exercises.index.status"%></th>
        <th class='status-icon'></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% exercises.each do |ex| %>
      <%= render(partial: 'exercises/exercise', locals: {exercise: ex, series: local_assigns.fetch(:series, nil)}) %>
    <% end %>
  </tbody>
</table>
<center><%= page_navigation_links exercises, true, "exercises" if exercises.try(:total_pages) %></center>
