<table class="table exercise-table">
  <thead>
    <tr>
      <% if user_signed_in? && current_user.admin? %>
        <th class='status-icon'></th>
      <% end %>
      <th><%= t "exercises.index.exercise"%></th>
      <th class='count'></th>
      <% if user_signed_in? %>
        <th class='status'><%= t "exercises.index.status"%></th>
      <% end %>
      <th class='status-icon'></th>
    </tr>
  </thead>
  <tbody>
    <%= render(exercises) %>
  </tbody>
</table>
<center><%= page_navigation_links exercises, true, "exercises" if exercises.try(:total_pages) %></center>
