<table class="table">
  <thead>
    <tr>
      <th><%= t "exercises.index.exercise"%></th>
      <th></th>
      <% if user_signed_in? %>
      <th><%= t "exercises.index.status"%></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render exercises  %>
  </tbody>
</table>
<center><%= page_navigation_links exercises, false %></center>
