<% if summary.solved_before_deadline? %>
  <span class="glyphicon glyphicon-ok colored-correct %>"></span>
<% elsif summary.solved? %>
  <span class="glyphicon glyphicon-ok colored-wrong %>"></span>
<% elseif summary.submitted? %>
    <span class="glyphicon glyphicon-remove colored-wrong"></span>
<% end %>
