<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <% content_for :fab do %>
      <%= render 'fab_button', form: "edit_exercise_#{@exercise.id}", icon: 'ok' %>
    <% end %>
    <%= render 'layouts/card', title: @exercise.name do %>
      <div class="card-supporting-text">
        <%= render 'form', exercise: @exercise %>
      </div>
    <% end %>
  </div>
</div>
