<!-- editor -->
<div class="row">
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-10 col-xs-12">
        <div class="panel panel-primary" id="editor">
            <!-- editor header -->
            <div class="panel-heading">
                <div class="btn-group pull-right" id="editor-menu">
                    <button class="btn btn-sm btn-primary" id="editor-process-btn">
                        <span class="glyphicon glyphicon-play"></span>
                    </button>
                </div>
                <h3 class="panel-title"><strong>Oefening: <%= @exercise.name %></strong></h3>
            </div>
            <!-- editor body -->
            <div class="panel-body" id="editor-window">
                <textarea class="form-control" id="editor-text" rows="15" placeholder="voeg hier je oplossing in"></textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs"></div>
</div>
<!-- feedback table -->
<div class="row">
    <div class="col-sm-1 hidden-xs"></div>
    <div class="col-sm-10 col-xs-12">
        <div class="panel panel-primary" id="feedback">
            <!-- feedback table header -->
            <div class="panel-heading">
                <strong>Feedback</strong>
                <span class="whirl" id="feedback-loading"></span>
                <div class="pull-right" id="feedback-menu">
                    correct <span class="badge" id="tests-correct">0</span>
                    verkeerd <span class="badge" id="tests-wrong">0</span>
                    <div class="btn-group">
                        <span class="dropdown">
                            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="feedback-menu-btn" data-toggle="dropdown" aria-expanded="true">
                                <span class="glyphicon glyphicon-menu-hamburger"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="feedback-menu-btn">
                                <li role="presentation" id="feedback-menu-toggle-correct"><a role="menuitem" tabindex="-1" href="#">hide correct</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
            <!-- feedback table body -->
            <table class="table table-condensed">
                <tbody id="feedback-table"></tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs"></div>
</div>
<script type="text/javascript">
  $(function () {
    init_exercise_show(`<%= raw(@exercise.tests) %>`);
  });
</script>
