<% progress_class = if summary.completed?
                      'completed'
                    elsif summary.wrong?
                      'wrong'
                    elsif summary.started?
                      'started'
                    end %>
<div class="card-title-icon <%= progress_class %> <%= 'deadline-missed' if summary.deadline_missed? %>">
  <% if summary.completed? %>
    <i class="material-icons completed<%='-after-deadline' if summary.deadline_missed? %>">done</i>
  <% elsif summary.wrong? %>
    <i class="material-icons wrong">close</i>
  <% elsif summary.started? %>
    <i class="material-icons started">thumb_up</i>
  <% else %>
    <i class="material-icons">school</i>
  <% end %>
</div>

