<%= text_field_tag type, value, readonly: true, class: 'form-control' %>
<span class="input-group-btn">
  <button class="btn btn-default" onclick="alert('Nog niet geïmplementeerd.')">
    <span class='glyphicon glyphicon-copy'></span>
  </button>
  <%= link_to update_token_series_path(@series, type: type),
    title: t('series.edit.generate'),
    method: :post,
    data: { confirm: t('series.edit.refresh_confirm') },
    remote: true,
    class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-refresh"></span>
  <% end %>
</span>
