<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= t ".title" %></h2>
        <div class="card-title-fab">
          <%= render 'fab_button', form: 'new_series', icon: 'check' %>
        </div>
      </div>
      <%= render 'form', series: @series %>
    </div>
  </div>
</div>
