<div class="row">
  <div class="col-xs-12">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text">
          <%= "#{@series.name} (#{@course.name})" %>
        </h2>
      </div>
      <div class="card-supporting-text">
        <%= render partial: 'layouts/searchbar', locals: {
            actions: [
                {text: t('.at_least_one_started'), search: {at_least_one_started: true}},
                {text: t('series.scoresheet.download'), url: scoresheet_download_series_path }
            ],
            course_labels: @course_labels
        } %>
        <div id="scoresheet-table-wrapper">
          <%= render partial: "scoresheet_table", locals: {course: @course, series: @series, exercises: @exercises, users: @users, submission_hash: @submission_hash} %>
        </div>
      </div>
    </div>
  </div>
</div>
