<% if !current_user&.member_of?(@course) && @lti_launch %>
  <%= render 'courses/not_a_member_dialog' %>
<% end %>

<div class="row">
  <div class="col-sm-10 offset-sm-1 col-12">
    <h2><%= @series.course.name %></h2><br>
    <%= render(partial: 'series/series', locals: {series: @series, user: @user}) %>
  </div>
</div>
