name: Lint

on:
  push:
    branches:
      - master
      - develop
    tags:
      - '*'
  pull_request:

jobs:
  ruby:
    name: Ruby
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use ruby from .ruby-version
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Lint with rubocop
      env:
        RAILS_ENV: "test"
      run: |
        bundle exec rubocop -c  .rubocop.yml

  javascript:
    name: JavaScript
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node
      uses: actions/setup-node@v2
      with:
        node-version: 12.x
        cache: yarn
    - name: Install dependencies
      run: |
        yarn install
    - name: Lint
      run: |
        yarn lint --quiet
