<div class="row">
  <div class="<%= width %>">
    <div class="card">
      <div class="card-title card-title-colored">
        <h2 class="card-title-text"><%= title %></h2>
        <div class="card-title-fab">
          <%= yield :fab %>
        </div>
      </div>
      <div class="card-supporting-text">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
