<footer class="footer">
  <div class="footer-block">
    &copy; <%= Date.today.year %> <%= t "layout.footer.ugent" %>.
  </div>
  <div class='footer-spacer'></div>
  <div class="footer-block">
    <div class='footer-version'>
      Dodona v1.4
    </div>
  </div>
</footer>
