<div id="progress-filter" class="dodona-progress dodona-progress-indeterminate">
  <div class="progressbar bar bar1" style="width: 0%;"></div>
  <div class="bufferbar bar bar2" style="width: 100%;"></div>
  <div class="auxbar bar bar3" style="width: 0%;"></div>
</div>
