<div class='table-toolbar'>
  <div class='table-toolbar-tools'>
    <span class='glyphicon glyphicon-search'></span>
    <form class='search' onsubmit="return false;">
      <input type='text' id='filter-query' placeholder='<%= t("layout.search.search") %>' name='filter' autocomplete="off"></input>
      <div id="progress-filter" class="dodona-progress dodona-progress-indeterminate">
        <div class="progressbar bar bar1" style="width: 0%;"></div>
        <div class="bufferbar bar bar2" style="width: 100%;"></div>
        <div class="auxbar bar bar3" style="width: 0%;"></div>
      </div>
    </form>
    <div class="btn-group hidden actions" id="kebab-menu">
      <a class="btn btn-icon dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-option-vertical"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    init_filter_index("<%=local_assigns.fetch :baseUrl, "" %>", <%= local_assigns.fetch :eager, false %>, <%=raw (local_assigns.fetch :actions, false).to_json %>);
  });
</script>
