<div class='table-toolbar'>
  <div class='table-toolbar-tools'>
    <span class='glyphicon glyphicon-search'></span>
    <form class='search' onsubmit="return false;">
      <input type='text' id='filter-query' placeholder='<%= t("layout.search.search") %>' name='filter' autocomplete="off"></input>
      <div id="progress-filter" class="dodona-progress dodona-progress-indeterminate">
        <div class="progressbar bar bar1" style="width: 0%;"></div>
        <div class="bufferbar bar bar2" style="width: 100%;"></div>
        <div class="auxbar bar bar3" style="width: 0%;"></div>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    init_filter_index("<%=local_assigns.fetch :baseUrl, "" %>");
  });
</script>
